<div class="advancement-name">
	<figure class="icon">
		<div class="advancement-origin" data-tooltip="{{advancement.item.name}}"
			style="--bf-advancement-color: {{advancement.item.accentColor}};"></div>
		<img src="{{icon}}">
	</figure>
	<h4>
		{{{title}}}
		{{blackFlag-notificationBadge advancement.actor key=warningKey}}
	</h4>
</div>
