<label>
	<span>{{localize "BF.Advancement.Core.Title.Label"}}</span>
	<input type="text" name="title" value="{{source.title}}" placeholder="{{default.title}}">
</label>

<label class="file">
	<span>{{localize "BF.Advancement.Core.Icon.Label"}}</span>
	{{filePicker type="image" target="icon"}}
	<input type="text" name="icon" value="{{source.icon}}" placeholder="{{default.icon}}">
</label>

{{#if showIdentifier}}
	<label>
		<span>{{localize "BF.Identifier.Label"}}</span>
		<input type="text" name="identifier" value="{{source.identifier}}" placeholder="{{default.identifier}}">
		{{#if default.identifierHint}}
			<p class="hint">
				{{{localize default.identifierHint identifier=identifier}}}
				<!-- <a class="identifier-hint-copy" data-tooltip="BF.Identifier.Action.Copy"><i class="far fa-clipboard"></i></a> -->
			</p>
		{{/if}}
	</label>
{{/if}}

{{#if showLevelSelector}}
	<label>
		<span>{{localize "BF.Level.Label[one]"}}</span>
		<select name="level" data-dtype="Number">
			{{selectOptions levels selected=advancement.level}}
		</select>
	</label>
{{/if}}
