<form autocomplete="off">
	<section>
		<ol>
			{{#each types as |advancement name|}}
				<li>
					<label>
						<figure><img src="{{advancement.icon}}"></figure>
						<h3>{{advancement.label}}</h3>
						<input name="type" type="radio" value="{{name}}" {{disabled advancement.disabled}}>
						<p class="hint">{{advancement.hint}}</p>
					</label>
				</li>
			{{/each}}
		</ol>
	</section>

	<nav class="dialog-buttons">
		<button class="dialog-button" data-button="submit" disabled>
			<i class="far fa-save"></i> {{localize "BF.Advancement.Core.Action.Create"}}
		</button>
	</nav>
</form>
