<form autocomplete="off" class="drop-target">
	{{#if advancement.configuration.hint}}
		<p>{{advancement.configuration.hint}}</p>
	{{/if}}
	{{#each choices}}
		<section class="option" data-uuid="{{this.document.uuid}}">
			<div class="info">
				<header>
					<h1 class="name">{{this.document.name}}</h1>
					<div class="source">{{this.system.description.source}}</div>
				</header>
				<div class="description">
					{{#if this.prerequisite}}
						<p class="prerequisite">
							{{localize "BF.Prerequisite.Label"}}: {{{this.prerequisite}}}
						</p>
					{{/if}}
					{{{this.enriched.description}}}
				</div>
			</div>
			<div class="choose">
				<button type="button" class="choose" {{disabled this.invalid}}>
					{{localize "BF.Action.Choose.Generic"}}
				</button>
			</div>
		</section>
	{{/each}}
	{{#if allowDrops}}
		<section class="drop-area">
			<p class="hint">{{dropLabel}}</p>
		</section>
	{{/if}}
</form>
