<form autocomplete="off">
	<section class="left-column">
		<fieldset>
			<legend>{{ localize "BF.Advancement.Config.Details" }}</legend>
			{{> "blackFlag.advancement-controls" }}
		</fieldset>
		<fieldset>
			<legend>{{ localize "BF.Advancement.ChooseFeatures.ChoiceDetails" }}</legend>
			<label>
				<span>{{ localize "BF.Advancement.ChooseFeatures.Type.Label" }}</span>
				<select name="configuration.type">
					{{ selectOptions validTypes selected=configuration.type }}
				</select>
			</label>
			{{#if typeRestriction}}
				<label>
					<span>{{ typeRestriction.categoryLabel }}</span>
					<select name="configuration.restriction.category">
						{{ selectOptions typeRestriction.categoryOptions selected=configuration.restriction.category blank="—" }}
					</select>
				</label>

				{{#if typeRestriction.typeOptions}}
					<label>
						<span>{{ typeRestriction.typeLabel }}</span>
						<select name="configuration.restriction.type">
							{{ selectOptions typeRestriction.typeOptions selected=configuration.restriction.type blank="—" }}
						</select>
					</label>
				{{/if}}
			{{/if}}
		</fieldset>
		<fieldset class="items drop-area drop-target">
			<legend>{{ localize "BF.Item.Type.Feature[other]" }}</legend>
			<label>
				<span class="hinted-label" data-tooltip="BF.Advancement.Config.AllowDrops.Hint">
					{{ localize "BF.Advancement.Config.AllowDrops.Label" }}
				</span>
				<input type="checkbox" name="configuration.allowDrops" {{ checked configuration.allowDrops }}>
			</label>
			<ol>
				{{#each configuration.pool}}
					<li data-item-uuid="{{ uuid }}">
						<span class="name">{{{ blackFlag-linkForUUID uuid }}}</span>
						<span class="controls">
							<button type="button" class="link-button" data-action="delete"
											data-tooltip="BF.Item.Action.Delete"
											aria-label="{{ localize 'BF.Item.Action.Delete' }}">
								<i class="fa-solid fa-trash" inert></i>
							</button>
						</span>
					</li>
				{{/each}}
			</ol>
			<p class="hint">{{ localize "BF.Advancement.Config.DropHint" }}</p>
		</fieldset>
	</section>

	<section class="right-column">
		<fieldset>
			<legend class="hinted-label" data-tooltip="BF.Advancement.ChooseFeatures.Choices.Hint">
				{{ localize "BF.Advancement.ChooseFeatures.Choices.Label" }}
			</legend>
			<ol class="level-list">
				{{#each levels as |label level|}}
					<li class="level">
						<label>
							<span>{{ label }}</span>
							{{ numberInput (lookup ../configuration.choices level) placeholder="0"
							               name=(concat "configuration.choices." level) min=1 step=1 }}
						</label>
					</li>
				{{/each}}
			</ol>
		</fieldset>
	</section>
</form>
