<form autocomplete="off" class="drop-target">
	{{#if replacements.length}}
		<section class="replacement">
			<div class="form-group">
				<label>{{ localize "BF.Advancement.ChooseFeatures.Replacement.Label" }}</label>
				<div class="form-fields">
					<select name="replaces">
						{{ selectOptions replacements }}
					</select>
				</div>
			</div>
		</section>
		<hr>
	{{/if}}
	{{#if advancement.hint}}
		<p>{{ advancement.hint }}</p>
	{{/if}}
	{{#each choices}}
		<section class="option" data-uuid="{{ document.uuid }}">
			<div class="info">
				<header>
					<h1 class="name">{{ document.name }}</h1><!-- TODO: Shouldn't be an H1 -->
					<div class="source">{{ system.description.source.label }}</div>
				</header>
				<div class="description">
					{{#if this.prerequisite}}
						<p class="prerequisite">
							{{ localize "BF.Prerequisite.Label" }}: {{{ prerequisite }}}
						</p>
					{{/if}}
					{{{ enriched.description }}}
				</div>
			</div>
			<div class="choose">
				<button type="button" class="light-button choose" {{ disabled invalid }}>
					{{ localize "BF.Action.Choose.Generic" }}
				</button>
			</div>
		</section>
	{{/each}}
	{{#if allowDrops}}
		<section class="drop-area">
			<p class="hint">{{ dropLabel }}</p>
		</section>
	{{/if}}
</form>
