<fieldset>
	<legend>{{ document.name }}</legend>
	{{> ".level" }}
</fieldset>

{{#*inline ".level"}}
	<ul class="unlist">
		{{#each entries}}
			<li data-entry-id="{{ entry._id }}" data-entry-type="{{ entry.type }}">
				<div class="select">
					{{#if (eq ../parent.type "OR")}}
						<input type="radio" name="selection.{{ ../parent._id }}" value="{{ entry._id }}">
					{{/if}}
				</div>
				{{#if count}}
					<div class="count">{{ count }}</div>
				{{/if}}
				<div class="details">
					{{#if options}}
						<select name="selection.{{ entry._id }}">
							{{ blackFlag-groupedSelectOptions options blank=label rule=true }}
						</select>
					{{else if (eq entry.type "linked")}}
						{{ blackFlag-linkForUUID entry.key }}
					{{else}}
						{{> ".level" entries=entries parent=entry}}
					{{/if}}
				</div>
			</li>
		{{/each}}
	</ul>
{{/inline}}
