<form autocomplete="off" class="drop-target">
	<section>
		<fieldset>
			<legend>{{ localize "BF.Advancement.Config.Details" }}</legend>
			{{> "blackFlag.advancement-controls" }}
		</fieldset>
		<fieldset>
			<legend>{{ localize "BF.Advancement.GrantSpells.SpellSettings" }}</legend>
			{{> "blackFlag.advancement-spell-configuration" }}
		</fieldset>
		<fieldset class="items drop-area">
			<legend>{{ localize "BF.Item.Type.Spell[other]" }}</legend>
			<ol>
				{{#each configuration.pool}}
					<li data-item-uuid="{{ uuid }}">
						<span class="name">{{{ blackFlag-linkForUUID uuid }}}</span>
						<span class="controls">
							<button type="button" class="link-button" data-action="delete"
											data-tooltip="BF.Spell.Action.Delete"
											aria-label="{{ localize 'BF.Spell.Action.Delete' }}">
								<i class="fa-solid fa-trash" inert></i>
							</button>
						</span>
					</li>
				{{/each}}
			</ol>
			<p class="hint">{{ localize "BF.Advancement.Config.DropHint" }}</p>
		</fieldset>
	</section>
</form>
