<form id="{{appId}}" class="advancement-entry" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off"
	{{~#if accentColor}} style="--bf-item-color: {{accentColor}};"{{/if}}>
	<header>
		{{> "blackFlag.advancement-name"}}
		{{#if needsConfiguration}}
			<div class="advancement-actions">
				<button data-action="take-average">
					{{localize "BF.Advancement.HitPoints.Action.TakeAverage"}}:
					<strong>{{blackFlag-number advancement.average sign=true}}</strong>
				</button>
				<span class="or">
					{{localize "BF.Advancement.HitPoints.Action.or"}}
				</span>
				<button data-action="roll">
					{{localize "BF.Action.Roll.Specific" type=(localize "BF.HitDie.Label[one]")}}:
					<strong>d{{denomination}}</strong>
				</button>
			</div>
		{{/if}}
	</header>
</form>
