<fieldset>
	<legend>{{ localize "BF.Advancement.Improvement.Title" }}</legend>
	<label>
		<span>{{ localize "BF.Advancement.Improvement.TalentList.Label" }}</span>
		<multi-select name="configuration.talentList">
			{{#each talentCategories}}
				<option value="{{ @key }}" {{ selected }}>{{ label }}</option>
			{{/each}}
		</multi-select>
	</label>
</fieldset>
