<form autocomplete="off">
	<section>
		<fieldset>
			<legend>{{ localize "BF.Advancement.Config.Details" }}</legend>
			{{> "blackFlag.advancement-controls" }}
			<label>
				<span>{{ localize "BF.Advancement.Improvement.TalentList.Label" }}</span>
				<multi-select name="configuration.talentList">
					{{#each talentCategories}}
						<option value="{{ @key }}" {{ selected }}>{{ label }}</option>
					{{/each}}
				</multi-select>
			</label>
		</fieldset>
	</section>
</form>
