<form autocomplete="off">
	<section>
		<fieldset>
			<legend>{{localize "BF.Advancement.Config.Details"}}</legend>
			{{> "blackFlag.advancement-controls"}}
		</fieldset>
		<fieldset>
			<legend>
				{{localize "BF.Advancement.KeyAbility.Options.Label"}}
				<i class="hintIcon" data-tooltip="BF.Advancement.KeyAbility.Options.Hint"></i>
			</legend>
			<ol class="option-list">
				{{#each abilities as |ability key|}}
					<li>
						<label>
							{{localize ability.label}}
							<input type="checkbox" name="configuration.options.{{key}}" {{checked ability.keySelected}}
								{{disabled ability.secondarySelected}}>
						</label>
					</li>
				{{/each}}
			</ol>
		</fieldset>
		<fieldset>
			<legend>
				{{localize "BF.Advancement.KeyAbility.Secondary.Label"}}
				<i class="hintIcon" data-tooltip="BF.Advancement.KeyAbility.Secondary.Hint"></i>
			</legend>
			<ol class="option-list">
				{{#each abilities as |ability key|}}
					<li>
						<label>
							{{localize ability.label}}
							<input type="radio" name="configuration.secondary" value="{{key}}" {{checked ability.secondarySelected}}
								{{disabled ability.keySelected}}>
						</label>
					</li>
				{{/each}}
			</ol>
		</fieldset>
	</section>
</form>
