<fieldset>
	<legend>{{ localize "BF.Level.Label[other]" }}</legend>
	<ol class="level-list">
		<li class="level header">
			<label>
				<span></span><!-- TODO: Properly fetch these headers from the data model -->
				{{#if (eq @root.type.input "string")}}
					<span>Value</span>
				{{else if (eq @root.type.input "number")}}
					<span>Value</span>
				{{else if (eq @root.type.input "distance")}}
					<span>Value</span>
					<span>Units</span>
				{{else if (eq @root.type.input "dice")}}
					<span>Number</span>
					<span>Denomination</span>
				{{else if (eq @root.type.input "usage")}}
					<span>Number</span>
					<span>Period</span>
					<span class="checkbox">&infin;</span>
				{{/if}}
			</label>
		</li>
		{{#each levels as |data level|}}
			<li class="level {{ @root.configuration.type }}" data-level="{{ level }}">
				<label>
					<span>{{ level }}</span>
					{{#if (eq @root.type.input "string")}}
						<input type="text" name="configuration.scale.{{ level }}.value"
						       value="{{ data.value.value }}" placeholder="{{ data.placeholder.value }}">
					{{else if (eq @root.type.input "number")}}
						<input type="number" name="configuration.scale.{{ level }}.value" step="any"
						       value="{{ data.value.value }}" placeholder="{{ data.placeholder.value }}">
					{{else if (eq @root.type.input "distance")}}
						<input type="number" name="configuration.scale.{{ level }}.value" step="any"
						       value="{{ data.value.value }}" placeholder="{{ data.placeholder.value }}">
						<select name="configuration.scale.{{ level }}.units"
						        {{~#unless data.value.units}} class="placeholder"{{/unless}}>
							{{ selectOptions @root.CONFIG.distanceUnits.localized selected=data.value.units
							                 blank=data.placeholder.units }}
						</select>
					{{else if (eq @root.type.input "dice")}}
						<input type="number" name="configuration.scale.{{ level }}.number" step="1"
						       value="{{ data.value.number }}" placeholder="{{ data.placeholder.number }}">
						<select name="configuration.scale.{{ level }}.denomination" data-dtype="Number"
							{{~#unless data.value.denomination}} class="placeholder"{{/unless}}>
							{{ selectOptions @root.faces selected=data.value.denomination blank=data.placeholder.denomination }}
						</select>
					{{else if (eq @root.type.input "usage")}}
						{{#if data.value.infinite }}
							<input type="text" value="∞" disabled>
						{{else}}
							<input type="number" name="configuration.scale.{{level}}.value" step="any"
							       value="{{ data.value.value }}" placeholder="{{data.placeholder.value}}">
						{{/if}}
						<select name="configuration.scale.{{ level }}.per" {{ disabled data.value.infinite }}
							{{~#unless data.value.per}} class="placeholder"{{/unless}}>
							{{ selectOptions @root.CONFIG.recoveryPeriods.localized selected=data.value.per
							                 blank=data.placeholder.per }}
						</select>
						<input class="checkbox" type="checkbox" name="configuration.scale.{{ level }}.infinite"
						       {{ checked data.value.infinite }}>
					{{/if}}
				</label>
			</li>
		{{/each}}
	</ol>
</fieldset>
