<form autocomplete="off">
	<section>
		<fieldset>
			<legend>{{ localize "BF.Advancement.Config.Details" }}</legend>
			{{> "blackFlag.advancement-controls" }}
		</fieldset>
		<fieldset>
			<legend>{{ localize "BF.Spellcasting.Details.Label" }}</legend>
			<label>
				<span>{{ localize "BF.Spellcasting.Source" }}</span>
				<select name="configuration.source">
					{{ selectOptions CONFIG.spellSources selected=configuration.source labelAttr="label" localize=true blank="" }}
				</select>
			</label>
			<label>
				<span>{{ localize "BF.Spellcasting.Ability.Label" }}</span>
				<select name="configuration.ability">
					{{#select configuration.ability}}
						<option value="">{{ defaultAbility }}</option>
						<optgroup label="{{ localize 'BF.Ability.Label[other]' }}">
							{{ selectOptions CONFIG.abilities.localized }}
						</optgroup>
					{{/select}}
				</select>
			</label>
			{{#if displayType}}
				<label>
					<span>
						{{ localize "BF.Spellcasting.Type.Label" }}
						<i class="hintIcon" data-tooltip="BF.Spellcasting.Type.Hint"></i>
					</span>
					<select name="configuration.type">
						{{ selectOptions CONFIG.spellcastingTypes selected=configuration.type labelAttr="label" localize=true }}
					</select>
				</label>
			{{/if}}
			{{#if progressionOptions}}
				<label>
					<span>
						{{ localize "BF.Spellcasting.Progression.Label" }}
						<i class="hintIcon" data-tooltip="BF.Spellcasting.Progression.Hint"></i>
					</span>
					<select name="configuration.progression">
						{{ selectOptions progressionOptions selected=configuration.progression labelAttr="label" localize=true }}
					</select>
				</label>
			{{/if}}
		</fieldset>
		<fieldset>
			<legend>{{ localize "BF.Advancement.Spellcasting.GainingSpells" }}</legend>
			<label>
				<span>
					{{ localize "BF.Spellcasting.Learning.Mode.Label" }}
					<i class="hintIcon" data-tooltip="BF.Spellcasting.Learning.Mode.Hint"></i>
				</span>
				<select name="configuration.spells.mode">
					{{ selectOptions CONFIG.spellLearningModes selected=configuration.spells.mode
					                 labelAttr="label" localize=true blank="" }}
				</select>
			</label>
			</label>
			{{#each known as |data name|}}
				<label data-name="{{ name }}">
					<span>
						{{ localize data.label }}
						<i class="hintIcon" data-tooltip="{{ data.hint }}"></i>
					</span>
					{{#if data.scaleValue}}
						{{{ data.anchor }}}
						<button class="link-button" type="button" data-action="known" data-sub-action="delete"
						        data-tooltip="BF.Advancement.Core.Action.Delete"
										aria-label="{{ localize 'BF.Advancement.Core.Action.Delete' }}">
							<i class="fa-solid fa-trash" inert></i>
						</button>
					{{else}}
						<button class="link-button" type="button" data-action="known" data-sub-action="create">
							<i class="fa-solid fa-plus" inert></i>
							{{localize "BF.Advancement.ScaleValue.Title"}}
						</button>
					{{/if}}
				</label>
			{{/each}}
			{{#if (eq configuration.spells.mode "limited")}}
				<label>
					<span>
						{{ localize "BF.Spellcasting.Learning.Replacement.Label" }}
						<i class="hintIcon" data-tooltip="BF.Spellcasting.Learning.Replacement.Hint"></i>
					</span>
					<input type="checkbox" name="configuration.spells.replacement" {{ checked configuration.spells.replacement }}>
				</label>
				<label>
					<span>
						{{ localize "BF.Spellcasting.Learning.Schools.Label" }}
						<i class="hintIcon" data-tooltip="BF.Spellcasting.Learning.Schools.Hint"></i>
					</span>
					<blackFlag-multiSelect name="configuration.spells.schools" label="{{ schoolLabel }}">
						<datalist>
							{{#blackFlag-multiSelect configuration.spells.schools}}
								{{ selectOptions CONFIG.spellSchools.localized }}
							{{/blackFlag-multiSelect}}
						</datalist>
					</blackFlag-multiSelect>
				</label>
				<label>
					<span>
						{{ localize "BF.Spellcasting.Learning.Special.Label" }}
						<i class="hintIcon" data-tooltip="BF.Spellcasting.Learning.Special.Hint"></i>
					</span>
					<input type="checkbox" name="configuration.spells.special" {{ checked configuration.spells.special }}>
				</label>
			{{else if (eq configuration.spells.mode "spellbook")}}
				<div class="field-group">
					<span>
						{{ localize "BF.Spellbook.FreeSpell.Label[other]" }}
						<i class="hintIcon" data-tooltip="BF.Spellbook.FreeSpell.Hint"></i>
					</span>
					<label>
						<span>{{ localize "BF.Spellbook.FreeSpell.FirstLevel" }}</span>
						<input type="number" name="configuration.spells.spellbook.firstLevel"
						       value="{{ configuration.spells.spellbook.firstLevel }}" min=0 step=1>
					</label>
					<label>
						<span>{{ localize "BF.Spellbook.FreeSpell.OtherLevels" }}</span>
						<input type="number" name="configuration.spells.spellbook.otherLevels"
									 value="{{ configuration.spells.spellbook.otherLevels }}" min=0 step=1>
					</label>
				</div>
			{{/if}}
		</fieldset>
	</section>
</form>
