<form autocomplete="off">
	<section>
		<fieldset>
			<legend>{{localize "BF.Advancement.Config.Details"}}</legend>
			{{> "blackFlag.advancement-controls"}}
		</fieldset>
		<fieldset>
			<legend>{{localize "BF.Spellcasting.Details.Label"}}</legend>
			{{#if displayType}}
				<label>
					<span>
						{{localize "BF.Spellcsating.Type.Label"}}
						<i class="hintIcon" data-tooltip="BF.Spellcsating.Type.Hint"></i>
					</span>
					<select name="configuration.type">
						{{selectOptions CONFIG.spellcastingTypes selected=configuration.type labelAttr="label" localize=true}}
					</select>
				</label>
			{{/if}}
			{{#if progressionOptions}}
				<label>
					<span>
						{{localize "BF.Spellcasting.Progression.Label"}}
						<i class="hintIcon" data-tooltip="BF.Spellcasting.Progression.Hint"></i>
					</span>
					<select name="configuration.progression">
						{{selectOptions progressionOptions selected=configuration.progression labelAttr="label" localize=true}}
					</select>
				</label>
			{{/if}}
			<label>
				<span>
					{{localize "BF.Spellcasting.Preparation.Label"}}
					<i class="hintIcon" data-tooltip="BF.Spellcasting.Preparation.Hint"></i>
				</span>
				<input type="checkbox" name="configuration.preparation" {{checked configuration.preparation}}
			</label>
		</fieldset>
		<fieldset>
			<legend>{{localize "BF.Advancement.Spellcasting.GainingSpells"}}</legend>
			<label>
				<span>{{localize "BF.Spell.Circle.Label"}}</span>
				<select name="configuration.circle">
					{{selectOptions CONFIG.spellCircles selected=configuration.circle labelAttr="label" localize=true blank=""}}
				</select>
			</label>
			{{#each formulas as |data name|}}
				<div class="field-group formula-controls" data-name="{{name}}">
					<span>
						{{localize data.label}}
						<i class="hintIcon" data-tooltip="{{data.hint}}"></i>
					</span>
					{{#if data.displayFormula}}
						<input type="text" name="configuration.{{name}}.formula" value="{{data.formula}}">
						{{#if data.scaleValue}}
							<button type="button" data-action="formula" data-sub-action="view-scale-value">
								<i class="fa-solid fa-edit"></i> <i class="fa-solid fa-scale-unbalanced"></i>
							</button>
						{{else}}
							<button type="button" data-action="formula" data-sub-action="use-scale-value">
								<i class="fa-solid fa-plus"></i> <i class="fa-solid fa-scale-unbalanced"></i>
							</button>
						{{/if}}
					{{else if data.scaleValue}}
						<button type="button" data-action="formula" data-sub-action="view-scale-value">
							<i class="fa-solid fa-edit"></i>
							{{localize "BF.Advancement.ScaleValue.Title"}}
						</button>
						<button type="button" data-action="formula" data-sub-action="customize">
							<i class="fa-solid fa-edit"></i>
							{{localize "BF.Formula.Label"}}
						</button>
					{{else}}
						<button type="button" data-action="formula" data-sub-action="use-scale-value">
							<i class="fa-solid fa-plus"></i>
							{{localize "BF.Advancement.ScaleValue.Title"}}
						</button>
						<button type="button" data-action="formula" data-sub-action="use-formula">
							<i class="fa-solid fa-plus"></i>
							{{localize "BF.Formula.Label"}}
						</button>
					{{/if}}
				</div>
			{{/each}}
		</fieldset>
	</section>
</form>
