<form autocomplete="off">
	<section>
		<fieldset>
			<legend>{{ localize "BF.Advancement.Config.Details" }}</legend>
			{{> "blackFlag.advancement-controls" }}
		</fieldset>
		<fieldset>
			<legend>{{ localize "BF.Spellcasting.Details.Label" }}</legend>
			<label>
				<span>{{ localize "BF.Spellcasting.Source" }}</span>
				<select name="configuration.source">
					{{ selectOptions CONFIG.spellSources selected=configuration.source labelAttr="label" localize=true blank="" }}
				</select>
			</label>
			<label>
				<span>{{ localize "BF.Spellcasting.Ability.Label" }}</span>
				<select name="configuration.ability">
					{{#select configuration.ability}}
						<option value="">{{ defaultAbility }}</option>
						<optgroup label="{{ localize 'BF.Ability.Label[other]' }}">
							{{ selectOptions CONFIG.abilities.localized }}
						</optgroup>
					{{/select}}
				</select>
			</label>
			{{#if displayType}}
				<label>
					<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.type.hint">
						{{ localize "BF.Spellcasting.FIELDS.type.label" }}
					</span>
					<select name="configuration.type">
						{{ selectOptions CONFIG.spellcastingTypes selected=configuration.type labelAttr="label" localize=true }}
					</select>
				</label>
			{{/if}}
			{{#if progressionOptions}}
				<label>
					<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.progression.hint">
						{{ localize "BF.Spellcasting.FIELDS.progression.label" }}
					</span>
					<select name="configuration.progression">
						{{ selectOptions progressionOptions selected=configuration.progression labelAttr="label" localize=true }}
					</select>
				</label>
			{{/if}}
			{{#if slots.display}}
				<label data-name="slots">
					<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.slots.hint">
						{{ localize "BF.Spellcasting.FIELDS.slots.label" }}
					</span>
					{{#if slots.scaleValue}}
						{{{ slots.anchor }}}
						{{#if @root.editable}}
							<button class="link-button" type="button" data-action="known" data-sub-action="delete"
											data-tooltip="BF.Advancement.Core.Action.Delete"
											aria-label="{{ localize 'BF.Advancement.Core.Action.Delete' }}">
								<i class="fa-solid fa-trash" inert></i>
							</button>
						{{/if}}
					{{else}}
						<button class="link-button" type="button" data-action="known" data-sub-action="create">
							<i class="fa-solid fa-plus" inert></i>
							{{localize "BF.Advancement.ScaleValue.Title"}}
						</button>
					{{/if}}
				</label>
			{{/if}}
		</fieldset>
		{{#if learningModes}}
			<fieldset>
				<legend>{{ localize "BF.Advancement.Spellcasting.GainingSpells" }}</legend>
				<label>
					<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.spells.mode.hint">
						{{ localize "BF.Spellcasting.FIELDS.spells.mode.label" }}
					</span>
					<select name="configuration.spells.mode">
						{{ selectOptions learningModes selected=configuration.spells.mode labelAttr="label"
						                 localize=true blank="" }}
					</select>
				</label>
				</label>
				{{#each known as |data name|}}
					<label data-name="{{ name }}">
						<span class="hinted-label" data-tooltip="{{ data.hint }}">
							{{ localize data.label }}
						</span>
						{{#if data.scaleValue}}
							{{{ data.anchor }}}
							{{#if @root.editable}}
								<button class="link-button" type="button" data-action="known" data-sub-action="delete"
						          	data-tooltip="BF.Advancement.Core.Action.Delete"
										  	aria-label="{{ localize 'BF.Advancement.Core.Action.Delete' }}">
									<i class="fa-solid fa-trash" inert></i>
								</button>
							{{/if}}
						{{else}}
							<button class="link-button" type="button" data-action="known" data-sub-action="create">
								<i class="fa-solid fa-plus" inert></i>
								{{localize "BF.Advancement.ScaleValue.Title"}}
							</button>
						{{/if}}
					</label>
				{{/each}}
				{{#if (eq configuration.spells.mode "limited")}}
					<label>
						<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.spells.replacement.hint">
							{{ localize "BF.Spellcasting.FIELDS.spells.replacement.label" }}
						</span>
						<input type="checkbox" name="configuration.spells.replacement" {{ checked configuration.spells.replacement }}>
					</label>
					<label>
						<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.spells.schools.hint">
							{{ localize "BF.Spellcasting.FIELDS.spells.schools.label" }}
						</span>
						<blackFlag-multiSelect name="configuration.spells.schools" label="{{ schoolLabel }}">
							<datalist>
								{{#blackFlag-multiSelect configuration.spells.schools}}
									{{ selectOptions CONFIG.spellSchools.localized }}
								{{/blackFlag-multiSelect}}
							</datalist>
						</blackFlag-multiSelect>
					</label>
					<label>
						<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.spells.special.hint">
							{{ localize "BF.Spellcasting.FIELDS.spells.special.label" }}
						</span>
						<input type="checkbox" name="configuration.spells.special" {{ checked configuration.spells.special }}>
					</label>
				{{else if (eq configuration.spells.mode "spellbook")}}
					<div class="field-group">
						<span class="hinted-label" data-tooltip="BF.Spellcasting.FIELDS.spells.spellbook.hint">
							{{ localize "BF.Spellcasting.FIELDS.spells.spellbook.label" }}
						</span>
						<label>
							<span>{{ localize "BF.Spellcasting.FIELDS.spells.spellbook.firstLevel.label" }}</span>
							<input type="number" name="configuration.spells.spellbook.firstLevel"
						       	value="{{ configuration.spells.spellbook.firstLevel }}" min=0 step=1>
						</label>
						<label>
							<span>{{ localize "BF.Spellcasting.FIELDS.spells.spellbook.otherLevels.label" }}</span>
							<input type="number" name="configuration.spells.spellbook.otherLevels"
									 	value="{{ configuration.spells.spellbook.otherLevels }}" min=0 step=1>
						</label>
					</div>
				{{/if}}
			</fieldset>
		</section>
	{{/if}}
</form>
