<form id="{{appId}}" class="advancement-entry" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off"
	{{~#if accentColor}} style="--bf-item-color: {{accentColor}};"{{/if}}>
	<header>
		{{> "blackFlag.advancement-name"}}
	</header>

	<div class="advancement-summary">
		{{#if needsConfiguration}}{{{summary}}}{{/if}}
		{{#each chosen as |choice|}}
			<span class="choice-entry">
				<span class="choice-name">{{this.label}}</span>
				{{~#if (or @root.editingMode @root.needsConfiguration)}}
					<a data-action="remove-choice" data-key="{{this.key}}">
						<i class="fa-solid fa-trash"></i>
					</a>
				{{/if}}
			</span>
		{{/each}}
		{{#if needsConfiguration}}
			<select name="added">
				{{blackFlag-groupedSelectOptions availableChoices blank=blankLabel}}
			</select>
		{{/if}}
	</div>
</form>
