<div class="black-flag chat-card activity">
	<header>
		<img src="{{item.img}}">
		<div class="hgroup">
			<h5>{{item.name}}</h5>
			<p>{{activity.name}}</p>
		</div>
		<!-- TODO: Description dropdown -->
	</header>

	<ul class="menu">
		{{#each buttons}}
			<li><button type="button" name="{{@key}}" {{blackFlag-dataset this.dataset}}>{{this.label}}</button>
		{{/each}}
	</ul>
</div>
