<blackFlag-effects>
	<header>
		<h2>{{ localize "BF.Effect.Label[other]" }}</h2>
	</header>
	
	<ol class="items-list effects-lists">
		{{#each effects as |section sid|}}
			{{#unless section.hidden}}
				<li class="item-category effect-category" data-section-id="{{ sid }}">
					<div class="header">
						<h3 class="effect-name">{{ localize section.label }}</h3>
						{{#if section.displaySource}}
							<div class="effect-source">{{ localize "BF.Effect.Source" }}</div>
						{{/if}}
						<div class="effect-duration">{{ localize "BF.Effect.Duration" }}</div>
						<div class="effect-controls">
							{{#if @root.editable}}
								<button class="link-button" type="button" data-action="add"
								        data-tooltip="BF.Effect.Action.Add" aria-label="{{ localize 'BF.Effect.Action.Add' }}">
									<i class="fa-solid fa-plus" inert></i>
								</button>
							{{/if}}
						</div>
					</div>

					<ol class="item-list effect-list">
						{{#each section.effects as |effect|}}
							<li class="item effect-entry" data-effect-id="{{ effect.id }}">
								<div class="item-name effect-name">
									<figure class="icon">
										<img class="item-image" src="{{ effect.img }}">
									</figure>
									<h4>{{ effect.name }}</h4>
								</div>
								{{#if section.displaySource}}
									<div class="effect-source">{{ effect.sourceName }}</div>
								{{/if}}
								<div class="effect-duration">{{ effect.duration.label }}</div>
								<div class="item-controls effect-controls">
									{{#if @root.editable}}
										<button class="link-button" type="button" data-action="toggle"
										        {{~#if effect.disabled}}
										        data-tooltip="BF.Effect.Action.Enable"
														aria-label="{{ localize 'BF.Effect.Action.Enable' }}"
														{{~else}}
														data-tooltip="BF.Effect.Action.Disable"
														aria-label="{{ localize 'BF.Effect.Action.Disable' }}"{{/if}}>
											<i class="fa-solid {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}" inert></i>
										</button>
										<button class="link-button" type="button" data-action="edit"
										        data-tooltip="BF.Effect.Action.Edit" aria-label="{{ localize 'BF.Effect.Action.Edit' }}">
											<i class="fa-solid fa-edit" inert></i>
										</button>
										<button class="link-button" type="button" data-action="delete"
										        data-tooltip="BF.Effect.Action.Delete"
														aria-label="{{ localize 'BF.Effect.Action.Delete' }}">
											<i class="fa-solid fa-trash" inert></i>
										</button>
									{{else}}
										<button class="link-button" type="button" data-action="view"
										        data-tooltip="BF.Effect.Action.View" aria-label="{{ localize 'BF.Effect.Action.View' }}">
											<i class="fa-solid fa-eye" inert></i>
										</button>
									{{/if}}
								</div>
							</li>
						{{/each}}
					</ol>
				</li>
			{{/unless}}
		{{/each}}
	</ol>	
</blackFlag-effects>
