{{ formField fields.title value=source.title placeholder=default.title rootId=partId }}
{{ formField fields.icon value=source.icon placeholder=default.icon rootId=partId }}

{{#if showHint}}
	<label>
		<span class="hinted-label" data-tooltip="BF.Advancement.FIELDS.hint.hint">
			{{ localize "BF.Advancement.FIELDS.hint.label" }}
		</span>
		<textarea name="hint" placeholder="{{ default.hint }}">{{~ source.hint ~}}</textarea>
	</label>
{{/if}}

{{#if showIdentifier}}
	<div class="form-group">
		<label>{{ localize "BF.Advancement.FIELDS.identifier.label" }}</label>
		<div class="form-fields">
			{{ formInput fields.identifier value=source.identifier placeholder=default.identifier }}
		</div>
		{{#if default.identifierHint}}
			<p class="hint">
				{{{ localize default.identifierHint identifier=identifier }}}
			</p>
		{{/if}}
	</div>
{{/if}}

{{#if showClassIdentifier}}
	{{ formField fields.level.fields.classIdentifier value=source.level.classIdentifier options=classIdentifierOptions
	             classes="label-hinted" rootId=partId }}
{{/if}}

{{#if showLevelSelector}}
	{{ formField fields.level.fields.value value=source.level.value options=levelOptions rootId=partId }}
{{/if}}

{{#if showClassRestriction}}
	{{ formField fields.level.fields.classRestriction value=source.level.classRestriction options=classRestrictionOptions
	             classes="label-hinted" rootId=partId }}
{{/if}}
