<label>
	<span>{{ localize "BF.Advancement.Core.Title.Label" }}</span>
	<input type="text" name="title" value="{{ source.title }}" placeholder="{{ default.title }}">
</label>

<label class="file">
	<span>{{ localize "BF.Advancement.Core.Icon.Label" }}</span>
	<file-picker name="icon" type="icon" value="{{ source.icon }}" placeholder="{{ default.icon }}"></file-picker>
</label>

{{#if showHint}}
	<label>
		<span class="hinted-label" data-tooltip="BF.Advancement.Core.Hint.Hint">
			{{ localize "BF.Advancement.Core.Hint.Label" }}
		</span>
		<textarea name="hint" placeholder="{{ hintPlaceholder }}">{{ advancement.hint }}</textarea>
	</label>
{{/if}}

{{#if showIdentifier}}
	<label>
		<span>{{ localize "BF.Identifier.Label" }}</span>
		<input type="text" name="identifier" value="{{ source.identifier }}" placeholder="{{ default.identifier }}">
		{{#if default.identifierHint}}
			<p class="hint">
				{{{ localize default.identifierHint identifier=identifier }}}
				<!-- <a class="identifier-hint-copy" data-tooltip="BF.Identifier.Action.Copy"><i class="far fa-clipboard"></i></a> -->
			</p>
		{{/if}}
	</label>
{{/if}}

{{#if showClassIdentifier}}
	<label>
		<span class="hinted-label" data-tooltip="BF.Advancement.Core.Level.Reference.Hint">
			{{ localize "BF.Advancement.Core.Level.Reference.Label" }}
		</span>
		<select name="level.classIdentifier">
			{{#select advancement.level.classIdentifier}}
				<option value="">{{ localize "BF.Level.Overall" }}</option>
				<optgroup label="{{ localize 'BF.Level.Class' }}">
					{{ selectOptions CONFIG.registration.all.class labelAttr="name" }}
				</optgroup>
			{{/select}}
		</select>
	</label>
{{/if}}

{{#if showLevelSelector}}
	<label>
		<span>{{ localize "BF.Level.Label[one]" }}</span>
		<select name="level.value" data-dtype="Number">
			{{ selectOptions levels selected=advancement.level.value }}
		</select>
	</label>
{{/if}}

{{#if showClassRestriction}}
	<label>
		<span class="hinted-label" data-tooltip="BF.Advancement.Core.ClassRestriction.Hint">
			{{localize "BF.Advancement.Core.ClassRestriction.Label"}}
		</span>
		<select name="level.classRestriction">
			{{#select advancement.level.classRestriction}}
				<option value="">{{localize "BF.Advancement.Core.ClassRestriction.None"}}</option>
				<option value="original">{{localize "BF.Advancement.Core.ClassRestriction.Original"}}</option>
				<option value="multiclass">{{localize "BF.Advancement.Core.ClassRestriction.Multiclass"}}</option>
			{{/select}}
		</select>
	</label>
{{/if}}
