<fieldset>
	<legend class="hinted-label" data-tooltip="BF.Advancement.ChooseFeatures.FIELDS.choices.hint">
		{{ localize "BF.Advancement.ChooseFeatures.FIELDS.choices.label" }}
	</legend>
	<table class="fieldset-table">
		<thead>
			<tr>
				<th class="level">{{ localize "BF.Level.Abbreviation" }}</th>
				<th class="choices" id="{{ partId }}-choices">{{ localize "BF.Advancement.ChooseFeatures.FIELDS.choices.label" }}</th>
				<th class="replacement" id="{{ partId }}-replacement">
					<i class="fa-solid fa-shuffle" data-tooltip="BF.Advancement.ChooseFeatures.Replacement.Allow"
					   aria-label="{{ localize 'BF.Advancement.ChooseFeatures.Replacement.Allow' }}"></i>
				</th>
		</thead>
		<tbody>
			{{#each choices}}
				<tr>
					<td>{{ label }}</td>
					<td>
						<input type="number" name="configuration.choices.{{ @key }}.count" value="{{ count }}" placeholder="0"
									 min="1" step="1" aria-labelledby="{{ ../partId }}-choices">
					</td>
					<td>
						<input type="checkbox" name="configuration.choices.{{ @key }}.replacement" {{ checked replacement }}
									 aria-labelledby="{{ ../partId }}-replacement">
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</fieldset>
