<table class="items fieldset-table">
	<thead>
		<tr>
			<th scope="col" class="name">{{ localize "BF.Item.Type.Spell[one]" }}</th>
			<th scope="col" class="controls"></th>
		</tr>
	</thead>
	<tbody>
		{{#each configuration.data.pool}}
			<tr data-item-uuid="{{ uuid }}">
				<td class="name">
					{{{ blackFlag-linkForUUID uuid }}}
					<input type="hidden" name="configuration.pool.{{ @index }}.uuid" value="{{ uuid }}">
				</td>
				<td class="controls">
					<button type="button" class="link-button" data-action="deleteDropped"
									data-tooltip="BF.Spell.Action.Delete"
									aria-label="{{ localize 'BF.Spell.Action.Delete' }}">
						<i class="fa-solid fa-trash" inert></i>
					</button>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
<p class="hint">{{ localize "BF.Advancement.Config.DropHint" }}</p>
