<blackFlag-effects>
	<table>
		{{#each effects}}
			<tbody data-section="{{ @key }}">
				<tr class="table-header">
					<td class="name">{{ localize label }}</td>
					{{#if displaySource}}
						<th class="source" scope="col">{{ localize "BF.Effect.Source" }}</th>
					{{/if}}
					<th class="duration" scope="col">{{ localize "BF.Effect.Duration" }}</th>
					<td class="controls">
						<div class="layout">
							{{#if @root.editable}}
								<button type="button" class="link-button" data-action="add"
								        data-tooltip="BF.Effect.Action.Add" aria-label="{{ localize 'BF.Effect.Action.Add' }}">
									<i class="fa-solid fa-plus" inert></i>
								</button>
							{{/if}}
						</div>
					</td>
				</tr>
				{{#each effects}}
					<tr data-effect-id="{{ id }}" {{~#if parentId}} data-parent-id="{{ parentId }}"{{/if}}>
						<th class="name" scope="row">
							<div class="layout" scope="row">
								<img class="icon" src="{{ icon }}" alt="{{ name }}">
								<span>{{ name }}</span>
							</div>
						</th>
						{{#if ../displaySource}}
							<td class="source">
								{{ sourceName }}
								{{#if suppressionReason}}
									<div class="notification-badge" data-tooltip="{{ suppressionReason }}"
									     data-notification-level="info"><i class="fa-solid fa-info" inert></i></div>
								{{/if}}
							</td>
						{{/if}}
						<td class="duration">{{ duration.label }}</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.editable}}
									<button type="button" class="link-button" data-action="edit"
													data-tooltip="BF.Effect.Action.Edit" aria-label="{{ localize 'BF.Effect.Action.Edit' }}">
										<i class="fa-solid fa-edit" inert></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
													data-tooltip="BF.Effect.Action.Delete" aria-label="{{ localize 'BF.Effect.Action.Delete' }}">
										<i class="fa-solid fa-trash" inert></i>
									</button>
								{{else}}
									<button type="button" class="link-button" data-action="view"
													data-tooltip="BF.Effect.Action.View" aria-label="{{ localize 'BF.Effect.Action.View' }}">
										<i class="fa-solid fa-eye" inert></i>
									</button>
									<button type="button" class="link-button" data-action="toggle"
												  data-tooltip="BF.Effect.Action.{{ ifThen disabled 'Enable' 'Disable' }}"
									        aria-label="{{ localize (concat "BF.Effect.Action." (ifThen disabled 'Enable' 'Disable')) }}">
										<i class="fa-solid fa-{{ifThen disabled 'check' 'times'}}" inert></i>
									</button>
								{{/if}}
								<button type="button" class="link-button" data-context-menu
												data-tooltip="BF.AdditionalControls" aria-label="{{ localize 'BF.AdditionalControls' }}">
									<i class="fa-solid fa-ellipsis-vertical" inert></i>
								</button>
							</div>
						</td>
					</tr>
				{{/each}}
		{{/each}}
	</table>
</blackFlag-effects>
