<section>
	<div class="type">
		{{#if modes.editing}}
			<a data-action="config" data-type="type">
				<i class="fa-solid fa-cog"></i>
			</a>
		{{/if}}
		<span>{{labels.sizeAndType}}</span>
	</div>

	<div class="stats">
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="armor-class">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.ArmorClass.Label"}}
				{{blackFlag-notificationBadge actor category="armor-class"}}
			</span>
			<span>
				{{system.attributes.ac.value}}
				{{#with system.attributes.ac.label}}
					<span class="ac-label">({{this}})</span>
				{{/with}}
			</span>
		</label>
		<label>
			<span>{{localize "BF.HitPoint.Label[other]"}}</span>
			{{#if modes.editing}}
				<span>{{system.attributes.hp.value}}</span>
				/
				<input type="number" name="system.attributes.hp.max" value="{{source.attributes.hp.max}}" step="1" min="0">
			{{else}}
				<input type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}">
				/
				<span>{{system.attributes.hp.max}}</span>
			{{/if}}
		</label>
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="movement">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.Speed.Label"}}
			</span>
			{{#if modes.editing}}
				<input type="number" name="system.traits.movement.base" value="{{source.traits.movement.base}}">
			{{else}}
				<span>{{traits.speed}}</span>
			{{/if}}
		</label>
		<label class="stats__narrow">
			<span>
				{{localize "BF.Skill.Perception.Label"}}
			</span>
			{{#if modes.editing}}
				<input type="number" name="system.attributes.perception" value="{{ source.attributes.perception }}"
					placeholder="{{ placeholders.perception }}">
			{{else}}
				<span>{{ blackFlag-number system.attributes.perception }}</span>
			{{/if}}
		</label>
		<label class="stats__narrow">
			<span>
				{{localize "BF.Skill.Stealth.Label"}}
			</span>
			{{#if modes.editing}}
				<input type="number" name="system.attributes.stealth" value="{{ source.attributes.stealth }}"
					placeholder="{{ placeholders.stealth }}">
			{{else}}
				<span>{{ stealthLabel }}</span>
			{{/if}}
		</label>
		{{#if traits.vulnerable}}
			<label>
				<span>
					{{#if modes.editing}}
						<button type="button" class="link-button" data-action="config" data-type="resistance">
							<i class="fa-solid fa-cog" inert></i>
						</button>
					{{/if}}
					{{ localize "BF.Vulnerability.Short" }}
				</span>
				<span>{{{ traits.vulnerable }}}</span>
			</label>
		{{/if}}
		{{#if traits.resist}}
			<label>
				<span>
					{{#if modes.editing}}
						<button type="button" class="link-button" data-action="config" data-type="resistance">
							<i class="fa-solid fa-cog" inert></i>
						</button>
					{{/if}}
					{{ localize "BF.Resistance.Short" }}
				</span>
				<span>{{{ traits.resist }}}</span>
			</label>
		{{/if}}
		{{#if traits.immune}}
			<label>
				<span>
					{{#if modes.editing}}
						<button type="button" class="link-button" data-action="config" data-type="resistance">
							<i class="fa-solid fa-cog" inert></i>
						</button>
					{{/if}}
					{{ localize "BF.Immunity.Short" }}
				</span>
				<span>{{{ traits.immune }}}</span>
			</label>
		{{/if}}
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="senses">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.Senses.Label"}}
			</span>
			<span>{{traits.senses}}</span>
		</label>
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="language">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.Language.Label[other]"}}
			</span>
			<span>{{traits.languages}}</span>
		</label>
		<label>
			<span>{{localize "BF.Initiative.Label"}}</span>
			<a class="modifier-roll" data-action="roll" data-sub-action="initiative">
				<blackFlag-icon src="systems/black-flag/artwork/interface/dice/d20.svg"></blackFlag-icon>
				{{blackFlag-number system.attributes.initiative.mod sign=true}}
			</a>
		</label>
	</div>
	
	<div class="abilities">
		{{#each system.abilities}}
			<div data-ability="{{@key}}">
				<label for="{{@root.appID}}-ability-{{@key}}">
					{{lookup @root.CONFIG.abilities.localizedAbbreviations @key}}</span>
				</label>
				{{#if @root.modes.editing}}
					<input id="{{@root.appID}}-ability-{{@key}}" type="number" name="system.abilities.{{@key}}.mod"
						value="{{_source.mod}}" placeholder="0" step="1">
				{{else}}
					<span id="{{@root.appID}}-ability-{{@key}}">
						<a class="modifier-roll" data-action="roll" data-sub-action="ability-check" data-ability="{{@key}}">
							<blackFlag-icon src="systems/black-flag/artwork/interface/dice/d20.svg"></blackFlag-icon>
							{{blackFlag-number mod sign=true}}
						</a>
					</span>
				{{/if}}
			</div>
		{{/each}}
	</div>

	<div class="features passive">
		{{#each passive}}
			<div class="feature" data-item-id="{{item.id}}">
				<span class="controls">
					{{#if @root.modes.editing}}
						<a data-action="item" data-sub-action="edit">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
					{{/if}}
					<a data-action="activate">{{item.name}}.</a>
				</span>
				{{{description}}}
			</div>
		{{/each}}
	</div>

	<blackFlag-actions>
		{{#each actions}}
			{{#if (or activities.length @root.modes.editing)}}
				<div class="features {{@key}}">
					<h2>{{label}}</h2>
					{{#each activities}}
						<div class="feature" data-item-id="{{item.id}}"  data-activity-id="{{activity.id}}">
							<span class="controls">
								{{#if @root.modes.editing}}
									<a data-action="edit">
										<i class="fa-solid fa-pen-to-square"></i>
									</a>
								{{/if}}
								<a data-action="activate">{{item.name}}.</a>
							</span>
							{{{description}}}
						</div>
					{{/each}}
				</div>
			{{/if}}
		{{/each}}
	</blackFlag-actions>

<!--	<div class="features legendary">
		<h2>{{localize "BF.Activation.Type.Legendary[other]"}}</h2>
		<p>{{localize "BF.LegendaryAction.Description" type="???" count="?"}}</p>
		features
	</div>-->
</section>
