<section>
	<div class="artwork">
		<figure class="icon">
			<figcaption>{{ localize "BF.Actor.Artwork.Portrait" }}</figcaption>
			<img class="profile" src="{{ @root.actor.img }}" title="{{ @root.actor.name }}"
					 {{~#if @root.editable}} data-edit="img"{{/if}}>
		</figure>
		{{#if @root.showTokenArtwork}}
			<figure class="icon">
				<figcaption>{{ localize "BF.Actor.Artwork.Token" }}</figcaption>
				{{#if @root.actor.isToken}}
					<img class="profile" src="{{ @root.actor.token.texture.src }}" title="{{ @root.actor.name }}"
							 {{~#if @root.editable}} data-edit="token.texture.src"{{/if}}>
				{{else}}
					<img class="profile" src="{{ @root.actor.prototypeToken.texture.src }}" title="{{ @root.actor.name }}"
							 {{~#if @root.editable}} data-edit="prototypeToken.texture.src"{{/if}}>
				{{/if}}
			</figure>
		{{/if}}
	</div>

	{{ editor enriched target=keyPath button=false editable=@root.editable engine="prosemirror" collaborate=false }}

	<label class="source">
		<span class="hinted-label" data-tooltip="BF.SOURCE.FIELDS.description.source.book.hint">
			{{ localize "BF.SOURCE.Label" }}
		</span>
		<span>{{ @root.system.description.source.label }}</span>
	</label>
</section>
