<blackFlag-inventory tab="features">
	<table>
		<thead>
			{{!-- TODO: Filters by action type --}}
		</thead>
		{{#each sections.features as |section sectionId|}}
			<tbody data-section="{{sectionId}}">
				<tr class="table-header">
					<td class="name">{{ localize section.label }}</td>
					<th class="uses">{{ localize "BF.Uses.Short" }}</th>
					<td class="controls"></td>
				</tr>
				{{#each section.items}}
					<tr data-item-id="{{ id }}">
						<th class="name" scope="row">
							<div class="layout">
								<button type="button" class="link-button" data-action="expand">
									{{ name }}
									<i class="fa-solid fa-caret-down" inert></i>
								</button>
								{{ blackFlag-notificationBadge @root.actor document=this }}
							</div>
						</th>
						<td class="uses">{{ system.uses.label }}</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.modes.editing}}
									<button type="button" class="link-button" data-action="edit"
													data-tooltip="BF.Item.Action.Edit"
													aria-label="{{ localize 'BF.Item.Action.Edit' }}">
										<i class="fa-solid fa-edit" inert></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
													data-tooltip="BF.Item.Action.Delete"
													aria-label="{{ localize 'BF.Item.Action.Delete' }}">
										<i class="fa-solid fa-trash" inert></i>
									</button>
								{{else}}
									<button type="button" class="link-button" data-action="view"
													data-tooltip="BF.Item.Action.View"
													aria-label="{{ localize 'BF.Item.Action.View' }}">
										<i class="fa-regular fa-eye" inert></i>
									</button>
								{{/if}}
							</div>
						</td>
					</tr>
					<tr class="collapsible {{#unless ctx.expanded}}collapsed{{/unless}}" data-expand-for="{{ id }}">
						<td colspan="3">
							{{#if ctx.expanded}}{{> "blackFlag.inventory-summary" ctx.expanded }}{{/if}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/each}}
	</table>

	{{#if @root.editable}}
		<div class="main-add-button">
			<button type="button" class="light-button main-add-button" data-action="add">
				<i class="fa-solid fa-plus inert"></i>
				{{ localize 'BF.Feature.Action.Add' }}
			</button>
		</div>
	{{/if}}
</blackFlag-inventory>
