<blackFlag-inventory tab="features">
	<table>
		<thead>
			{{!-- TODO: Filters by action type --}}
		</thead>
		{{#each sections.features as |section sectionId|}}
			<tbody data-section="{{sectionId}}">
				<tr class="table-header">
					<td class="name">{{localize section.label}}</td>
					<th class="uses">{{localize "BF.Uses.Short"}}</th>
					<td class="controls">
						<div class="layout">
							{{#if @root.modes.editing}}
								<a data-action="add">
									<i class="fa-solid fa-plus"></i>
								</a>
							{{/if}}
						</div>
					</td>
				</tr>
				{{#each section.items}}
				{{#blackFlag-itemContext this as |ctx|}}
					<tr data-item-id="{{id}}" {{blackFlag-dataset ctx.dataset}}>
						<th class="name" scope="row">
							<div class="layout">
								<img src="{{img}}">
								{{name}}
								{{blackFlag-notificationBadge @root.actor document=this}}
							</div>
						</th>
						<td class="uses">{{system.uses.label}}</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.modes.editing}}
									<button type="button" class="link-button" data-action="edit"
													aria-label="{{localize 'BF.Feature.Action.Edit'}}">
										<i class="fa-solid fa-edit" aria-hidden="true"></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
													aria-label="{{localize 'BF.Feature.Action.Delete'}}">
										<i class="fa-solid fa-trash" aria-hidden="true"></i>
									</button>
								{{else}}
								{{> "blackFlag.inventory-controls" buttons=ctx.buttons}}
								{{/if}}
								<button type="button" class="link-button" data-context-menu
												aria-label="{{localize 'BF.AdditionalControls'}}">
									<i class="fa-solid fa-ellipsis-vertical" aria-hidden="true"></i>
								</button>
							</div>
						</td>
					</tr>
				{{/blackFlag-itemContext}}
				{{/each}}
			</tbody>
		{{/each}}
		{{#if (and modes.editing sections.uncategorized.length)}}
			<tbody data-section="uncategorized">
				<tr>
					<td class="name" colspan="3">{{localize "BF.Item.Type.Unidentified[other]"}}</td>
				</tr>
				{{#each sections.uncategorized}}
				{{#blackFlag-itemContext this as |ctx|}}
					<tr data-item-id="{{id}}">
						<th class="name" scope="row" colspan="2">
							<div class="layout">
								<img src="{{img}}">
								{{name}}
								{{blackFlag-notificationBadge @root.actor document=this}}
							</div>
						</th>
						<td class="controls">
							<div class="layout">
								{{#if @root.modes.editing}}
									<button type="button" class="link-button" data-action="edit"
													aria-label="{{localize 'BF.Item.Action.Edit'}}">
										<i class="fa-solid fa-edit" aria-hidden="true"></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
									        aria-label="{{localize 'BF.Item.Action.Delete'}}">
										<i class="fa-solid fa-trash" aria-hidden="true"></i>
									</button>
								{{/if}}
								<button type="button" class="link-button" data-context-menu
												aria-label="{{localize 'BF.AdditionalControls'}}">
									<i class="fa-solid fa-ellipsis-vertical" aria-hidden="true"></i>
								</button>
							</div>
						</td>
					</tr>
				{{/blackFlag-itemContext}}
				{{/each}}
			</tbody>
		{{/if}}
	</table>
</blackFlag-inventory>
