{{!-- Top Section --}}
<section class="top">

	<fieldset class="abilities">
		<legend>
			{{localize "BF.Ability.Label[other]"}}
			{{#if modes.editing}}
				<a data-action="config" data-type="ability">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
			{{blackFlag-notificationBadge actor category="abilities"}}
		</legend>
		{{#each system.abilities as |ability key|}}
			<div class="ability" data-key="{{key}}">
				<div class="ability-score">
					<span class="value">
						<label>
							<span class="label">{{localize ability.labels.full}}</span>
							<span class="score">{{#if ability.valid}}{{ability.value}}{{else}}&mdash;{{/if}}</span>
						</label>
					</span>
				</div>
				<div class="ability-mod">
					<a class="value" data-action="roll" data-sub-action="ability-check" data-ability="{{key}}">
						{{#if ability.valid}}{{blackFlag-number ability.check.mod sign=true}}{{else}}&mdash;{{/if}}
					</a>
				</div>
				<div class="ability-save">
					<div class="proficiency-selector" data-multiplier="{{ability.save.proficiency.multiplier}}"
						data-rounding="{{ability.save.proficiency.rounding}}">
						<svg><use xlink:href="#blackFlag-proficiency"></use></svg>
						<input type="hidden" name="system.abilities.{{key}}.save.proficiency.multiplier"
							value="{{ability._source.save.proficiency.multiplier}}">
					</div>
					<a class="value" data-action="roll" data-sub-action="ability-save" data-ability="{{key}}">
						<svg class="label" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<defs>
								<path id="path-0" d="M 45.5 27.5 A 18 18 0 0 1 27.5 45.5 A 18 18 0 0 1 9.5 27.5 A 18 18 0 0 1 27.5 9.5 A 18 18 0 0 1 45.5 27.5 Z"/>
							</defs>
							<text><textPath xlink:href="#path-0">{{localize "BF.SavingThrow.LabelShort[one]"}}</textPath></text>
						</svg>
						<span class="mod">
							{{#if ability.valid}}{{blackFlag-number ability.save.mod sign=true}}{{else}}&mdash;{{/if}}
						</span>
					</a>
				</div>
			</div>
		{{/each}}
	</fieldset>

</section>


{{!-- Left Column --}}
<section class="left">

	<fieldset class="armor-class">
		<legend>
			{{localize "BF.ArmorClass.Label"}}
			{{#if modes.editing}}
				<a data-action="config" data-type="armor-class">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
			{{blackFlag-notificationBadge actor category="armor-class"}}
		</legend>
		<div class="ac-shield">
			<svg class="frame"><use xlink:href="#blackFlag-armorClass"/></svg>
			<span class="value">{{system.attributes.ac.value}}</span>
		</div>
		<div class="ac-label">
			{{localize system.attributes.ac.label}}
		</div>
	</fieldset>

	<fieldset class="skills">
		<legend>
			{{localize "BF.Skill.Label[other]"}}
			{{#if modes.editing}}
				<a data-action="config" data-type="skill">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
			{{blackFlag-notificationBadge actor category="skills"}}
		</legend>
		{{#each system.proficiencies.skills as |skill key|}}
			<div class="skill block" data-key="{{key}}">
				<div class="proficiency-selector" data-multiplier="{{skill.proficiency.multiplier}}"
					data-rounding="{{skill.proficiency.rounding}}">
					<svg><use xlink:href="#blackFlag-proficiency"></use></svg>
					<input type="hidden" name="system.proficiencies.skills.{{key}}.proficiency.multiplier"
						value="{{skill._source.proficiency.multiplier}}">
				</div>
				<button type="button" data-action="roll" data-sub-action="skill" data-skill="{{key}}">
					<span class="name">
						{{localize skill.labels.name}}
					</span>
					<span class="ability">
						{{lookup @root.CONFIG.abilities.localizedAbbreviations skill.ability}}
					</span>
					<span class="mod">{{#if skill.valid}}{{blackFlag-number skill.mod}}{{else}}&mdash;{{/if}}</span>
				</button>
			</div>
		{{/each}}
	</fieldset>

	<fieldset class="tools">
		<legend>
			{{localize "BF.Tool.Label[other]"}}
			{{#if modes.editing}}
				<a data-action="config" data-type="tool">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
			{{blackFlag-notificationBadge actor category="tools"}}
		</legend>
		{{#each system.proficiencies.tools as |tool key|}}
			<div class="tool block" data-key="{{key}}">
				<div class="proficiency-selector" data-multiplier="{{tool.proficiency.multiplier}}"
					data-rounding="{{tool.proficiency.rounding}}">
					<svg><use xlink:href="#blackFlag-proficiency"></use></svg>
					<input type="hidden" name="system.proficiencies.tools.{{key}}.proficiency.multiplier"
						value="{{tool._source.proficiency.multiplier}}">
				</div>
				<button type="button" data-action="roll" data-sub-action="tool" data-tool="{{key}}">
					<span class="name">
						{{localize tool.label}}
					</span>
					<span class="ability">
						{{lookup @root.CONFIG.abilities.localizedAbbreviations tool.ability}}
					</span>
					<span class="mod">{{#if tool.valid}}{{blackFlag-number tool.mod}}{{/if}}</span>
				</button>
			</div>
		{{/each}}
	</fieldset>

</section>


{{!-- Center Column --}}
<section class="center">

	<fieldset class="luck">
		<legend>{{localize "BF.Luck.Label"}}</legend>
		<ol class="luck-points">
			{{#each luckPoints}}
				<li class="luck-point{{#if selected}} selected{{/if}}"></li>
			{{/each}}
		</ol>
		<a data-action="luck" data-sub-action="add">
			<i class="fa-solid fa-plus"></i>
		</a>
	</fieldset>

	<fieldset class="hit-points">
		<legend>{{localize "BF.HitPoint.Label[other]"}}</legend>
		<div class="main-hit-points">
			<label class="current-hit-points">
				<span class="label">{{localize "BF.HitPoint.Current.LabelShort"}}</span>
				<input class="value" type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}">
			</label>
			<div class="separator"></div>
			<label class="max-hit-points">
				<span class="label">{{localize "BF.HitPoint.Max.LabelShort"}}</span>
				<span class="value">{{system.attributes.hp.max}}</span>
			</label>
		</div>
		{{#unless (and (not system.attributes.hp.value) system.attributes.hp.max)}}
			<div class="other-hit-points">
				<label class="temp-hit-points">
					<span class="label">{{localize "BF.HitPoint.Temp.LabelShort"}}</span>
					<input class="value" type="text" name="system.attributes.hp.temp" value="{{system.attributes.hp.temp}}">
				</label>
			</div>
		{{else}}
			<div class="death-saves">
				<span>{{localize "BF.Death.Label[other]"}}</span>
				<blackflag-deathSaves>
					<input type="number" name="system.attributes.death.success" value="{{system.attributes.death.success}}"
						     min=0 step=1>
					<input type="number" name="system.attributes.death.failure" value="{{system.attributes.death.failure}}"
								 min=0 step=1>
				</blackflag-deathSaves>
			</div>
		{{/unless}}
		<div class="hit-dice">
			{{#each system.attributes.hd.d as |data denomination|}}
				<div class="denomination">
					<label class="label">d{{denomination}}</label>
					{{#if @root.modes.editing}}
						<input class="value" type="number" name="system.attributes.hd.d.{{denomination}}.available"
							value="{{data.available}}" step=1 min=0 max={{data.max}}>
					{{else}}
						<span class="value">{{blackFlag-number data.available}}</span>
					{{/if}}
					<div class="separator"></div>
					<span class="max">{{blackFlag-number data.max}}</span>
					<button type="button" data-action="roll" data-sub-action="hit-die" data-denomination="{{denomination}}"
						{{disabled (eq data.available 0)}}>
						<svg class="die-icon blue"><use xlink:href="#blackFlag-d{{denomination}}"></use></svg>
					</button>
				</div>
			{{/each}}
		</div>
	</fieldset>

	<fieldset class="initiative">
		<legend>
			{{localize "BF.Initiative.Label"}}
			{{#if modes.editing}}
				<a data-action="config" data-type="initiative">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
		</legend>
		<div class="block">
			<span class="value">{{blackFlag-number system.attributes.initiative.mod sign=true}}</span>
			<button type="button" data-action="roll" data-sub-action="initiative">
				<svg class="die-icon blue"><use xlink:href="#blackFlag-d20"></use></svg>
			</button>
		</div>
	</fieldset>

	<fieldset class="traits">
		<legend>{{localize "BF.Trait.Label[other]"}}</legend>
		{{#each traits}}
			<div class="trait block {{key}} {{classes}}">
				<label>
					<span>{{localize label}}</span>
					{{#if (and @root.modes.editing config)}}
						<a data-action="config" data-type="{{config}}">
							<i class="fa-solid fa-cog"></i>
						</a>
					{{/if}}
				</label>
				<span>{{value}}</span>
			</div>
		{{/each}}
	</fieldset>

</section>


{{!-- Right Column --}}
<section class="right">

	<fieldset class="actions">
		<legend>{{localize "BF.Activation.Type.Action[other]"}}</legend>
		{{> "blackFlag.pc-actions"}}
	</fieldset>

	<fieldset class="resting">
		<legend>{{localize "BF.Rest.Label"}}</legend>
		{{#each CONFIG.rest.types as |data key|}}
			<button type="button" data-action="rest" data-type="{{key}}">
				{{localize data.label}}
			</button>
		{{/each}}
	</fieldset>

</section>


{{!--
	<fieldset class="movement">
		<legend>
			{{localize "BF.Speed.Label"}}
			{{#if modes.editing}}
				<a data-action="config" data-type="movement">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
		</legend>
		<span class="primary">{{system.traits.movement.labels.primary}}</span>
		{{#if system.traits.movement.labels.secondary}}
			<span class="secondary">{{system.traits.movement.labels.secondary}}</span>
		{{/if}}
	</fieldset>
</section>--}}
