<section class="spellcasting-origins">
	{{#each system.spellcasting.origins}}
		{{#if document}}
			<div class="source-details" style="--item-color: {{ document.accentColor }}">
				<h3>{{ document.name }}</h3>
				<ul>
					<li>
						<h4>{{ localize "BF.Ability.Label[one]" }}</h4>
						<span>{{lookup @root.CONFIG.abilities.localizedAbbreviations ability }}</span>
					</li>
					<li>
						<h4>{{ localize "BF.Spellcasting.Attack.Abbreviation" }}</h4>
						<span>{{ blackFlag-number attack sign=true }}</span>
					</li>
					<li>
						<h4>{{ localize "BF.Spellcasting.DC.Abbreviation" }}</h4>
						<span>{{ blackFlag-number dc }}</span>
					</li>
					{{#if prepared.max}}
						<li>
							<h4>{{ localize "BF.Spell.Preparation.Prepared" }}</h4>
							<span>{{ blackFlag-number prepared.value }} / {{ blackFlag-number prepared.max }}</span>
						</li>
					{{/if}}
				</ul>
			</div>
		{{/if}}
	{{/each}}
</section>

<blackFlag-inventory tab="spellcasting">
	<table>
		<thead>
			<tr class="filters">
				<th>
					<blackFlag-sorting>
						<label>{{ localize "BF.Sheet.Sorting.Mode.Alphabetic" }} <input type="radio" value="alpha"></label>
						<label>{{ localize "BF.Sheet.Sorting.Mode.Manual" }} <input type="radio" value=""></label>
					</blackFlag-sorting>
				</th>
				<th colspan="7">
					<blackFlag-filters>
						<label>{{ localize "BF.Activation.Type.Action[one]" }} <blackFlag-filter filter="action"></label>
						<label>{{ localize "BF.Activation.Type.BonusAction[one]" }} <blackFlag-filter filter="bonus"></label>
						<label>{{ localize "BF.Activation.Type.Reaction[one]" }} <blackFlag-filter filter="reaction"></label>
						<label>{{ localize "BF.Spell.Tag.Concentration.Label" }} <blackFlag-filter filter="concentration"></label>
						<label>{{ localize "BF.Spell.Tag.Ritual.Label" }} <blackFlag-filter filter="ritual"></label>
						<label>{{ localize "BF.Spell.Preparation.Prepared" }} <blackFlag-filter filter="prepared"></label>
					</blackFlag-filters>
				</th>
			</tr>
		</thead>
		{{#each sections.spellcasting as |section|}}
			<tbody data-section="{{ @key }}">
				<tr class="table-header">
					<td class="name">{{ localize section.label }}</td>
					<td class="slots">
						<div class="layout">
							<span class="value">{{ blackFlag-number section.ring.value }}</span>
							<span class="separator">/</span>
							{{#if (and @root.editable section.ring.allowOverride)}}
								<input type="number" class="max uninput" name="system.spellcasting.rings.{{ @key }}.override"
								       value="{{ section.ring.override }}" placeholder="{{ section.ring.maxPlaceholder }}">
							{{else}}
								<span class="max">{{ blackFlag-number section.ring.max }}</span>
							{{/if}}
						</div>
					</td>
					<th class="casting" scope="col">{{ localize "BF.Spell.Casting.Label" }}</th>
					<th class="range" scope="col">{{ localize "BF.Range.Label" }}</th>
					<th class="target" scope="col">{{ localize "BF.Target.Label[one]" }}</th>
					<th class="traits" scope="col">{{ localize "BF.Trait.Label[other]" }}</th>
					<td class="controls">
						<div class="layout">
							{{#if @root.modes.editing}}
								<button type="button" class="link-button" data-action="add"
								        data-tooltip="BF.Spell.Action.Add"
								        aria-label="{{ localize 'BF.Spell.Action.Add' }}">
									<i class="fa-solid fa-plus" inert></i>
								</button>
							{{/if}}
						</div>
					</td>
				</tr>
				{{#each section.items}}
				{{#blackFlag-itemContext this as |ctx|}}
					<tr data-item-id="{{ id }}" {{ blackFlag-dataset ctx.dataset }}>
						<th class="name" scope="row">
							<div class="layout">
								<img src="{{ img }}">
								<button type="button" class="link-button" data-action="expand">
									{{ name }}
									<i class="fa-solid fa-caret-down" inert></i>
								</button>
								{{ blackFlag-notificationBadge actor document=this }}
							</div>
						</th>
						<td class="components">
							<div class="layout">
								{{{ system.components.label }}}
								{{#if system.uses.label}}
									<span class="uses">({{ system.uses.label }})</span>
								{{/if}}
							</div>
						</td>
						<td class="casting">
							{{{ system.casting.label }}}
						</td>
						<td class="range">
							{{{ system.range.label }}}
						</td>
						<td class="target">
							{{{ system.target.label }}}
						</td>
						<td class="traits">
							
						</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.editable}}
									<button type="button" class="link-button" data-action="edit"
									        data-tooltip="BF.Spell.Action.Edit"
									        aria-label="{{ localize 'BF.Spell.Action.Edit' }}">
										<i class="fa-solid fa-edit" inert></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
									        data-tooltip="BF.Spell.Action.Delete"
									        aria-label="{{ localize 'BF.Spell.Action.Delete' }}">
										<i class="fa-solid fa-trash" inert></i>
									</button>
								{{else}}
								{{> "blackFlag.inventory-controls" buttons=ctx.buttons }}
								{{/if}}
								<button type="button" class="link-button" data-context-menu
								        data-tooltip="BF.AdditionalControls"
								        aria-label="{{ localize 'BF.AdditionalControls' }}">
									<i class="fa-solid fa-ellipsis-vertical" inert></i>
								</button>
							</div>
						</td>
					</tr>
					<tr class="collapsible {{#unless ctx.expanded}}collapsed{{/unless}}" data-expand-for="{{ id }}">
						<td colspan="7">
							{{#if ctx.expanded}}{{> "blackFlag.inventory-summary" ctx.expanded }}{{/if}}
						</td>
					</tr>
				{{/blackFlag-itemContext}}
				{{/each}}
			</tbody>
		{{/each}}
	</table>
</blackFlag-inventory>

<div class="manage-spells">
	<button type="button" class="light-button" data-action="manage-spells">
		<i class="fa-solid fa-book" inert></i>
		{{ localize "BF.Spellbook.Action.ManageSpells" }}
		{{ blackFlag-notificationBadge actor key="spells-to-learn" }}
	</button>
</div>
