<blackFlag-inventory tab="spellcasting">
	<table>
		<thead>
			<tr class="filters">
				<th>
					<blackFlag-sorting>
						<label>{{localize "BF.Sheet.Sorting.Mode.Alphabetic"}} <input type="radio" value="alpha"></label>
						<label>{{localize "BF.Sheet.Sorting.Mode.Manual"}} <input type="radio" value=""></label>
					</blackFlag-sorting>
				</th>
				<th colspan="7">
					<blackFlag-filters>
						<label>{{localize "BF.Activation.Type.Action[one]"}} <blackFlag-filter filter="action"></label>
						<label>{{localize "BF.Activation.Type.BonusAction[one]"}} <blackFlag-filter filter="bonus"></label>
						<label>{{localize "BF.Activation.Type.Reaction[one]"}} <blackFlag-filter filter="reaction"></label>
						<label>{{localize "BF.Spell.Tag.Concentration.Label"}} <blackFlag-filter filter="concentration"></label>
						<label>{{localize "BF.Spell.Tag.Ritual.Label"}} <blackFlag-filter filter="ritual"></label>
						<label>{{localize "BF.Spell.Preparation.Prepared"}} <blackFlag-filter filter="prepared"></label>
					</blackFlag-filters>
				</th>
			</tr>
		</thead>
		{{#each sections.spellcasting as |section sectionId|}}
			<tbody data-section="{{sectionId}}">
				<tr>
					<td class="name">{{localize section.label}}</td>
					<td class="slots">
						<div class="layout">
							{{blackFlag-number section.ring.value}} / {{blackFlag-number section.ring.max}}
						</div>
					</td>
					<th class="casting" scope="col">{{localize "BF.Spell.Casting.Label"}}</th>
					<th class="range" scope="col">{{localize "BF.Range.Label"}}</th>
					<th class="target" scope="col">{{localize "BF.Target.Label[one]"}}</th>
					<th class="traits" scope="col">{{localize "BF.Trait.Label[other]"}}</th>
					<td class="controls">
						<div class="layout">
							{{#if @root.modes.editing}}
								<button type="button" class="link-button" data-action="add"
								        aria-label="{{localize 'BF.Spell.Action.Add'}}">
									<i class="fa-solid fa-plus" aria-hidden="true"></i>
								</a>
							{{/if}}
						</div>
					</td>
				</tr>
				{{#each section.items as |spell|}}
				{{#blackFlag-itemContext spell as |ctx|}}
					<tr data-item-id="{{spell.id}}" data-spell-type="{{spell.system.type.value}}"
					    data-spell-prepared="{{spell.system.prepared}}">
						<th class="name" scope="row">
							<div class="layout">
								<img src="{{spell.img}}">
								<span>{{spell.name}}</span>
								{{blackFlag-notificationBadge actor document=spell}}
							</div>
						</th>
						<td class="components">
							<div class="layout">
								{{{spell.system.components.label}}}
								{{#if spell.system.uses.label}}
									<span class="uses">({{spell.system.uses.label}})</span>
								{{/if}}
							</div>
						</td>
						<td class="casting">
							{{{spell.system.casting.label}}}
						</td>
						<td class="range">
							{{{spell.system.range.label}}}
						</td>
						<td class="target">
							{{{spell.system.target.label}}}
						</td>
						<td class="traits">
							
						</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.editable}}
									<button type="button" class="link-button" data-action="edit"
									        aria-label="{{localize 'BF.Spell.Action.Edit'}}">
										<i class="fa-solid fa-edit" aria-hidden="true"></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
									        aria-label="{{localize 'BF.Spell.Action.Delete'}}">
										<i class="fa-solid fa-trash" aria-hidden="true"></i>
									</button>
								{{else}}
								{{#with ctx.preparation}}
									{{#if applicable}}
										<button type="button" class="link-button {{classes}}" data-action="prepare" data-tooltip="{{title}}"
									        	aria-label="{{localize title}}" {{disabled disabled}}>
											<i class="fa-regular fa-sun" aria-hidden="true"></i>
										</button>
									{{/if}}
								{{/with}}
								{{/if}}
								<button type="button" class="link-button" data-context-menu
								        aria-label="{{localize 'BF.AdditionalControls'}}">
									<i class="fa-solid fa-ellipsis-vertical"></i>
								</button>
							</div>
						</td>
					</tr>
				{{/blackFlag-itemContext}}
				{{/each}}
			</tbody>
		{{/each}}
		<tfoot>
			<!-- TODO: Preparation details and whatnot in footer -->
		</tfoot>
	</table>
</blackFlag-inventory>
