<section class="spellcasting-sources">
	{{#each system.spellcasting.sources}}
		<div class="source-details" style="--item-color: {{document.accentColor}}">
			<h3>{{document.name}}</h3>
			<ul>
				<li>
					<h4>{{localize "BF.Ability.Label[one]"}}</h4>
					<span>{{lookup @root.CONFIG.abilities.localizedAbbreviations ability}}</span>
				</li>
				<li>
					<h4>{{localize "BF.Spellcasting.Attack.Abbreviation"}}</h4>
					<span>{{blackFlag-number attack sign=true}}</span>
				</li>
				<li>
					<h4>{{localize "BF.Spellcasting.DC.Abbreviation"}}</h4>
					<span>{{blackFlag-number dc}}</span>
				</li>
			</ul>
		</div>
	{{/each}}
</section>

<blackFlag-inventory tab="spellcasting">
	<table>
		<thead>
			<tr class="filters">
				<th>
					<blackFlag-sorting>
						<label>{{localize "BF.Sheet.Sorting.Mode.Alphabetic"}} <input type="radio" value="alpha"></label>
						<label>{{localize "BF.Sheet.Sorting.Mode.Manual"}} <input type="radio" value=""></label>
					</blackFlag-sorting>
				</th>
				<th colspan="7">
					<blackFlag-filters>
						<label>{{localize "BF.Activation.Type.Action[one]"}} <blackFlag-filter filter="action"></label>
						<label>{{localize "BF.Activation.Type.BonusAction[one]"}} <blackFlag-filter filter="bonus"></label>
						<label>{{localize "BF.Activation.Type.Reaction[one]"}} <blackFlag-filter filter="reaction"></label>
						<label>{{localize "BF.Spell.Tag.Concentration.Label"}} <blackFlag-filter filter="concentration"></label>
						<label>{{localize "BF.Spell.Tag.Ritual.Label"}} <blackFlag-filter filter="ritual"></label>
						<label>{{localize "BF.Spell.Preparation.Prepared"}} <blackFlag-filter filter="prepared"></label>
					</blackFlag-filters>
				</th>
			</tr>
		</thead>
		{{#each sections.spellcasting as |section|}}
			<tbody data-section="{{@key}}">
				<tr class="table-header">
					<td class="name">{{localize section.label}}</td>
					<td class="slots">
						<div class="layout">
							<span class="value">{{blackFlag-number section.ring.value}}</span>
							<span class="separator">/</span>
							{{#if (and @root.editable section.ring.allowOverride)}}
								<input type="number" class="max uninput" name="system.spellcasting.rings.{{@key}}.override"
								       value="{{section.ring.override}}" placeholder="{{section.ring.maxPlaceholder}}">
							{{else}}
								<span class="max">{{blackFlag-number section.ring.max}}</span>
							{{/if}}
						</div>
					</td>
					<th class="casting" scope="col">{{localize "BF.Spell.Casting.Label"}}</th>
					<th class="range" scope="col">{{localize "BF.Range.Label"}}</th>
					<th class="target" scope="col">{{localize "BF.Target.Label[one]"}}</th>
					<th class="traits" scope="col">{{localize "BF.Trait.Label[other]"}}</th>
					<td class="controls">
						<div class="layout">
							{{#if @root.modes.editing}}
								<button type="button" class="link-button" data-action="add"
								        aria-label="{{localize 'BF.Spell.Action.Add'}}">
									<i class="fa-solid fa-plus" aria-hidden="true"></i>
								</a>
							{{/if}}
						</div>
					</td>
				</tr>
				{{#each section.items as |spell|}}
				{{#blackFlag-itemContext spell as |ctx|}}
					<tr data-item-id="{{spell.id}}" {{blackFlag-dataset ctx.dataset}}>
						<th class="name" scope="row">
							<div class="layout">
								<img src="{{spell.img}}">
								<span>{{spell.name}}</span>
								{{blackFlag-notificationBadge actor document=spell}}
							</div>
						</th>
						<td class="components">
							<div class="layout">
								{{{spell.system.components.label}}}
								{{#if spell.system.uses.label}}
									<span class="uses">({{spell.system.uses.label}})</span>
								{{/if}}
							</div>
						</td>
						<td class="casting">
							{{{spell.system.casting.label}}}
						</td>
						<td class="range">
							{{{spell.system.range.label}}}
						</td>
						<td class="target">
							{{{spell.system.target.label}}}
						</td>
						<td class="traits">
							
						</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.editable}}
									<button type="button" class="link-button" data-action="edit"
									        aria-label="{{localize 'BF.Spell.Action.Edit'}}">
										<i class="fa-solid fa-edit" aria-hidden="true"></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
									        aria-label="{{localize 'BF.Spell.Action.Delete'}}">
										<i class="fa-solid fa-trash" aria-hidden="true"></i>
									</button>
								{{else}}
								{{> "blackFlag.inventory-controls" buttons=ctx.buttons}}
								{{/if}}
								<button type="button" class="link-button" data-context-menu
								        aria-label="{{localize 'BF.AdditionalControls'}}">
									<i class="fa-solid fa-ellipsis-vertical" aria-hidden="true"></i>
								</button>
							</div>
						</td>
					</tr>
				{{/blackFlag-itemContext}}
				{{/each}}
			</tbody>
		{{/each}}
		<tfoot>
			<!-- TODO: Preparation details and whatnot in footer -->
		</tfoot>
	</table>
</blackFlag-inventory>

<div class="manage-spells">
	<button type="button" class="light-button" data-action="manage-spells">
		<i class="fa-solid fa-book" inert></i>
		{{localize "BF.Spellbook.Action.ManageSpells"}}
	</button>
</div>
