	<blackFlag-actions>
	{{#if editable}}
		<button type="button" class="light-button" data-action="add-feature">
			<i class="fa-solid fa-plus" inert></i> {{ localize "BF.Feature.Action.Add" }}
		</button>
	{{/if}}

	<div class="features passive">
		{{#each passive}}
			<div class="feature" data-item-id="{{ item.id }}" {{~#if activity}} data-activity-id="{{ activity.id }}"{{/if}}>
				<span class="controls">
					{{#if @root.editable}}
						<button type="button" class="link-button" data-action="edit"
										data-tooltip="BF.ACTIVITY.Core.Action.Edit"
										aria-label="{{ localize 'BF.ACTIVITY.Core.Action.Edit' }}">
							<i class="fa-solid fa-pen-to-square" inert></i>
						</button>
					{{/if}}
					<a data-action="activate">{{ item.name }}{{#if uses}} ({{ uses }}){{/if}}.</a>
				</span>
				{{{ description }}}
			</div>
		{{/each}}
	</div>

	{{#each actions}}
		<div class="features {{ @key }}">
			<h2>
				{{ label }}
				{{#if count}}
					<div class="action-count">
						{{#if @root.editable}}
							<span>{{ count.value }}</span>
							/
							<input type="number" name="{{ count.prefix }}.max" value="{{ count.max }}" step="1" min="0">
						{{else}}
							<input type="text" name="{{ count.prefix }}.value" value="{{ count.value }}">
							/
							<span>{{ count.max }}</span>
						{{/if}}
					</div>
				{{/if}}
			</h2>
			{{#if (or description (and @root.editable descriptionKeyPath))}}
				{{#if (and @root.editable descriptionKeyPath)}}
					<textarea name="{{ descriptionKeyPath }}">{{ description }}</textarea>
				{{else}}
					<p>{{ description }}</p>
				{{/if}}
			{{/if}}
			{{#each items}}
				<div class="feature" data-item-id="{{ item.id }}"
						 {{~#if activity}} data-activity-id="{{ activity.id }}"{{/if}}>
					<span class="controls">
						{{#if @root.editable}}
							<button type="button" class="link-button" data-action="edit"
											data-tooltip="BF.ACTIVITY.Core.Action.Edit"
											aria-label="{{ localize 'BF.ACTIVITY.Core.Action.Edit' }}">
								<i class="fa-solid fa-pen-to-square" inert></i>
							</button>
						{{/if}}
						<a data-action="activateItem">{{ item.name }}{{#if uses}} ({{ uses }}){{/if}}.</a>
					</span>
					{{{ description }}}
				</div>
			{{/each}}
			{{#if (and (eq @key "action") @root.spellcasting)}}
			{{#with @root.spellcasting}}
				<div class="spellcasting feature">
					<span class="controls">
						{{#if @root.editable}}
							<button type="button" class="link-button" data-action="config" data-type="spellcasting"
											data-tooltip="BF.Spellcasting.Action.Configure"
											aria-label="{{ localize 'BF.Spellcasting.Action.Configure' }}">
								<i class="fa-solid fa-cog" inert></i>
							</button>
						{{/if}}
						{{ localize "BF.Spellcasting.Label" }}.
					</span>
					{{{ description }}}
				</div>
			{{/with}}
			{{/if}}
		</div>
	{{/each}}
</blackFlag-actions>
