{{#each buttons}}
	<button type="button" class="link-button {{classes}}" data-action="{{action}}" data-tooltip="{{title}}"
					aria-label="{{localize label}}" aria-pressed="{{pressed}}" {{disabled disabled}}>
		{{{icon}}}
	</button>
{{/each}}
