<form autocomplete="off">
	<div class="form-group">
		<label>{{ localize "BF.Identity.ID" }}</label>
		<div class="form-fields">
			<input type="text" value="{{ document.id }}" readonly>
			<a data-action="copy" aria-label="{{ localize 'BF.Identity.Copy' }}">
				<i class="fa-regular fa-clipboard" inert></i>
			</a>
		</div>
	</div>
	<div class="form-group">
		<label>{{ localize "BF.Identity.UUID" }}</label>
		<div class="form-fields">
			<input type="text" value="{{ document.uuid }}" readonly>
			<a data-action="copy" aria-label="{{ localize 'BF.Identity.Copy' }}">
				<i class="fa-regular fa-clipboard" inert></i>
			</a>
		</div>
	</div>
	{{#if displayIdentifier}}
		<div class="form-group">
			<label>{{ localize "BF.Identifier.Label" }}</label>
			<div class="form-fields">
				<input type="text" name="system.identifier.value" value="{{ document.system.identifier.value }}"
				       placeholder="{{ localize identifierPlaceholder }}">
				<a data-action="copy" aria-label="{{ localize 'BF.Identity.Copy' }}">
					<i class="fa-regular fa-clipboard" inert></i>
				</a>
			</div>
			<p class="hint">
				{{ localize "BF.Identifier.Hint" }}
			</p>
		</div>
	{{/if}}
</form>
