<form autocomplete="off">
	<fieldset class="ability-restrictions">
		<legend>{{ localize "BF.Prerequisite.Ability.Title" }}</legend>
		{{#each abilities}}
			<label>
				<span>{{ localize label }}</span>
				<input type="number" name="abilities.{{ @key }}" value="{{ value }}">
			</label>
		{{/each}}
	</fieldset>
	<fieldset class="spellcasting">
		<legend>{{ localize "BF.Spellcasting.Label" }}</legend>
		<label class="full-checkbox">
			<span>{{ localize "BF.Prerequisite.SpellcastingFeature.ConfigLabel" }}</span>
			<input type="checkbox" name="spellcasting.feature" {{ checked spellcasting.feature }}>
		</label>
		<label>
			<span>{{ localize "BF.Prerequisite.SpellcastingCircle.ConfigLabel" }}</span>
			<select name="spellcasting.circle" data-dtype="Number">
				{{ selectOptions spellCircles selected=spellcasting.circle blank="" }}
			</select>
		</label>
		<label class="full-checkbox">
			<span>{{ localize "BF.Prerequisite.SpellcastingCantrip.ConfigLabel" }}</span>
			<input type="checkbox" name="spellcasting.cantrip" {{ checked spellcasting.cantrip }}>
		</label>
		<label class="full-checkbox">
			<span>{{ localize "BF.Prerequisite.SpellcastingDamage.ConfigLabel" }}</span>
			<input type="checkbox" name="spellcasting.damage" {{ checked spellcasting.damage }}>
		</label>
	</fieldset>
	<fieldset class="traits">
		<legend>{{ localize "BF.Trait.Label[other]" }}</legend>
		<label>
			<span>{{ localize "BF.Prerequisite.LevelCharacter.ConfigLabel" }}</span>
			<select name="traits.level" data-dtype="Number">
				{{ selectOptions levels selected=traits.level blank="" }}
			</select>
		</label>
		<label>
			<span>{{ localize "BF.Size.Label" }}</span>
			<select name="traits.size">
				{{ selectOptions CONFIG.sizes selected=traits.size labelAttr="label" localize=true blank="" }}
			</select>
		</label>
	</fieldset>
</form>
