<form autocomplete="off">
	<fieldset>
		<legend>{{ localize "BF.Prerequisite.Config.Details" }}</legend>
		<label class="full-checkbox">
			<span class="hinted-label" data-tooltip="BF.Prerequisite.RequireAll.Hint">
				{{ localize "BF.Prerequisite.RequireAll.Label" }}
			</span>
			<input type="checkbox" name="system.restriction.requireAll" {{ checked system.restriction.requireAll }}>
		</label>
	</fieldset>
	<fieldset class="other-items">
		<legend>{{ localize "BF.Prerequisite.Items.Label" }}</legend>
		<document-tags name="system.restriction.items" type="Item" value="{{ items }}"></document-tags>
	</fieldset>
	<fieldset class="ability-restrictions">
		<legend>{{ localize "BF.Prerequisite.Ability.Title" }}</legend>
		{{#each abilities}}
			<label>
				<span>{{ localize label }}</span>
				<input type="number" name="abilities.{{ @key }}" value="{{ value }}">
			</label>
		{{/each}}
	</fieldset>
	<fieldset class="spellcasting">
		<legend>{{ localize "BF.Spellcasting.Label" }}</legend>
		<label class="full-checkbox">
			<span>{{ localize "BF.Prerequisite.SpellcastingFeature.ConfigLabel" }}</span>
			<input type="checkbox" name="spellcasting.feature" {{ checked spellcasting.feature }}>
		</label>
		<label>
			<span>{{ localize "BF.Prerequisite.SpellcastingCircle.ConfigLabel" }}</span>
			<select name="spellcasting.circle" data-dtype="Number">
				{{ selectOptions spellCircles selected=spellcasting.circle blank="" }}
			</select>
		</label>
		<label class="full-checkbox">
			<span>{{ localize "BF.Prerequisite.SpellcastingCantrip.ConfigLabel" }}</span>
			<input type="checkbox" name="spellcasting.cantrip" {{ checked spellcasting.cantrip }}>
		</label>
		<label class="full-checkbox">
			<span>{{ localize "BF.Prerequisite.SpellcastingDamage.ConfigLabel" }}</span>
			<input type="checkbox" name="spellcasting.damage" {{ checked spellcasting.damage }}>
		</label>
	</fieldset>
	<fieldset class="proficiencies">
		<legend>{{ localize "BF.Proficiency.Label[other]" }}</legend>
		<label>
			<span>{{ localize "BF.Item.Type.Armor[one]" }}</span>
			<multi-select name="proficiencies.armor">
				{{ blackFlag-groupedSelectOptions proficiencies.armor }}
			</multi-select>
		</label>
		<label>
			<span>{{ localize "BF.Item.Type.Weapon[one]" }}</span>
			<multi-select name="proficiencies.weapons">
				{{ blackFlag-groupedSelectOptions proficiencies.weapons }}
			</multi-select>
		</label>
		<label>
			<span>{{ localize "BF.Item.Type.Tool[one]" }}</span>
			<multi-select name="proficiencies.tools">
				{{ blackFlag-groupedSelectOptions proficiencies.tools }}
			</multi-select>
		</label>
		<label>
			<span>{{ localize "BF.Skill.Label[one]" }}</span>
			<multi-select name="proficiencies.skills">
				{{ blackFlag-groupedSelectOptions proficiencies.skills }}
			</multi-select>
		</label>
	</fieldset>
	<fieldset class="traits">
		<legend>{{ localize "BF.Trait.Label[other]" }}</legend>
		<label>
			<span>
				{{#if traits.level.class}}
					{{ localize "BF.Prerequisite.LevelClass.ConfigLabel" }}
				{{else}}
					{{ localize "BF.Prerequisite.LevelCharacter.ConfigLabel" }}
				{{/if}}
			</span>
			<select name="traits.level.value" data-dtype="Number">
				{{ selectOptions levels selected=traits.level.value blank="" }}
			</select>
		</label>
		{{#if traits.level.value}}
			<label>
				<span>{{ localize "BF.Advancement.Core.Level.Reference.Label" }}</span>
				<select name="traits.level.class">
					{{ selectOptions CONFIG.registration.all.class selected=traits.level.class labelAttr="name"
				                   blank=(localize "BF.Prerequisite.LevelCharacter.ConfigLabel") }}
				</select>
			</label>
		{{/if}}
		<label>
			<span>{{ localize "BF.Size.Label" }}</span>
			<select name="traits.size">
				{{ selectOptions CONFIG.sizes selected=traits.size labelAttr="label" localize=true blank="" }}
			</select>
		</label>
	</fieldset>
</form>
