<form autocomplete="off">
	<fieldset class="ability-restrictions">
		<legend>{{localize "BF.Prerequisite.Ability.Title"}}</legend>
		{{#each abilities as |ability key|}}
			<label>
				<span>{{localize ability.label}}</span>
				<input type="number" name="abilities.{{key}}" value="{{ability.value}}">
			</label>
		{{/each}}
	</fieldset>
	<fieldset class="spellcasting">
		<legend>Spellcasting</legend>
	</fieldset>
	<fieldset class="traits">
		<legend>{{localize "BF.Trait.Label[other]"}}</legend>
		<label>
			<span>{{localize "BF.Size.Label"}}</span>
			<select name="traits.size">
				{{selectOptions CONFIG.sizes selected=traits.size labelAttr="label" localize=true blank=""}}
			</select>
		</label>
	</fieldset>
</form>
