<fieldset class="targeting">
	<legend>{{ localize "BF.Targeting.Label" }}</legend>
	{{#if activity.target.canOverride}}
		<label class="full-checkbox">
			<span>{{ localize "BF.Target.Override.Label" }}</span>
			<input type="checkbox" name="target.override" {{ checked activity.target.override }}>
		</label>
	{{/if}}
	<div class="range field-group">
		<span>{{ localize "BF.Range.Label" }}</span>
		{{#if activity.range.scalar}}
			<label>
				<span>{{ localize "BF.Range.Value.Label" }}</span>
				<input type="text" name="range.value" value="{{ range.data.value }}">
			</label>
		{{/if}}
		<label>
			<span>{{ localize "BF.Range.Unit.Label" }}</span>
			<select name="range.units">
				{{#select range.data.units}}
					<option value=""></option>
					<hr>
					{{ selectOptions CONFIG.rangeTypes labelAttr="label" localize=true }}
					<optgroup label="{{ localize 'BF.Distance.Label' }}">
						{{ selectOptions CONFIG.distanceUnits.localized }}
					</optgroup>
				{{/select}}
			</select>
		</label>
	</div>
	{{#if activity.range.units}}
		<label>
			<span>{{ localize "BF.Range.Special.Label" }}</span>
			<input type="text" name="range.special" value="{{ range.data.special }}">
		</label>
	{{/if}}
	<hr>
	<div class="field-group">
		<span>{{ localize "BF.Target.Label[one]" }}</span>
		{{#if activity.target.affects.scalar}}
			<label>
				<span>{{ localize "BF.TARGET.FIELDS.affects.count.label" }}</span>
				<input type="text" name="target.affects.count" value="{{ target.data.affects.count }}"
							 placeholder="{{ activity.target.affects.placeholder }}">
			</label>
		{{/if}}
		<label>
			<span>{{ localize "BF.TARGET.FIELDS.affects.type.label" }}</span>
			<select name="target.affects.type">
				{{ selectOptions CONFIG.targetTypes.localized selected=target.data.affects.type blank="" }}
			</select>
		</label>
	</div>
	{{#if activity.target.affects.type}}
		<label>
			<span>{{ localize "BF.TARGET.FIELDS.affects.special.label" }}</span>
			<input type="text" name="target.affects.special" value="{{ target.data.affects.special }}">
		</label>
	{{/if}}
	{{#if (and activity.target.affects.type target.data.template.type)}}
		<label class="full-checkbox">
			<span class="hinted-label" data-tooltip="BF.TARGET.FIELDS.affects.choice.hint">
				{{ localize "BF.TARGET.FIELDS.affects.choice.label" }}
			</span>
			<input type="checkbox" name="target.affects.choice" {{ checked target.data.affects.choice }}>
		</label>
	{{/if}}
	<hr>
	<div class="field-group">
		<span>{{ localize "BF.TARGET.FIELDS.template.label" }}</span>
		{{#if target.data.template.type}}
			<label>
				<span>{{ localize "BF.TARGET.FIELDS.template.count.label" }}</span>
				<input type="number" name="target.template.count" value="{{ target.data.template.count }}" min="1" step="1"
				       placeholder="1">
			</label>
		{{/if}}
		<label>
			<span>{{ localize "BF.TARGET.FIELDS.template.type.label" }}</span>
			<select name="target.template.type">
				{{ selectOptions CONFIG.areaOfEffectTypes.localized selected=target.data.template.type blank="" }}
			</select>
		</label>
	</div>
	{{#with activity.target.aoeSizes as |aoeSizes|}}
		<div class="field-group">
			<span>{{ localize "BF.TARGET.FIELDS.template.size.label" }}</span>
			<label>
				<span>{{ localize aoeSizes.size }}</span>
				<input type="text" name="target.template.size" value="{{ ../target.data.template.size }}">
			</label>
			{{#if aoeSizes.width}}
				<label>
					<span>{{ localize aoeSizes.width }}</span>
					<input type="text" name="target.template.width" value="{{ ../target.data.template.width }}">
				</label>
			{{/if}}
			{{#if aoeSizes.height}}
				<label>
					<span>{{ localize aoeSizes.height }}</span>
					<input type="text" name="target.template.height" value="{{ ../target.data.template.height }}">
				</label>
			{{/if}}
			<label>
				<span>{{ localize "BF.TARGET.FIELDS.template.units.label" }}</span>
				<select name="target.template.units">
					{{ selectOptions ../CONFIG.distanceUnits.localized selected=../target.data.template.units }}
				</select>
			</label>
		</div>
	{{/with}}
	{{#if (and target.data.template.type (gt target.data.template.count 1))}}
		<label class="full-checkbox">
			<span class="hinted-label" data-tooltip="BF.TARGET.FIELDS.template.contiguous.hint">
				{{ localize "BF.TARGET.FIELDS.template.contiguous.label" }}
			</span>
			<input type="checkbox" name="target.template.contiguous" {{ checked target.data.template.contiguous }}>
		</label>
	{{/if}}
</fieldset>
