<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	{{#if activity.activation.canOverride}}
		{{ formField fields.activation.fields.override value=activity.activation.override }}
	{{/if}}

	<fieldset class="activation" {{ disabled disabled.activation }}>
		<legend>{{ localize "BF.ACTIVATION.Label" }}</legend>
		<div class="field-group">
			<span>{{ localize "BF.ACTIVATION.Time" }}</span>
			{{#if activation.scalar}}
				<label>
					<span>{{ localize "BF.ACTIVATION.FIELDS.activation.value.label" }}</span>
					<input type="number" name="activation.value" value="{{ data.activation.value }}" min="0" step="1">
				</label>
			{{/if}}
			<label>
				<span>{{ localize "BF.ACTIVATION.FIELDS.activation.type.label" }}</span>
				<select name="activation.type">
					{{#select data.activation.type}}
						{{#if defaultActivation}}
							<option value="">{{ defaultActivation }}</option>
							<hr>
						{{/if}}
						{{ blackFlag-groupedSelectOptions activation.options }}
					{{/select}}
				</select>
			</label>
		</div>
		<label>
			<span>{{ localize "BF.ACTIVATION.FIELDS.activation.condition.label" }}</span>
			<input type="text" name="activation.condition" value="{{ data.activation.condition }}">
		</label>
	</fieldset>

	{{#if activity.duration.canOverride}}
		{{ formField fields.duration.fields.override value=activity.duration.override }}
	{{/if}}

	<fieldset class="duration" {{ disabled disabled.duration }}>
		<legend>{{ localize "BF.DURATION.Label" }}</legend>
		<div class="field-group">
			<span>{{ localize "BF.DURATION.Label" }}</span>
			{{#if activity.duration.scalar}}
				<label>
					<span>{{ localize "BF.DURATION.FIELDS.duration.value.label" }}</span>
					<input type="text" name="duration.value" value="{{ data.duration.value }}">
				</label>
			{{/if}}
			<label>
				<span>{{ localize "BF.DURATION.FIELDS.duration.units.label" }}</span>
				<select name="duration.units">
					{{ blackFlag-groupedSelectOptions durationOptions }}
				</select>
			</label>
		</div>
		{{#if (eq activity.duration.units "special")}}
			<label>
				<span>{{ localize "BF.DURATION.FIELDS.duration.special.label" }}</span>
				<input type="text" name="duration.special" value="{{ data.duration.special }}">
			</label>
		{{/if}}
		{{ formField fields.duration.fields.concentration value=data.duration.concentration }}
	</fieldset>
</section>
