<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	<fieldset>
		<legend>{{ localize "BF.ACTIVATION.Label" }}</legend>
		<div class="field-group">
			<span>{{ localize "BF.ACTIVATION.Time" }}</span>
			{{#if activation.scalar}}
				<label>
					<span>{{ localize "BF.ACTIVATION.FIELDS.activation.value.label" }}</span>
					<input type="number" name="activation.value" value="{{ source.activation.value }}"
								 placeholder="{{ activity.item.system.casting.value }}" min="0" step="1">
				</label>
			{{/if}}
			<label>
				<span>{{ localize "BF.ACTIVATION.FIELDS.activation.type.label" }}</span>
				<select name="activation.type">
					{{#select source.activation.type}}
						{{#if defaultActivation}}
							<option value="">{{ defaultActivation }}</option>
							<hr>
						{{/if}}
						{{ blackFlag-groupedSelectOptions activation.options }}
					{{/select}}
				</select>
			</label>
		</div>
		<label>
			<span>{{ localize "BF.ACTIVATION.FIELDS.activation.condition.label" }}</span>
			<input type="text" name="activation.condition" value="{{ source.activation.condition }}"
						 placeholder="{{ activity.item.system.casting.condition }}">
		</label>
		{{#if activity.isSpell}}
			<label class="full-checkbox">
				<span class="hinted-label" data-tooltip="BF.Activation.Primary.Hint">
					{{ localize "BF.ACTIVATION.FIELDS.activation.primary.label" }}
				</span>
				<input type="checkbox" name="activation.primary" {{ checked activity.activation.primary }}>
			</label>
		{{/if}}
	</fieldset>

	{{#if activity.duration.canOverride}}
		{{ formField fields.duration.fields.override value=activity.duration.override }}
	{{/if}}

	<fieldset class="duration" {{ disabled disabled.duration }}>
		<legend>{{ localize "BF.DURATION.Label" }}</legend>
		<div class="field-group">
			<span>{{ localize "BF.DURATION.Label" }}</span>
			{{#if activity.duration.scalar}}
				<label>
					<span>{{ localize "BF.DURATION.FIELDS.duration.value.label" }}</span>
					<input type="text" name="duration.value" value="{{ data.duration.value }}">
				</label>
			{{/if}}
			<label>
				<span>{{ localize "BF.DURATION.FIELDS.duration.units.label" }}</span>
				<select name="duration.units">
					{{ blackFlag-groupedSelectOptions durationOptions }}
				</select>
			</label>
		</div>
		{{#if (eq activity.duration.units "special")}}
			<label>
				<span>{{ localize "BF.DURATION.Special" }}</span>
				<input type="text" name="duration.special" value="{{ data.duration.special }}">
			</label>
		{{/if}}
	</fieldset>
</section>
