<fieldset>
	<legend>{{ localize "BF.ATTACK.Label" }}</legend>
	{{ formGroup systemFields.attack.fields.ability value=source.system.attack.ability options=abilityOptions
	             rootId=partId }}
	<div class="field-group">
		<span>{{ localize "BF.ATTACK.FIELDS.attack.bonus.label" }}</span>
		<label>
			<span>{{ localize "BF.Formula.Label" }}</span>
			<input type="text" name="system.attack.bonus" value="{{ source.system.attack.bonus }}">
		</label>
		<label>
			<span class="hinted-label" data-tooltip="BF.ATTACK.FIELDS.attack.flat.hint">
				{{ localize "BF.ATTACK.FIELDS.attack.flat.label" }}
			</span>
			<input type="checkbox" name="system.attack.flat" {{ checked source.system.attack.flat }}>
		</label>
	</div>
	{{ formField systemFields.attack.fields.critical.fields.threshold value=source.system.attack.critical.threshold
	             rootId=partId }}
</fieldset>
