<fieldset>
	<legend>{{ localize "BF.ATTACK.Label" }}</legend>
	<div class="field-group">
		<label>
			<span>{{ localize "BF.ATTACK.FIELDS.type.value.label" }}</span>
			<select name="system.type.value">
				{{ selectOptions CONFIG.weaponTypes selected=source.system.type.value blank=defaultType
												 labelAttr="label" localize=true }}
			</select>
		</label>
		<label>
			<span>{{ localize "BF.ATTACK.FIELDS.type.classification.label" }}</span>
			<select name="system.type.classification">
				{{ selectOptions CONFIG.attackTypes selected=source.system.type.classification
												 blank=defaultClassification localize=true }}
			</select>
		</label>
	</div>
</fieldset>
