<fieldset class="spell-link">
	<legend>{{ localize "BF.Item.Type.Spell[one]" }}</legend>
	{{#if spell.document}}
		<div class="form-group item-entry">
			<div class="name">
				<img class="icon circular" src="{{ spell.document.img }}" alt="{{ spell.document.name }}">
				{{{ spell.contentLink }}}
			</div>
			<div class="controls">
				<button type="button" class="link-button" data-action="removeSpell"
				        data-tooltip=""
				        aria-label="{{ localize '' }}">
					<i class="fa-solid fa-trash" inert"></i>
				</button>
			</div>
		</div>
	{{else}}
		{{ formInput spell.fields.uuid name="system.spell.uuid" value=spell.data.uuid }}
	{{/if}}
</fieldset>
