<blackFlag-damageList name="system.damage.parts">
	<ul class="configuration-list">
		{{#each damageParts}}
			<li data-index="{{ index }}">
				<fieldset class="unfieldset" {{ disabled data.locked }}>
					{{> "systems/black-flag/templates/activity/parts/damage-part.hbs" }}
				</fieldset>
			</li>
		{{else}}
			{{#unless editable}}
				<li class="add-control">{{ localize "None" }}</li>
			{{/unless}}
		{{/each}}
		{{#if editable}}
			<li class="add-control">
				<button type="button" class="link-button" data-action="add">
					<i class="fa-solid fa-plus" inert></i> {{ localize "BF.DAMAGE.Action.Add" }}
				</button>
			</li>
		{{/if}}
	</ul>
</blackFlag-damageList>
