<form class="{{cssClass}} drop-target" autocomplete="off">
	{{> journalEntryPageHeader}}

	<fieldset class="drop-area">
		<legend>{{localize "BF.Item.Type.Class[one]"}}</legend>
		<label>
			<span>{{localize "BF.JournalPage.Class.Item.Label"}}</span>
			{{#if document.system.item}}
				<div class="item" data-item-uuid="{{document.system.item}}" data-item-type="class">
					{{{blackFlag-linkForUUID document.system.item}}}
					<a data-action="delete">
						<i class="fa-solid fa-trash"></i>
					</a>
				</div>
			{{else}}
				<p class="drop hint">
					{{localize "BF.JournalPage.Class.Item.Hint"}}
				</p>
			{{/if}}
		</label>
		<label>
			<span>
				{{localize "BF.JournalPage.Class.Introduction.Label"}}
				<i class="hintIcon" data-tooltip="BF.JournalPage.Class.Introduction.Hint"></i>
			</span>
			<button type="button" data-action="launch-text-editor" data-target="system.description.introduction">
				<i class="fas fa-edit"></i> {{localize "BF.JournalPage.Edit"}}
			</button>
		</label>
	</fieldset>

	<fieldset>
		<legend>{{localize "BF.JournalPage.Class.AdditionalDescriptions.Label"}}</legend>
		<label>
			<span>
				{{localize "BF.HitPoint.Label[other]"}}
				<i class="hintIcon" data-tooltip="BF.JournalPage.Class.HitPoints.Hint"></i>
			</span>
			<button type="button" data-action="launch-text-editor" data-target="system.description.additionalHitPoints">
				<i class="fas fa-edit"></i> {{localize "BF.JournalPage.Edit"}}
			</button>
		</label>
		<label>
			<span>
				{{localize "BF.Proficiency.Label[other]"}}
				<i class="hintIcon" data-tooltip="BF.JournalPage.Class.Traits.Hint"></i>
			</span>
			<button type="button" data-action="launch-text-editor" data-target="system.description.additionalTraits">
				<i class="fas fa-edit"></i> {{localize "BF.JournalPage.Edit"}}
			</button>
		</label>
		<label>
			<span>
				{{localize "BF.JournalPage.Class.Equipment.Header"}}
				<i class="hintIcon" data-tooltip="BF.JournalPage.Class.Equipment.Hint"></i>
			</span>
			<button type="button" data-action="launch-text-editor" data-target="system.description.additionalEquipment">
				<i class="fas fa-edit"></i> {{localize "BF.JournalPage.Edit"}}
			</button>
		</label>
	</fieldset>
</form>
