<form class="{{ cssClass }} drop-target" autocomplete="off">
	{{> journalEntryPageHeader }}

	<fieldset class="drop-area">
		<legend>{{ localize "BF.Item.Type.Class[one]" }}</legend>
		<label>
			<span>{{ localize "BF.JournalPage.Class.Item.Label" }}</span>
			{{#if document.system.item}}
				<div class="item" data-item-uuid="{{ document.system.item }}" data-item-type="linked">
					{{{ blackFlag-linkForUUID document.system.item }}}
					<button type="button" class="link-button" data-action="delete"
					        data-tooltip="BF.JournalPage.Class.Action.Remove"
					        aria-label="{{ localize 'BF.JournalPage.Class.Action.Remove' }}">
						<i class="fa-solid fa-trash" inert></i>
					</button>
				</div>
			{{else}}
				<p class="drop-area hint">
					{{ localize "BF.JournalPage.Class.Item.Hint" }}
				</p>
			{{/if}}
		</label>
		<label>
			<span class="hinted-label" data-tooltip="BF.JournalPage.Class.Introduction.Hint">
				{{ localize "BF.JournalPage.Class.Introduction.Label" }}
			</span>
			<button type="button" class="heavy-button" data-action="launch-text-editor"
			        data-target="system.description.introduction">
				<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
			</button>
		</label>
		<label>
			<span>{{ localize "BF.JournalPage.Class.HeadingLevel.Label" }}</span>
			<select name="system.headingLevel">
				{{ selectOptions internalHeadingLevels selected=system.headingLevel
				                 blank=(localize "BF.JournalPage.Class.HeadingLevel.Inherit") }}
			</select>
		</label>
	</fieldset>

	<fieldset>
		<legend>{{ localize "BF.JournalPage.Class.AdditionalDescriptions.Label" }}</legend>
		<label>
			<span class="hinted-label" data-tooltip="BF.JournalPage.Class.HitPoints.Hint">
				{{ localize "BF.HitPoint.Label[other]" }}
			</span>
			<button type="button" class="heavy-button" data-action="launch-text-editor"
			        data-target="system.description.additionalHitPoints">
				<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
			</button>
		</label>
		<label>
			<span class="hinted-label" data-tooltip="BF.JournalPage.Class.Traits.Hint">
				{{ localize "BF.Proficiency.Label[other]" }}
			</span>
			<button type="button" class="heavy-button" data-action="launch-text-editor"
			        data-target="system.description.additionalTraits">
				<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
			</button>
		</label>
		<label>
			<span class="hinted-label" data-tooltip="BF.JournalPage.Class.Equipment.Hint">
				{{ localize "BF.JournalPage.Class.Equipment.Header" }}
			</span>
			<button type="button" class="heavy-button" data-action="launch-text-editor"
			        data-target="system.description.additionalEquipment">
				<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
			</button>
		</label>
	</fieldset>

	<fieldset>
		<legend>{{localize "BF.Item.Type.Subclass[other]"}}</legend>
		<label>
			<span class="hinted-label" data-tooltip="BF.JournalPage.Class.Subclass.AdvancementDescription.Hint">
				{{localize "BF.JournalPage.Class.Subclass.AdvancementDescription.Label"}}
			</span>
			<button type="button" class="heavy-button" data-action="launch-text-editor"
			        data-target="system.description.subclassAdvancement">
				<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
			</button>
		</label>
		<label>
			<span class="hinted-label" data-tooltip="BF.JournalPage.Class.Subclass.SectionDescription.Hint">
				{{ localize "BF.JournalPage.Class.Subclass.SectionDescription.Label" }}
			</span>
			<button type="button" class="heavy-button" data-action="launch-text-editor"
			        data-target="system.description.subclassSection">
				<i class="fa-solid fa-edit" inert></i> {{ localize "BF.JournalPage.Edit" }}
			</button>
		</label>
		<ol class="items-list">
			{{#each system.subclasses}}
				<li class="item" data-item-uuid="{{ this }}" data-item-type="subclass">
					<div class="item-name">{{{ blackFlag-linkForUUID this }}}</div>
					<div class="item-controls">
						<button type="button" class="link-button" data-action="delete"
						        data-tooltip="BF.JournalPage.Subclass.Action.Remove"
						        aria-label="{{ localize 'BF.JournalPage.Subclass.Action.Remove' }}">
							<i class="fa-solid fa-trash" inert></i>
						</button>
					</div>
				</li>
			{{/each}}
		</ol>
		<p class="drop-area hint">
			{{ localize "BF.JournalPage.Subclass.Item.Hint" }}
		</p>
	</fieldset>
</form>
