<table {{~#if level}} data-toc-level="{{ level }}"{{/if}} {{~#if class}} class="{{ class }}"{{/if}}>
	{{#if caption}}
		<caption>{{ caption }}</caption>
	{{/if}}
	{{#if table.cols}}
		<colgroup>
			{{#each table.cols}}
				<col
					{{~#if (gt span 1)}} span="{{ span }}"{{/if}}
					{{~#if class}} class="{{ class }}"{{/if}}>
			{{/each}}
		</colgroup>
	{{/if}}
	<thead>
		{{#each table.headers}}
			<tr>
				{{#each this}}
					<th scope="col"
						{{~#if rowSpan}} rowspan="{{ rowSpan }}"{{/if}}
						{{~#if colSpan}} colspan="{{ colSpan }}"{{/if}}>{{ content }}</th>
				{{/each}}
			</tr>
		{{/each}}
	</thead>
	<tbody>
		{{#each table.rows}}
			<tr>
				{{#each this}}
					<td{{#if class}} class="{{ class }}"{{/if}}>{{{ content }}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>
