<form autocomplete="off" style="--score-count: {{scoreCount}};">
	{{#*inline ".header"}}
		<h1>
			{{localize title}}
			<button data-action="reset">
				<i class="fa-solid fa-arrow-left-long"></i>
				{{localize "BF.AbilityAssignment.Action.ChooseAnother"}}
			</button>
		</h1>
	{{/inline}}
	{{#unless system.progression.abilities.method}}
		<section class="method-selection">
			<h1>
				{{localize "BF.AbilityAssignment.ScoringMethods.Label"}}
				{{#if allowManualAssignment}}
					<button data-action="select-method" data-method="manual">
						{{localize "BF.AbilityAssignment.Method.Manual.Label"}}
					</button>
				{{/if}}
			</h1>
			<p>{{localize "BF.AbilityAssignment.ScoringMethods.Hint"}}</p>
			<ul class="mode-selection">
				{{#each CONFIG.abilityAssignmentMethods as |method key|}}
					<li class="key">
						<h2>{{localize method.label}}</h2>
						<img src="{{method.icon}}">
						<p>{{localize method.hint}}</p>
						<button data-action="select-method" data-method="{{key}}">
							{{localize "BF.Action.Choose.Specific" option=(localize method.label)}}
						</button>
					</li>
				{{/each}}
			</ul>
		</section>
	{{else if (eq system.progression.abilities.method "rolling")}}
		<section class="rolling">
			{{> ".header" title="BF.AbilityAssignment.Method.Rolling.Label"}}
			<div class="rolls">
				{{#each rolls}}
					<fieldset data-index="{{@index}}">
						{{#if this.roll}}
							<div class="dice-tooltip">
								<ol class="dice-rolls">
									{{#each results}}
										<li class="roll {{this.classes}}">{{this.result}}</li>
									{{/each}}
								</ol>
							</div>
						{{/if}}
						<button data-action="roll"{{#if roll.total}} class="total"{{/if}}
							{{disabled (and roll.total (not @root.allowRerolls))}}>
							{{#if roll.total}}
								{{roll.total}}
							{{else}}
								{{localize "BF.AbilityAssignment.Action.Roll"}}
							{{/if}}
						</button>
					</fieldset>
				{{/each}}
			</div>
			<div class="scores">
				{{#each scores}}
					<fieldset data-key="{{this.key}}">
						<legend>{{localize this.label}}</legend>
						{{#each ../sortedRolls as |roll|}}
							{{#if this.roll}}
								<label{{#if (eq this.index ../this.value)}} class="checked"{{/if}}>
									<input type="radio" name="assignments" value="{{this.index}}" {{checked (eq this.index ../this.value)}}>
									<span>{{this.roll.total}}</span>
								</label>
							{{/if}}
						{{else}}
							<span class="no-rolls">{{localize "BF.AbilityAssignment.Method.Rolling.NoRolls"}}</span>
						{{/each}}
						<hr>
						{{#each @root.CONFIG.abilityRolling.bonuses as |bonus|}}
							<label class="{{#if (eq @index ../this.bonus)}}checked{{/if}}
								{{~#if (or (eq ../this.value null) (gt bonus ../this.maxBonus))}}disabled{{/if}}">
								<input type="radio" name="bonuses" value="{{@index}}" {{checked (eq @index ../this.bonus)}}
									{{disabled (or (eq ../this.value null) (gt bonus ../this.maxBonus))}}>
								<span>{{numberFormat bonus sign=true}}</span>
								{{!-- TODO: Replace this with a custom, properly localized number formatter --}}
							</label>
						{{/each}}
					</fieldset>
				{{/each}}
			</div>
			<button data-action="confirm" {{disabled (not ready)}}>
				{{localize "BF.AbilityAssignment.Action.Confirm"}}
			</button>
		</section>
	{{else if (eq system.progression.abilities.method "point-buy")}}
		<section class="point-buy">
			{{> ".header" title="BF.AbilityAssignment.Method.PointBuy.Label"}}
			<div class="points">
				{{#each pointList}}
					<div class="point{{#if this.spent}} spent{{/if}}"></div>
				{{/each}}
				<div class="count">
					{{points.remaining}}/{{points.max}} points
				</div>
			</div>
			<div class="scores">
				{{#each scores}}
					<fieldset data-key="{{this.key}}">
						<legend>{{localize this.label}}</legend>
						<span class="current-score">{{this.value}}</span>
						<button data-action="sell" {{disabled this.isMin}}>
							<i class="fa-solid fa-angles-down"></i>
						</button>
						<button data-action="buy" {{disabled (or this.isMax (not this.canAfford))}}>
							<i class="fa-solid fa-angles-up"></i>
						</button>
						<span class="cost">{{this.costDescription}}</span>
					</fieldset>
				{{/each}}
			</div>
			<table>
				<caption>{{localize "BF.AbilityAssignment.Method.PointBuy.Cost.Caption"}}</caption>
				<thead>
					<tr>
						<th scope="col">{{localize "BF.AbilityAssignment.Method.PointBuy.Cost.Score"}}</th>
						<th scope="col">{{localize "BF.AbilityAssignment.Method.PointBuy.Cost.Cost"}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each CONFIG.pointBuy.costs as |cost score|}}
						<tr>
							<th scope="row">{{score}}</th>
							<td>{{cost}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<button data-action="confirm" {{disabled (not ready)}}>
				{{localize "BF.AbilityAssignment.Action.Confirm"}}
			</button>
		</section>
	{{else if (eq system.progression.abilities.method "standard-array")}}
		<section class="standard-array">
			{{> ".header" title="BF.AbilityAssignment.Method.StandardArray.Label"}}
			<div class="scores">
				{{#each scores}}
					<fieldset data-key="{{this.key}}">
						<legend>{{localize this.label}}</legend>
						{{#each @root.CONFIG.standardArray as |number|}}
							<label{{#if (eq @index ../this.value)}} class="checked"{{/if}}>
								<input type="radio" name="assignments" value="{{@index}}" {{checked (eq @index ../this.value)}}>
								<span>{{number}}</span>
							</label>
						{{/each}}
					</fieldset>
				{{/each}}
			</div>
			<button data-action="confirm" {{disabled (not ready)}}>
				{{localize "BF.AbilityAssignment.Action.Confirm"}}
			</button>
		</section>
	{{else if (eq system.progression.abilities.method "manual")}}
		<section class="manual">
			{{> ".header" title="BF.AbilityAssignment.Method.Manual.Label"}}
			<div class="scores">
				{{#each scores}}
					<fieldset data-key="{{this.key}}">
						<legend>{{localize this.label}}</legend>
						<input type="number" name="system.progression.abilities.assignments.{{this.key}}"
							value="{{this.value}}" min=0 step=1>
					</fieldset>
				{{/each}}
			</div>
			<button data-action="confirm" {{disabled (not ready)}}>
				{{localize "BF.AbilityAssignment.Action.Confirm"}}
			</button>
		</section>
	{{/unless}}
</form>
