<form autocomplete="off">
	{{#each choices}}
		<section class="option" data-uuid="{{this.document.uuid}}">
			<figure class="poster">
				<img src="{{this.document.img}}">
				<button class="choose">{{localize "BF.Action.Choose.Generic"}}</button>
				<div class="window-mask" inert></div>
			</figure>
			<div class="info">
				<header>
					<h1 class="name">{{this.document.name}}</h1>
					<div class="source">{{this.system.description.source}}</div>
				</header>
				<div class="description">
					{{{this.enriched.description}}}
					{{#if this.system.description.journal}}
						<p>
							<a class="content-link" data-uuid="{{this.system.description.journal}}">
								<i class="fa-solid fa-book-open"></i>
								{{localize "BF.Journal.Link.MoreInformation"}}
							</a>
						</p>
					{{/if}}
				</div>
			</div>
		</section>
	{{else}}
		<section class="empty">
			<p>{{localize "BF.ConceptSelection.NoOptions" type=typeName typePlural=typeNamePlural}}</p>
		</section>
	{{/each}}
</form>
