<section>
	<div class="type">
		{{#if modes.editing}}
			<a data-action="config" data-type="type">
				<i class="fa-solid fa-cog"></i>
			</a>
		{{/if}}
		<span>{{labels.sizeAndType}}</span>
	</div>

	<div class="stats">
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="armor-class">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.ArmorClass.Label"}}
				{{blackFlag-notificationBadge actor category="armor-class"}}
			</span>
			<span>
				{{system.attributes.ac.value}}
				{{#with system.attributes.ac.label}}
					<span class="ac-label">({{this}})</span>
				{{/with}}
			</span>
		</label>
		<label>
			<span>{{localize "BF.HitPoint.Label[other]"}}</span>
			{{#if modes.editing}}
				<span>{{system.attributes.hp.value}}</span>
				/
				<input type="number" name="system.attributes.hp.max" value="{{source.attributes.hp.max}}" step="1" min="0">
			{{else}}
				<input type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}">
				/
				<span>{{system.attributes.hp.max}}</span>
			{{/if}}
		</label>
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="movement">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.Speed.Label"}}
			</span>
			{{#if modes.editing}}
				<input type="number" name="system.traits.movement.base" value="{{source.traits.movement.base}}">
			{{else}}
				<span>{{traits.speed}}</span>
			{{/if}}
		</label>
		<label class="stats__narrow">
			<span>
				{{localize "BF.Skill.Perception.Label"}}
			</span>
			{{#if modes.editing}}
				<input type="number" name="system.???" value="{{source.???}}">
			{{else}}
				<span>??</span>
			{{/if}}
		</label>
		<label class="stats__narrow">
			<span>
				{{localize "BF.Skill.Stealth.Label"}}
			</span>
			{{#if modes.editing}}
				<input type="number" name="system.???" value="{{source.???}}">
			{{else}}
				<span>??</span>
			{{/if}}
		</label><!--
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="immunities">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				immune
			</span>
		</label>
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="resistances">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				resistant
			</span>
		</label>-->
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="senses">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.Senses.Label"}}
			</span>
			<span>{{traits.senses}}</span>
		</label>
		<label>
			<span>
				{{#if modes.editing}}
					<a data-action="config" data-type="languages">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
				{{localize "BF.Language.Label[other]"}}
			</span>
			{{#if modes.editing}}
				<sl-select value="{{system.proficiencies.languages.list}}" name="system.proficiencies.languages.value"
					multiple clearable size="small">
					{{#each CONFIG.languages}}
						<sl-option value="{{@key}}">{{localize label}}</sl-option>
					{{/each}}
				</sl-select>
			{{else}}
				{{traits.languages}}
			{{/if}}
		</label>
	</div>
	<!-- TODO: Initiative -->
	
	<div class="abilities">
		{{#each system.abilities}}
			<div data-ability="{{@key}}">
				<label for="{{@root.appID}}-ability-{{@key}}">
					{{lookup @root.CONFIG.abilities.localizedAbbreviations @key}}</span>
				</label>
				{{#if @root.modes.editing}}
					<input id="{{@root.appID}}-ability-{{@key}}" type="number" name="system.abilities.{{@key}}.mod"
						value="{{_source.mod}}" step="1">
				{{else}}
					<span id="{{@root.appID}}-ability-{{@key}}">{{blackFlag-number mod sign=true}}</span>
				{{/if}}
			</div>
		{{/each}}
	</div>

	<div class="features passive">
		passive features
	</div>

	{{#each actions}}
		{{#if (or activities.length @root.modes.editing)}}
			<div class="features {{@key}}">
				<h2>{{label}}</h2>
				{{#each activities}}
					<div class="activity">
						<strong>{{item.name}}</strong>. ...description
					</div>
				{{/each}}
			</div>
		{{/if}}
	{{/each}}

	<div class="features legendary">
		<h2>{{localize "BF.Activation.Type.Legendary[other]"}}</h2>
		<p>{{localize "BF.LegendaryAction.Description" type="???" count="?"}}</p>
		features
	</div>
</section>
