<form class="sheet-container" id="{{ appID }}-main-form">
	<header class="sheet-head">
		<h1>
			<input name="name" type="text" value="{{ actor.name }}" placeholder="{{ localize 'Name' }}"
			       form="{{ appID }}-main-form" {{ disabled (not modes.editing) }}>
		</h1>
		<label data-tooltip="{{ localize 'BF.ExperiencePoints.LabelSpecific' value=system.xpValue }}<br>
			     {{ blackFlag-number system.attributes.proficiency sign=true }}"
		       data-tooltip-direction="RIGHT">
			<span>{{ localize "BF.ChallengeRating.Abbreviation" }}</span>
			<input type="text" name="system.attributes.cr" value="{{ cr }}" {{disabled (not modes.editing)}}>
		</label>
	</header>

	<nav class="sheet-navigation tabs" data-group="primary">
		<a data-tab="main">
			{{ localize "BF.Sheet.Tab.Main" }}
			{{ blackFlag-notificationBadge actor section="main" }}
		</a>
		<a data-tab="features">
			{{ localize "BF.Sheet.Tab.Features" }}
			{{ blackFlag-notificationBadge actor section="features" }}
		</a>
		<a data-tab="biography">
			{{ localize "BF.Sheet.Tab.Biography" }}
			{{ blackFlag-notificationBadge actor section="biography" }}
		</a>
		<a data-tab="effects">
			{{ localize "BF.Sheet.Tab.Effects" }}
			{{ blackFlag-notificationBadge actor section="effects" }}
		</a>
	</nav>

	<div class="sheet-body">
		<div class="tab flex-tab statblock-tab" data-group="primary" data-tab="main">
			{{> "blackFlag.npc-main" }}
		</div>
		<div class="tab flex-tab" data-group="primary" data-tab="features">
			{{> "blackFlag.npc-features" }}
			{{> "blackFlag.currency" }}
		</div>
		<div class="tab flex-tab" data-group="primary" data-tab="biography">
			{{> "blackFlag.npc-biography" enriched=enriched.biography keyPath="system.biography.value" }}
		</div>
		<div class="tab flex-tab" data-group="primary" data-tab="effects">
			{{> "blackFlag.actor-active-effects" }}
		</div>
	</div>
</div>
