<blackFlag-actions>
	<table>
		<thead>
			<!-- Filters here -->
		</thead>
		{{#each actions}}
			<tbody>
				<tr>
					<th colspan="5">
						{{ label }}
					</th>
				</tr>
				{{#each activities}}
					<tr {{~#if activity}} data-activity="{{ activity.uuid }}" data-activity-id="{{ activity.id }}"{{/if}}
					    {{~#if item }} data-item-id="{{ item.id }}"{{/if}}>
						<td class="control">
							<button type="button" class="heavy-button"
							        {{~#if dataset}} {{ blackFlag-dataset dataset }}{{/if}}
											{{~#unless dataset.action}} data-action="activate"{{/unless}}
							        {{~#if activationTooltip}} data-tooltip="{{ activationTooltip }}"{{/if}}>
								{{ localize label }}
							</button>
						</td>
						<td class="name">
							{{#if name}}<h5>{{ localize name }}</h5>{{else}}
								{{#if item}}<h5>{{ item.name }}</h5>{{/if}}
								{{#if activity}}<h6>{{ activity.name }}</h6>{{/if}}
							{{/if}}
						</td>
						<td class="uses">
							{{{ usesColumn }}}
						</td>
						<td class="challenge">
							{{{ challengeColumn }}}
						</td>
						<td class="effect">
							{{{ effectColumn }}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/each}}
	</table>
</blackFlag-actions>
