<blackFlag-pcActions>
	{{#each actions}}
		<h4>{{this.label}}</h4>
		<ul>
			{{#each this.activities}}
				<li data-activity="{{this.uuid}}">
					<button type="button" data-action="activate">{{localize "BF.Activity.Action.Use"}}</button>
					<hgroup>
						<h6>{{this.item.name}}</h6>
						<p>{{this.name}}</p>
					</hgroup>
					<!-- Get specific details from activity -->
				</li>
			{{/each}}
		</ul>
	{{/each}}	
</blackFlag-pcActions>
