<blackFlag-actions>
	<table>
		<thead>
			<!-- Filters here -->
		</thead>
		{{#each actions}}
			<tbody>
				<tr>
					<th colspan="5">
						{{label}}
					</th>
				</tr>
				{{#each activities}}
					<tr data-activity="{{activity.uuid}}" {{~#if dataset}} {{blackFlag-dataset dataset}}{{/if}}>
						<td class="control">
							<button type="button" data-action="activate">{{localize activationText}}</button>
						</td>
						<td class="name">
							{{#if name}}<h5>{{localize name}}</h5>{{else}}
								{{#if item}}<h5>{{item.name}}</h5>{{/if}}
								{{#if activity}}<h6>{{activity.name}}</h6>{{/if}}
							{{/if}}
						</td>
						<td class="uses">
							{{{usesColumn}}}
						</td>
						<td class="challenge">
							{{{challengeColumn}}}
						</td>
						<td class="effect">
							{{{effectColumn}}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/each}}
	</table>
</blackFlag-actions>
