<blackFlag-pcActions>
	<table>
		<thead>
			<!-- Filters here -->
		</thead>
		{{#each actions}}
			<tbody>
				<tr>
					<th colspan="5">
						{{label}}
					</th>
				</tr>
				{{#each activities}}
					<tr data-activity="{{activity.uuid}}">
						<td class="control">
							<button type="button" data-action="activate">{{localize "BF.Activity.Core.Action.Use"}}</button>
						</td>
						<td class="name">
							<hgroup>
								<h6>{{item.name}}</h6>
								<p>{{activity.name}}</p>
							</hgroup>
						</td>
						<td class="uses">
							{{{activity.usesColumn}}}
						</td>
						<td class="challenge">
							{{{activity.challengeColumn}}}
						</td>
						<td class="effect">
							{{{activity.effectColumn}}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/each}}
	</table>
</blackFlag-pcActions>
