<blackFlag-inventory>
	<table>
		<thead>
			{{!-- TODO: Filters by action type --}}
		</thead>
		{{#each sections.features as |section sectionId|}}
			<tbody data-section="{{sectionId}}">
				<tr>
					<td class="name">{{localize section.label}}</td>
					<th class="uses">{{localize "BF.Uses.Short"}}</th>
				</tr>
				{{#each section.items}}
					<tr data-item-id="{{id}}">
						<th class="name" scope="row">
							<div class="layout">
								<figure>
									<img src="{{img}}">
								</figure>
								{{name}}
								{{blackFlag-notificationBadge @root.actor document=this}}
							</div>
						</th>
						<td class="uses">{{system.uses.label}}</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.modes.editing}}
									<a data-action="edit">
										<i class="fa-solid fa-edit"></i>
									</a>
									<a data-action="delete">
										<i class="fa-solid fa-trash"></i>
									</a>
								{{else}}
									<a data-action="view">
										<i class="fa-regular fa-eye"></i>
									</a>
								{{/if}}
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/each}}
	</table>
</blackFlag-inventory>
