<section class="inventory">
	{{!-- TODO: Filters by type --}}
	{{!-- TODO: Currency --}}

	<ol class="items-list">
		{{#each sections.inventory as |section sectionId|}}
			<li class="item-category" data-section="{{sectionId}}">
				<header class="header">
					<h3 class="item-name">{{localize section.label}}</h3>
					<div class="item-details inventory-details">
						<div class="uses">{{localize "BF.Uses.Short"}}</div>
						<div class="weight">{{localize "BF.Weight.Label"}}</div>
						<div class="quantity">{{localize "BF.Quantity.Label"}}</div>
						<div class="cost">{{localize "BF.Price.Label"}}</div>
						<div class="traits">{{localize "BF.Trait.Label[other]"}}</div>
					</div>
					<div class="item-controls">
						
					</div>
				</header>
				<ol class="item-list">
					{{#each section.items as |item|}}
						<li class="item" data-item-id="{{item.id}}">
							<div class="item-equipped">
								<input type="checkbox" name="item.{{item.id}}.flags.black-flag.relationship.equipped"
									{{checked item.system.equipped}}>
							</div>
							<div class="item-name">
								{{item.name}}
								{{blackFlag-notificationBadge actor document=item}}
							</div>
							<div class="item-details inventory-details">
								<div class="uses">{{item.system.uses.label}}</div>
								<div class="weight">{{item.system.weight.label}}</div>
								<div class="quantity">{{blackFlag-number item.system.quantity}}</div>
								<div class="cost">{{item.system.price.label}}</div>
								<div class="traits">{{item.system.traits}}</div>
							</div>
							<div class="item-controls">
								{{#if @root.modes.editing}}
									<a data-action="item" data-sub-action="edit">
										<i class="fa-solid fa-edit"></i>
									</a>
									<a data-action="item" data-sub-action="delete">
										<i class="fa-solid fa-trash"></i>
									</a>
								{{else}}
									<a data-action="item" data-sub-action="view">
										<i class="fa-regular fa-eye"></i>
									</a>
								{{/if}}
							</div>
						</li>
					{{/each}}
				</ol>
			</li>
		{{/each}}
	</ol>
</section>
