<blackFlag-inventory>
	<table>
		<thead>
			{{!-- TODO: Filters by type --}}
			{{!-- TODO: Currency --}}
		</thead>
		{{#each sections.inventory as |section sectionId|}}
			<tbody data-section="{{sectionId}}">
				<tr>
					<td class="name">{{localize section.label}}</td>
					<th class="uses" scope="col">{{localize "BF.Uses.Short"}}</th>
					<th class="weight" scope="col">{{localize "BF.Weight.Label"}}</th>
					<th class="quantity" scope="col">{{localize "BF.Quantity.Label"}}</th>
					<th class="cost" scope="col">{{localize "BF.Price.Label"}}</th>
					<th class="traits" scope="col">{{localize "BF.Trait.Label[other]"}}</th>
					<td class="controls"></td>
				</tr>
				{{#each section.items}}
					<tr data-item-id="{{id}}">
						<th class="name" scope="row">
							<div class="layout">
								<figure>
									<img src="{{img}}">
								</figure>
								<span>{{name}}</span>
								{{blackFlag-notificationBadge @root.actor document=this}}
							</div>
						</th>
						<td class="uses">{{system.uses.label}}</td>
						<td class="weight">{{system.weight.label}}</td>
						<td class="quantity">{{blackFlag-number system.quantity}}</td>
						<td class="cost">{{system.price.label}}</td>
						<td class="traits">{{system.traits}}</td>
						<td class="equipped">
							<input type="checkbox" name="item.{{id}}.flags.black-flag.relationship.equipped"
								{{checked system.equipped}}>
						</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.modes.editing}}
									<a data-action="edit">
										<i class="fa-solid fa-edit"></i>
									</a>
									<a data-action="delete">
										<i class="fa-solid fa-trash"></i>
									</a>
								{{else}}
									<a data-action="view">
										<i class="fa-regular fa-eye"></i>
									</a>
								{{/if}}
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/each}}
	</table>
</blackFlag-inventory>
