<section>
	<fieldset class="abilities">
		<legend>
			{{localize "BF.Ability.Label[other]"}}
			{{#if editingMode}}
				<a data-action="config" data-type="ability">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
			{{blackFlag-notificationBadge actor category="abilities"}}
		</legend>
		{{#each system.abilities as |ability key|}}
			<div class="ability" data-key="{{key}}">
				<div class="ability-score">
					<span class="value">
						<label>
							<span class="label">{{localize ability.labels.full}}</span>
							<span class="score">{{ability.value}}</span>
						</label>
					</span>
				</div>
				<div class="ability-mod">
					<a class="value" data-action="roll" data-sub-action="ability-check" data-ability="{{key}}">
						{{blackFlag-number ability.check.mod sign=true}}
					</a>
				</div>
				<div class="ability-save">
					<div class="proficiency-selector" data-multiplier="{{ability.save.proficiency.multiplier}}"
						data-rounding="{{ability.save.proficiency.rounding}}">
						{{blackFlag-inlineSVG "systems/black-flag/artwork/interface/proficiency.svg"}}
						<input type="hidden" name="system.abilities.{{key}}.save.proficiency.multiplier"
							value="{{ability._source.save.proficiency.multiplier}}">
					</div>
					<a class="value" data-action="roll" data-sub-action="ability-save" data-ability="{{key}}">
						<svg class="label" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<defs>
								<path id="path-0" d="M 45.5 27.5 A 18 18 0 0 1 27.5 45.5 A 18 18 0 0 1 9.5 27.5 A 18 18 0 0 1 27.5 9.5 A 18 18 0 0 1 45.5 27.5 Z"/>
							</defs>
							<text><textPath xlink:href="#path-0">{{localize "BF.SavingThrow.LabelShort[one]"}}</textPath></text>
						</svg>
						<span class="mod">{{blackFlag-number ability.save.mod sign=true}}</span>
					</a>
				</div>
			</div>
		{{/each}}
	</fieldset>
	<fieldset class="skills">
		<legend>
			{{localize "BF.Skill.Label[other]"}}
			{{#if editingMode}}
				<a data-action="config" data-type="skill">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
			{{blackFlag-notificationBadge actor category="skills"}}
		</legend>
		{{#each system.proficiencies.skills as |skill key|}}
			<div class="skill" data-key="{{key}}">
				<div class="proficiency-selector" data-multiplier="{{skill.proficiency.multiplier}}"
					data-rounding="{{skill.proficiency.rounding}}">
					{{blackFlag-inlineSVG "systems/black-flag/artwork/interface/proficiency.svg"}}
					<input type="hidden" name="system.proficiencies.skills.{{key}}.proficiency.multiplier"
						value="{{skill._source.proficiency.multiplier}}">
				</div>
				<a class="skill-roll" data-action="roll" data-sub-action="skill" data-skill="{{key}}">
					<span class="name">
						{{localize skill.labels.name}}
					</span>
					<span class="ability">
						{{localize (lookup (lookup (lookup @root.system.abilities skill.ability) "labels") "abbreviation")}}
					</span>
					<span class="mod">{{blackFlag-number skill.mod}}</span>
				</a>
				<span class="passive">({{skill.passive}})</span>
			</div>
		{{/each}}
	</fieldset>
	<fieldset class="tools">
		<legend>
			{{localize "BF.Tool.Label[other]"}}
			{{blackFlag-notificationBadge actor category="tools"}}
		</legend>
		{{#each system.proficiencies.tools as |tool key|}}
			<div data-key="{{key}}">
				<label>{{tool.label}}</label>
			</div>
		{{/each}}
	</fieldset>
	<fieldset class="hit-points">
		<legend>{{localize "BF.HitPoint.Label[other]"}}</legend>
		<span>{{system.attributes.hp.value}} / {{system.attributes.hp.max}}</span>
	</fieldset>
	<fieldset class="hit-dice">
		<legend>{{localize "BF.HitDie.Label[other]"}}</legend>
		{{#each system.attributes.hd.d as |data denomination|}}
			<span class="denomination">{{data.available}} / {{data.max}} - d{{denomination}}</span>
			{{!-- TODO: Display dice icon instead of or in addition to denomination text --}}
		{{/each}}
	</fieldset>
	<fieldset class="armor-class">
		<legend>{{localize "BF.ArmorClass.Label"}}</legend>
		<span>{{system.attributes.ac.value}}</span>
	</fieldset>
	<fieldset class="initiative">
		<legend>{{localize "BF.Initiative.Label"}}</legend>
		<span>{{blackFlag-number system.attributes.initiative.mod sign=true}}</span>
	</fieldset>
	<fieldset class="movement">
		<legend>{{localize "BF.Speed.Label"}}</legend>
		<span class="primary">{{system.traits.movement.labels.primary}}</span>
		{{#if system.traits.movement.labels.secondary}}
			<span class="secondary">{{system.traits.movement.labels.secondary}}</span>
		{{/if}}
	</fieldset>
	<fieldset class="luck">
		<legend>{{localize "BF.Luck.Label"}}</legend>
		<ol class="luck-points">
			{{#each luckPoints}}
				<li class="luck-point{{#if this.selected}} selected{{/if}}"></li>
			{{/each}}
		</ol>
		<a data-action="luck" data-sub-action="add">
			<i class="fa-solid fa-plus"></i>
		</a>
	</fieldset>
	<fieldset class="traits">
		<legend>{{localize "BF.Trait.Label[other]"}}</legend>
		{{#if (or system.traits.size @root.editingMode)}}
			<div class="trait size">
				<label>{{localize "BF.Size.Label"}}:</label>
				<span>{{localize (lookup (lookup CONFIG.sizes system.traits.size) "label")}}</span>
			</div>
		{{/if}}
		{{#if lists.languages}}
			<div class="trait languages">
				<label>{{localize "BF.Language.Label[other]"}}</label>
				<span>{{lists.languages}}</span>
			</div>
		{{/if}}
	</fieldset>
	<fieldset class="actions">
		<legend>Actions</legend>
		<span>Actions to be implemented&hellip;</span>
	</fieldset>
</section>
