<section>
	<fieldset class="abilities">
		<legend>{{localize "BF.Ability.Label[other]"}}</legend>
		{{#each system.abilities as |ability key|}}
			<div class="ability" data-key="{{key}}">
				<label>{{localize ability.labels.full}}</label>
				<span class="value">{{ability.value}}</span>
				<span class="mod">{{ability.mod}}</span>
			</div>
		{{/each}}
	</fieldset>
	<fieldset class="skills">
		<legend>{{localize "BF.Skill.Label[other]"}}</legend>
		{{#each system.proficiencies.skills as |skill key|}}
			<div class="skill" data-key="{{key}}">
				<div class="proficiency-selector" data-multiplier="{{skill.proficiency.multiplier}}"
					data-rounding="{{skill.proficiency.rounding}}">
					{{blackFlag-inlineSVG "systems/black-flag/artwork/interface/proficiency.svg"}}
					<input type="hidden" name="system.proficiencies.skills.proficiency.multiplier" value="{{skill._source.multiplier}}">
				</div>
				<span class="name">{{localize skill.labels.name}}</span>
				<span class="ability">
					{{localize (lookup (lookup (lookup @root.system.abilities skill.ability) "labels") "abbreviation")}}
				</span>
				<span class="mod">{{skill.mod}}</span>
				<span class="passive">({{skill.passive}})</span>
			</div>
		{{/each}}
	</fieldset>
	<fieldset class="tools">
		<legend>{{localize "BF.Tool.Label[other]"}}</legend>
		{{#each system.proficiencies.tools as |tool key|}}
			<div data-key="{{key}}">
				<label>{{tool.label}}</label>
			</div>
		{{/each}}
	</fieldset>
	<fieldset class="hit-points">
		<legend>{{localize "BF.HitPoint.Label[other]"}}</legend>
		<span>{{system.attributes.hp.value}} / {{system.attributes.hp.max}}</span>
	</fieldset>
	<fieldset class="hit-dice">
		<legend>{{localize "BF.HitDie.Label[other]"}}</legend>
		<span>x / x dx</span>
	</fieldset>
	<fieldset class="armor-class">
		<legend>{{localize "BF.ArmorClass.Label"}}</legend>
		<span>xx</span>
	</fieldset>
	<fieldset class="initiative">
		<legend>{{localize "BF.Initiative.Label"}}</legend>
		<span>{{numberFormat system.attributes.initiative.mod sign=true}}</span>
	</fieldset>
	<fieldset class="movement">
		<legend>{{localize "BF.Speed.Label"}}</legend>
		<span>x ft.</span>
	</fieldset>
	<fieldset class="luck">
		<legend>{{localize "BF.Luck.Label"}}</legend>
		<span>x</span>
	</fieldset>
	<fieldset class="traits">
		<legend>Traits</legend>
		<span>Resistances, Immunities, Vulnerabilities</span>
		<span>Armor Proficiencies</span>
		<span>Weapon Proficiencies</span>
		<span>Languages</span>
	</fieldset>
	<fieldset class="actions">
		<legend>Actions</legend>
		<span>Bunch o stuff</span>
	</fieldset>
</section>
