<main>
	<form>
		<section class="leveling">
			<fieldset>
				<legend>{{localize "BF.Progression.Label"}}</legend>
				<div class="wrapper">
					<span class="current-level">
						{{#if system.progression.level}}
							{{localize "BF.Level.Specific" level=(blackFlag-number system.progression.level)}}
						{{else}}
							{{localize "BF.Level.None"}}
						{{/if}}
					</span>
					{{#unless (eq system.progression.level CONFIG.maxLevel)}}
						<a data-action="progression" data-sub-action="level-up">
							<i class="fa-solid fa-arrow-up-wide-short"></i>
							{{localize "BF.Progression.Action.LevelUp.Label"}}
						</a>
					{{/unless}}
					{{#if displayXPBar}}<blackFlag-xpBar>{{/if}}
				</div>
			</fieldset>
		</section>
		<section class="details">
			<fieldset class="ability-selection">
				<legend>
					{{localize "BF.Ability.Label[other]"}}
					{{blackFlag-notificationBadge actor key="no-abilities" displayOrder=true}}
				</legend>
				{{#if system.progression.abilities.assignmentComplete}}
					{{#with (lookup CONFIG.abilityAssignment.methods system.progression.abilities.method) as |method|}}
						<figure class="icon">
							<img src="{{method.icon}}">
						</figure>
						<span>
							{{localize (lookup method "label")}}
						</span>
					{{/with}}
				{{else}}
					<span>
						<a data-action="progression" data-sub-action="assign-abilities">Assign</a>
					</span>
				{{/if}}
			</fieldset>
			{{#*inline ".typeControl"}}
				{{#with (lookup system.progression type)}}
					<figure class="icon">
						<img src="{{this.img}}">
					</figure>
					<span>
						<a data-action="item" data-sub-action="view" data-item-id="{{this.id}}">{{this.name}}</a>
					</span>
					{{#if @root.modes.editing}}
						<span class="controls">
							<a data-action="item" data-sub-action="delete" data-item-id="{{this.id}}">
								<i class="fa-solid fa-trash"></i>
							</a>
						</span>
					{{/if}}
				{{else}}
					<span>
						<a data-action="progression" data-sub-action="select" data-type="{{type}}">
							{{localize "BF.Action.Choose.Generic"}}
						</a>
					</span>
				{{/with}}
			{{/inline}}
			<fieldset class="lineage">
				<legend>
					{{localize "BF.Item.Type.Lineage[one]"}}
					{{blackFlag-notificationBadge actor category="lineage" displayOrder=true}}
				</legend>
				{{> ".typeControl" type="lineage"}}
			</fieldset>
			<fieldset class="heritage">
				<legend>
					{{localize "BF.Item.Type.Heritage[one]"}}
					{{blackFlag-notificationBadge actor category="heritage" displayOrder=true}}
				</legend>
				{{> ".typeControl" type="heritage"}}
			</fieldset>
			<fieldset class="background">
				<legend>
					{{localize "BF.Item.Type.Background[one]"}}
					{{blackFlag-notificationBadge actor category="background" displayOrder=true}}
				</legend>
				{{> ".typeControl" type="background"}}
			</fieldset>
			{{#each system.progression.classes as |data identifier|}}
				<fieldset class="class" data-class="{{identifier}}">
					<legend>
						{{localize "BF.Item.Type.Class[one]"}}
						{{blackFlag-notificationBadge @root.actor category="class" document=data.document displayOrder=true}}
					</legend>
					<figure class="icon">
						<img src="{{data.document.img}}">
					</figure>
					<span>
						<a data-action="item" data-sub-action="view" data-item-id="{{data.document.id}}">{{data.document.name}}</a>
						{{#if data.subclass}}
							<span class="subclass">
								<a data-action="item" data-sub-action="view" data-item-id="{{data.subclass.id}}">
									{{data.subclass.name}}
								</a>
								{{#if @root.modes.editing}}
									<a data-action="item" data-sub-action="delete" data-item-id="{{data.subclass.id}}">
										<i class="fa-solid fa-trash"></i>
									</a>
								{{/if}}
							</span>
						{{else if data.requiresSubclass}}
							<span class="subclass">
								<a data-action="progression" data-sub-action="select" data-type="subclass">
									{{localize "BF.Action.Choose.Specific" option=(localize "BF.Item.Type.Subclass[one]")}}
								</a>
							</span>
						{{/if}}
					</span>
					<span class="levels">{{data.levelsLabel}}</span>
				</fieldset>
			{{else}}
				<fieldset class="class" data-class="{{identifier}}">
					<legend>
						{{localize "BF.Item.Type.Class[one]"}}
						{{blackFlag-notificationBadge actor key="no-class" displayOrder=true}}
					</legend>
					<span>
						<a data-action="progression" data-sub-action="select" data-type="class">
							{{localize "BF.Action.Choose.Generic"}}
						</a>
					</span>
				</fieldset>
			{{/each}}
		</section>
	</form>
	<section class="levels">
		{{#each progressionLevels as |level|}}
			<div class="level" data-level="{{level.number}}">
				<h3>
					<span class="level">
						{{#if (eq level.number 0)}}
							{{localize "BF.Progression.Base"}}
						{{else}}
							{{localize "BF.Level.Specific" level=level.number}}
						{{/if}}
					</span>
					<span class="class">
						{{level.class.name}}
						{{blackFlag-notificationBadge @root.actor category=(concat "level-" level.number)}}
					</span>
					{{#if (and @root.modes.editing level.highestLevel)}}
						<span class="controls">
							<a data-action="progression" data-sub-action="level-down">
								<i class="fa-solid fa-arrow-down-wide-short"></i>
							</a>
						</span>
					{{/if}}
				</h3>
				<section class="advancement-flows advancement-list">
					{{#each level.flows as |flow|}}
						<template id="{{flow.id}}"></template>
					{{/each}}
				</section>
			</div>
		{{/each}}
	</section>
</main>
