<main>
	<section class="leveling">
		List current overall level, XP if XP mode is selected, level-up button, etc.
	</section>
	<section class="details">
		<fieldset class="ability-selection">
			<legend>{{localize "BF.Ability.Label[other]"}}</legend>
			{{#if system.progression.abilities.assignmentComplete}}
				{{#with (lookup CONFIG.abilityAssignment.methods system.progression.abilities.method) as |method|}}
					<figure class="icon">
						<img src="{{method.icon}}">
					</figure>
					<span>
						{{localize (lookup method "label")}}
					</span>
				{{/with}}
			{{else}}
				<span>
					<a data-action="progression" data-sub-action="assign-abilities">Assign</a>
				</span>
			{{/if}}
		</fieldset>
		{{#*inline "blackFlag.typeControl"}}
			{{#with (lookup system.progression type)}}
				<figure class="icon">
					<img src="{{this.img}}">
				</figure>
				<span>
					<a data-action="item" data-sub-action="view" data-item-id="{{this.id}}">{{this.name}}</a>
				</span>
				{{#if @root.editingMode}}
					<span class="controls">
						<a data-action="item" data-sub-action="delete" data-item-id="{{this.id}}">
							<i class="fa-solid fa-trash"></i>
						</a>
					</span>
				{{/if}}
			{{else}}
				<span>
					<a data-action="progression" data-sub-action="select" data-type="{{type}}">
						{{localize "BF.Action.Choose.Generic"}}
					</a>
				</span>
			{{/with}}
		{{/inline}}
		<fieldset class="lineage">
			<legend>{{localize "BF.Item.Type.Lineage[one]"}}</legend>
			{{> "blackFlag.typeControl" type="lineage"}}
		</fieldset>
		<fieldset class="heritage">
			<legend>{{localize "BF.Item.Type.Heritage[one]"}}</legend>
			{{> "blackFlag.typeControl" type="heritage"}}
		</fieldset>
		<fieldset class="background">
			<legend>{{localize "BF.Item.Type.Background[one]"}}</legend>
			{{> "blackFlag.typeControl" type="background"}}
		</fieldset>
	</section>
	<section class="levels">
		{{#each system.progression.levels as |level number|}}
			<div class="level">
				<h3>
					<span class="level">Level {{number}}</span>
					<span class="class">{{level.class.name}}</span>
				</h3>
				<p>List level's advancements</p>
			</div>
		{{else}}
			<p>
				<a data-action="progression" data-sub-action="select" data-type="class">Choose</a>
			</p>
		{{/each}}
	</section>
</main>
