<main>
	<section class="leveling">
		<fieldset>
			<legend>{{localize "BF.Progression.Label"}}</legend>
			<p>List current overall level, XP if XP mode is selected, level-up button, etc.</p>
			<a data-action="progression" data-sub-action="level-up">Level Up</a>
		</fieldset>
	</section>
	<section class="details">
		<fieldset class="ability-selection">
			<legend>
				{{localize "BF.Ability.Label[other]"}}
				{{blackFlag-notificationBadge actor key="no-abilities" displayOrder=true}}
			</legend>
			{{#if system.progression.abilities.assignmentComplete}}
				{{#with (lookup CONFIG.abilityAssignment.methods system.progression.abilities.method) as |method|}}
					<figure class="icon">
						<img src="{{method.icon}}">
					</figure>
					<span>
						{{localize (lookup method "label")}}
					</span>
				{{/with}}
			{{else}}
				<span>
					<a data-action="progression" data-sub-action="assign-abilities">Assign</a>
				</span>
			{{/if}}
		</fieldset>
		{{#*inline "blackFlag.typeControl"}}
			{{#with (lookup system.progression type)}}
				<figure class="icon">
					<img src="{{this.img}}">
				</figure>
				<span>
					<a data-action="item" data-sub-action="view" data-item-id="{{this.id}}">{{this.name}}</a>
				</span>
				{{#if @root.editingMode}}
					<span class="controls">
						<a data-action="item" data-sub-action="delete" data-item-id="{{this.id}}">
							<i class="fa-solid fa-trash"></i>
						</a>
					</span>
				{{/if}}
			{{else}}
				<span>
					<a data-action="progression" data-sub-action="select" data-type="{{type}}">
						{{localize "BF.Action.Choose.Generic"}}
					</a>
				</span>
			{{/with}}
		{{/inline}}
		<fieldset class="lineage">
			<legend>
				{{localize "BF.Item.Type.Lineage[one]"}}
				{{blackFlag-notificationBadge actor category="lineage" displayOrder=true}}
			</legend>
			{{> "blackFlag.typeControl" type="lineage"}}
		</fieldset>
		<fieldset class="heritage">
			<legend>
				{{localize "BF.Item.Type.Heritage[one]"}}
				{{blackFlag-notificationBadge actor category="heritage" displayOrder=true}}
			</legend>
			{{> "blackFlag.typeControl" type="heritage"}}
		</fieldset>
		<fieldset class="background">
			<legend>
				{{localize "BF.Item.Type.Background[one]"}}
				{{blackFlag-notificationBadge actor category="background" displayOrder=true}}
			</legend>
			{{> "blackFlag.typeControl" type="background"}}
		</fieldset>
		{{#each system.progression.classes as |data identifier|}}
			<fieldset class="class" data-class="{{identifier}}">
				<legend>{{localize "BF.Item.Type.Class[one]"}}</legend>
				<figure class="icon">
					<img src="{{data.document.img}}">
				</figure>
				<span>
					<a data-action="item" data-sub-action="view" data-item-id="{{data.document.id}}">{{data.document.name}}</a>
				</span>
				<span class="levels">{{data.levelsLabel}}</span>
			</fieldset>
		{{else}}
			<fieldset class="class" data-class="{{identifier}}">
				<legend>
					{{localize "BF.Item.Type.Class[one]"}}
					{{blackFlag-notificationBadge actor key="no-class" displayOrder=true}}
				</legend>
				<span>
					<a data-action="progression" data-sub-action="select" data-type="class">
						{{localize "BF.Action.Choose.Generic"}}
					</a>
				</span>
			</fieldset>
		{{/each}}
	</section>
	<section class="levels">
		{{#each progressionLevels as |level|}}
			<div class="level" data-level="{{level.number}}">
				<h3>
					<span class="level">{{localize "BF.Level.Specific" level=level.number}}</span>
					<span class="class">{{log (concat "level-" level.number)}}
						{{level.class.name}}
						{{blackFlag-notificationBadge @root.actor category=(concat "level-" level.number)}}
					</span>
					{{#if (and @root.editingMode level.highestLevel)}}
						<span class="controls">
							<a data-action="progression" data-sub-action="level-down">
								<i class="fa-solid fa-arrow-down-wide-short"></i>
							</a>
						</span>
					{{/if}}
				</h3>
				<section class="advancement-flows advancement-list">
					{{#each level.flows as |flow|}}
						<template id="{{flow.id}}"></template>
					{{/each}}
				</section>
			</div>
		{{/each}}
	</section>
</main>
