<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-head">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">
		<h1>
			<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}">
		</h1>
		<fieldset class="progression">
			<legend>{{localize "BF.Level.Label"}}</legend>
			<span>Level?</span>
		</fieldset>
	</header>
</form>
