<div class="sheet-container">
	<header class="sheet-head">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}"{{#if editingMode}} data-edit="img"{{/if}}>
		<h1>
			<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}"
				form="{{appID}}-main-form" {{disabled (not editingMode)}}>
		</h1>
		<fieldset class="proficiency-bonus">
			<legend>{{localize "BF.Proficiency.Abbreviation"}}</legend>
			<span>{{system.attributes.proficiency}}</span>
		</fieldset>
		<fieldset class="progression" data-group="progression">
			<legend>
				{{localize "BF.Progression.Label"}}
				{{blackFlag-notificationBadge actor section="progression"}}
			</legend>
			<a data-tab="front">
				<span class="text">{{localize "BF.Progression.Action.Return"}}</span>
				<span class="icon"><i class="fa-solid fa-reply"></i></span>
			</a>
			<a data-tab="back">
				<span class="text">{{localize "BF.Level.Specific" level=system.progression.level}}</span>
				<span class="icon"><i class="fa-solid fa-arrow-down-up-across-line"></i></span>
			</a>
		</fieldset>
	</header>

	<form id="{{appID}}-main-form" class="tab" data-group="progression" data-tab="front">
		<nav class="sheet-navigation tabs" data-group="primary">
			<a data-tab="main">{{localize "BF.Sheet.Tab.Main"}}</a>
			<a data-tab="spellcasting">{{localize "BF.Sheet.Tab.Spellcasting"}}</a>
			<a data-tab="inventory">{{localize "BF.Sheet.Tab.Inventory"}}</a>
			<a data-tab="features">{{localize "BF.Sheet.Tab.Features"}}</a>
			<a data-tab="biography">{{localize "BF.Sheet.Tab.Biography"}}</a>
			<a data-tab="effects">{{localize "BF.Sheet.Tab.Effects"}}</a>
		</nav>

		<main>
			<div class="tab" data-group="primary" data-tab="main">
				{{> "blackFlag.pc-main"}}
			</div>
			<div class="tab" data-group="primary" data-tab="spellcasting">
				{{> "blackFlag.pc-spellcasting"}}
			</div>
			<div class="tab" data-group="primary" data-tab="inventory">
				{{> "blackFlag.pc-inventory"}}
			</div>
			<div class="tab" data-group="primary" data-tab="features">
				{{> "blackFlag.pc-features"}}
			</div>
			<div class="tab" data-group="primary" data-tab="biography">
				{{> "blackFlag.pc-biography"}}
			</div>
			<div class="tab" data-group="primary" data-tab="effects">
				{{> "blackFlag.active-effects"}}
			</div>
		</main>
	</form>

	<div class="tab" data-group="progression" data-tab="back">
		{{> "blackFlag.pc-progression"}}
	</div>
</div>
