<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-head">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}"{{#if editingMode}} data-edit="img"{{/if}}>
		<h1>
			<input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" {{disabled (not editingMode)}}>
		</h1>
		<fieldset class="proficiency-bonus">
			<legend>{{localize "BF.Proficiency.Abbreviation"}}</legend>
			<span>{{system.attributes.proficiency}}</span>
		</fieldset>
		<fieldset class="progression" data-group="progression">
			<legend>{{localize "BF.Progression.Label"}}</legend>
			<a data-tab="front">Return</a>
			<a data-tab="back">Level</a>
		</fieldset>
	</header>

	<div class="tab" data-group="progression" data-tab="front">
		<nav class="sheet-navigation tabs" data-group="primary">
			<a data-tab="main">Main</a>
			<a data-tab="spellcasting">Spellcasting</a>
			<a data-tab="inventory">Inventory</a>
			<a data-tab="features">Features</a>
			<a data-tab="biography">Biography</a>
		</nav>
		
		<main>
			<div class="tab" data-group="primary" data-tab="main">
				{{> "blackFlag.pc-main"}}
			</div>
			<div class="tab" data-group="primary" data-tab="spellcasting">
				{{> "blackFlag.pc-spellcasting"}}
			</div>
			<div class="tab" data-group="primary" data-tab="inventory">
				{{> "blackFlag.pc-inventory"}}
			</div>
			<div class="tab" data-group="primary" data-tab="features">
				{{> "blackFlag.pc-features"}}
			</div>
			<div class="tab" data-group="primary" data-tab="biography">
				{{> "blackFlag.pc-biography"}}
			</div>
		</main>
	</div>

	<div class="tab" data-group="progression" data-tab="back">
		{{> "blackFlag.pc-progression"}}
	</div>
</form>
