<form class="sheet-container" autocomplete="off">
	<section class="slots">
		<ul class="unlist spell-list">
			{{#each slots}}
				<li {{~#if selected}} class="selected"{{/if}}>
					<label>
						<figure class="icon">
							{{#if spell.img}}<img src="{{ spell.img }}">
							{{~else}}<div class="placeholder">{{ number }}</div>{{/if}}
						</figure>
						<div class="name">
							{{#if spell.name}}{{ spell.name }}{{else}}{{ localize name }}{{/if}}
						</div>
						<div class="control">
							<input type="radio" name="selected-slot" value="{{ @index }}" {{ checked selected }}>
						</div>
					</label>
				</li>
			{{/each}}
		</ul>
	</section>
	<div class="restrictions">
		{{#if restrictions.circle}}
			<div class="restriction">
				<strong>{{ localize "BF.Spell.Circle.Label" }}</strong>: {{ restrictions.circle }}
			</div>
		{{/if}}
	</div>
	{{!--
	<search>
		search
	</search>
	--}}
	<section class="spells">
		<ul class="unlist spell-list">
			{{#each spells}}
				<li {{~#if selected}} class="selected"{{/if}}>
					<label>
						<figure class="icon"><img src="{{ img }}"></figure>
						<div class="name">{{ name }}</div>
						<div class="control">
							<!-- TODO: Turn into checkbox for "all" learning mode -->
							<input type="radio" name="selected-spell" value="{{ uuid }}"
							       {{ checked selected }} {{ disabled disabled }}>
						</div>
					</label>
				</li>
			{{/each}}
		</ul>
	</section>
	<div class="controls">
		{{#if completed}}
			<button type="submit" class="light-button" data-action="learn">
				<i class="fa-solid fa-file-pen" inert></i>
				{{ localize "BF.Spellbook.Action.LearnSpells" }}
			</button>
		{{else}}
			<button type="button" class="heavy-button" data-action="continue" {{ disabled nextDisabled }}>
				<i class="fa-solid fa-diagram-next" inert></i>
				{{ localize "BF.Spellbook.Action.NextSlot" }}
			</button>
		{{/if}}
	</div>
</form>
