<form>

	{{#if show.scaling}}
		<fieldset>
			<legend>{{ localize "BF.Consumption.Scaling.Label" }}</legend>
			{{#if show.scalingRange}}
				<input type="range" class="scaling-slider" name="adjustedScaling" min="1" max="{{ scalingData.max }}" step="1"
				       value="{{ scalingData.value }}">
			{{/if}}
			<label>
				<span>{{ localize "BF.Consumption.Scaling.Label" }}</span>
				<input type="number" value="{{ scalingData.value }}" min="0" max="{{ scalingData.max }}"
				       step="1" {{~#if show.scalingRange}} readonly{{else}} name="adjustedScaling"{{/if}}>
			</label>
			<label>
				<span>{{ localize "BF.Consumption.MaxScaling.Label" }}</span>
				<span>{{ scalingData.max }}</span>
			</label>
		</fieldset>
	{{/if}}

	{{#if show.spellSlotSelection}}
		<fieldset>
			<legend>{{ localize "BF.Spellcasting.Label" }}</legend>
			<label>
				<span>{{ localize "BF.Spell.Circle.Label" }}</span>
				<select name="spell.slot">
					{{ selectOptions spell.slots selected=spell.slot labelAttr="label"}}
				</select>
			</label>
			{{#if show.spellConsumption}}
				<label class="full-checkbox">
					<span>{{ localize "BF.Consumption.Type.SpellSlots.Prompt" }}</span>
					<input type="checkbox" name="consume.spellSlot" {{ checked consume.spellSlot }}>
				</label>
			{{/if}}
		</fieldset>
	{{/if}}

	{{#if show.anyConsumption}}
		<fieldset class="consumption">
			<legend>{{ localize "BF.Consumption.Label" }}</legend>

			{{#if (and show.spellConsumption (not show.spellSlotSelection))}}
				<label class="full-checkbox">
					<span>{{ localize "BF.Consumption.Type.SpellSlots.Prompt" }}</span>
					<input type="checkbox" name="consume.spellSlot" {{ checked consume.spellSlot }}>
				</label>
			{{/if}}

			{{#if show.actionConsumption}}
				<label class="full-checkbox">
					<span>{{{ localize "BF.Consumption.Type.PromptGeneric" type=activity.activation.label }}}</span>
					<input type="checkbox" name="consume.action" {{ checked consume.action }}>
				</label>
			{{/if}}

			{{#if show.resourceConsumption}}
				<multi-checkbox name="consume.resources">
					{{#each resources}}
						<option value="{{ @key }}" {{ ifThen selected "selected" "" }}>{{{ label }}}</option>
					{{/each}}
				</multi-checkbox>
			{{/if}}

		</fieldset>
	{{/if}}

</form>
