<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
		<fieldset>
				<legend>{{ localize "BF.FORWARD.FIELDS.linked.label" }}</legend>
				{{ formInput systemFields.linked.fields.id value=system.linked.id options=activityOptions }}
		</fieldset>
</section>
