<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	{{> "systems/black-flag/templates/activity/parts/activity-effects.hbs" }}
	<fieldset>
			<legend>{{ localize "BF.UTILITY.FIELDS.roll.label" }}</legend>
			{{ formField systemFields.roll.fields.name name="system.roll.name" value=source.system.roll.name }}
			{{ formField systemFields.roll.fields.formula name="system.roll.formula" value=source.system.roll.formula }}
			{{ formField systemFields.roll.fields.visible name="system.roll.visible" value=source.system.roll.visible }}
	</fieldset>
</section>
