<form autocomplete="off">
	<fieldset>
		<legend>{{ localize "BF.ArmorClass.Label" }}</legend>
		<label>
			<span class="hinted-label" data-tooltip="BF.ArmorClass.Flat.Hint">
				{{ localize "BF.ArmorClass.Flat.Label" }}
			</span>
			<input type="number" name="system.attributes.ac.flat" value="{{ source.attributes.ac.flat }}">
		</label>
		<label>
			<span class="hinted-label" data-tooltip="BF.ArmorClass.Override.Hint">
				{{ localize "BF.ArmorClass.Override.Label" }}
			</span>
			<input type="number" name="system.attributes.ac.override" value="{{ source.attributes.ac.override }}">
		</label>
		<label>
			<span>{{ localize "BF.ArmorClass.CustomLabel" }}</span>
			<input type="text" name="system.attributes.ac.customLabel" value="{{ source.attributes.ac.customLabel }}"
			       placeholder="{{ system.attributes.ac.defaultLabel }}">
		</label>
	</fieldset>
	
	<fieldset class="modifier-list">
		<legend>{{ localize "BF.ArmorClass.Formula.DefaultLabel[other]" }}</legend>
		<ul class="modifiers">
			{{#each armorFormulas}}
				<li class="modifier">
					<input type="checkbox" name="formulas.{{ id }}" {{ checked checked }}>
					<input type="text" value="{{ localize label }}" disabled>
					<input type="text" value="{{ formula }}" disabled>
				</li>
			{{/each}}
		</ul>
	</fieldset>

	{{#each modifierSections}}
		{{> "blackFlag.modifier-list" section=this }}
	{{/each}}
</form>
