<form autocomplete="off">
	<div class="left">
	<fieldset>
		<legend>{{localize "BF.Language.Label[other]"}}</legend>
		{{> "blackFlag.trait-list" choices=dialects prefix="dialects"}}
	</fieldset>
	</div>
	<div class="right">
		<fieldset>
			<legend>{{localize "BF.Language.Tag.Label"}}</legend>
			{{> "blackFlag.trait-list" choices=tagOptions prefix="tags"}}
		</fieldset>
		<fieldset>
			<legend>{{localize "BF.Language.Communication.Label"}}</legend>
			{{#each communication}}
				<label>
					<span>{{label}}</span>
					<input type="number" name="communication.{{@key}}" value="{{value.range}}">
				</label>
			{{/each}}
		</fieldset>
	</div>
</form>
