<fieldset class="modifier-list" data-modifier-category="{{section.category}}" data-modifier-type="{{section.type}}">
{{#with (lookup (lookup @root.CONFIG.modifierTypes section.type) "localization") as |localization|}}
	<legend>
	{{#with (localize "BF.Modifier.Specific" type=(localize ../section.label)
		modifier=(localize (concat localization "[other]"))) as |label|}}
		{{#if ../../section.global}}
			{{localize "BF.Modifier.Global" type=label}}
		{{else}}
			{{label}}
		{{/if}}
	{{/with}}
	</legend>
	{{#if ../section.modifiers.length}}
		<ul class="modifiers">
			{{#each ../section.modifiers}}
				<li class="modifier" data-index="{{this.index}}">
					{{#if (eq this.type "note")}}
						<select class="roll-mode" name="modifier.{{this.index}}.note.rollMode">
							{{selectOptions @root.CONFIG.challengeRollModes selected=this.note.rollMode nameAttr="value"
								labelAttr="label" localize=true}}
						</select>
						<input type="text" name="modifier.{{this.index}}.note.text" value="{{this.note.text}}"
							placeholder="{{localize 'BF.Note.Label[one]'}}" {{disabled (ne this.source "manual")}}>
					{{else}}
						{{#if ../../section.showProficiency}}
							<label class="proficiency">
								<span>{{localize "BF.Modifier.Proficiency.Label"}}</span>
								<input type="checkbox" name="modifier.{{this.index}}.requireProficiency" {{checked this.requireProficiency}}>
							</label>
						{{/if}}
						<input type="text" name="modifier.{{this.index}}.formula" value="{{this.formula}}"
							placeholder="{{localize 'BF.Roll.Formula.Label'}}" {{disabled (ne this.source "manual")}}>
					{{/if}}
					<div class="modifier-controls">
						{{#if (eq this.source "manual")}}
							<a data-action="modifier" data-sub-action="delete">
								<i class="fa-solid fa-trash"></i>
							</a>
						{{/if}}
						{{!-- TODO: Display source --}}
					</div>
				</li>
			{{/each}}
		</ul>
	{{/if}}
	<a data-action="modifier" data-sub-action="add">
		<i class="fa-solid fa-plus"></i>
		{{localize "BF.Action.Add.Specific" type=(localize (concat localization "[one]"))}}
	</a>
{{/with}}
</fieldset>
