<form autocomplete="off">
	<fieldset>
		<legend>{{ localize "BF.Speed.Label" }}</legend>
		<label>
			<span class="hint-label" data-tooltip="BF.Movement.Base.Hint">
				{{ localize "BF.Speed.Base.Label" }}
			</span>
			<input type="number" name="base" value="{{ source.traits.movement.base }}"
			       min="0" step="0.1">
		</label>
		{{#each types}}
			<label>
				<span>{{ label }}</span>
				<input type="text" name="types.{{ @key }}" value="{{ value }}" placeholder="{{ placeholder }}">
			</label>
		{{/each}}
	</fieldset>
	<fieldset>
		<legend>{{ localize "BF.Movement.Tag.Label" }}</legend>
		{{> "blackFlag.trait-list" choices=tagOptions prefix="tags" }}
	</fieldset>
</form>
