<form autocomplete="off">
	<fieldset>
		<legend>{{ localize "BF.SENSES.Label[other]" }}</legend>
		{{#each types}}
			<label>
				<span>{{ label }}</span>
				<input type="text" name="types.{{ @key }}" value="{{ value }}" placeholder="{{ placeholder }}">
			</label>
		{{/each}}
		<label>
			<span>{{ localize "BF.SENSES.FIELDS.traits.senses.units.label" }}</span>
			<select name="units">
				{{ selectOptions CONFIG.distanceUnits.localized selected=source.traits.senses.units }}
			</select>
		</label>
	</fieldset>
	<fieldset>
		<legend>{{ localize "BF.SENSES.FIELDS.traits.senses.tags.label" }}</legend>
		{{> "blackFlag.trait-list" choices=tagOptions prefix="tags" }}
	</fieldset>
	<fieldset>{{log this}}
		<legend>{{ localize "BF.SENSES.FIELDS.traits.senses.custom.label" }}</legend>
		<ul class="configuration-list">
			{{#each custom}}
				<li>
					<div class="item-name full-width">
						<input type="text" name="custom.{{ @index }}" value="{{ this }}">
					</div>
					<div class="item-controls">
						<button class="link-button" type="button" data-action="delete" data-index="{{ @index }}"
										data-tooltip="BF.SENSES.Action.DeleteCustom"
										aria-label="{{ localize 'BF.SENSES.Action.DeleteCustom' }}">
							<i class="fa-solid fa-trash" inert></i>
						</button>
					</div>
				</li>
			{{/each}}
			<li class="add-control">
				<button class="link-button" type="button" data-action="add">
					<i class="fa-solid fa-plus" inert></i> {{ localize "BF.SENSES.Action.AddCustom" }}
				</button>
			</li>
		</ul>
	</fieldset>
</form>
