<form autocomplete="off">
	<fieldset>
		<legend>{{localize "BF.Senses.Label"}}</legend>
		{{#each types}}
			<label>
				<span>{{label}}</span>
				<input type="text" name="system.traits.senses.types.{{@key}}" value="{{value}}" placeholder="{{placeholder}}">
			</label>
		{{/each}}
		<!-- TODO: Senses tags (e.g. blind beyond this radius) -->
	</fieldset>
</form>
