<form autocomplete="off">
	<fieldset>
		<legend>{{ localize "BF.Sense.Label[other]" }}</legend>
		{{#each types}}
			<label>
				<span>{{ label }}</span>
				<input type="text" name="types.{{ @key }}" value="{{ value }}" placeholder="{{ placeholder }}">
			</label>
		{{/each}}
	</fieldset>
	<fieldset>
		<legend>{{ localize "BF.Sense.Tag.Label" }}</legend>
		{{> "blackFlag.trait-list" choices=tagOptions prefix="tags" }}
	</fieldset>
</form>
