<fieldset>
	<legend>{{ localize "BF.Attunement.Label" }}</legend>
	<label>
		<span>{{ localize "BF.Attunement.Type.Label" }}</span>
		<select name="system.attunement.value">
			{{ selectOptions attunementOptions selected=source.attunement.value }}
		</select>
	</label>
	{{#if source.attunement.value}}
		<label>
			<span>{{ localize "BF.Attunement.Requirement" }}</span>
			<input type="text" name="system.attunement.requirement" value="{{ source.attunement.requirement }}">
		</label>
	{{/if}}
</fieldset>
