<div class="category">
	{{#if categories}}
		<label>
			<span>{{localize "BF.Equipment.Category.Label"}}</span>
			<select name="system.type.category">
				{{selectOptions categories.options selected=system.type.category blank=categories.blank}}
			</select>
		</label>
	{{/if}}
	{{#if types}}
		<label>
			<span>{{localize "BF.Equipment.Type.Label"}}</span>
			<select name="system.type.value">
				{{selectOptions types.options selected=system.type.value blank=types.blank}}
			</select>
		</label>
	{{/if}}
	{{#if baseItems}}
		<label>
			<span>{{localize "BF.Equipment.Base.Label"}}</span>
			<select name="system.type.base">
				{{selectOptions baseItems.options selected=system.type.base blank=baseItems.blank}}
			</select>
		</label>
	{{/if}}
</div>
