<fieldset>
	<legend>{{ localize "BF.Attunement.Label" }}</legend>
	<label>
		<span>{{ localize "BF.Attunement.Type.Label" }}</span>
		<select name="system.attunement.value">
			{{#select system.attunement.value}}
				<option value="">{{ localize "BF.Attunement.Type.None" }}</option>
				<option value="optional">{{ localize "BF.Attunement.Type.Optional" }}</option>
				<option value="required">{{ localize "BF.Attunement.Type.Required" }}</option>
			{{/select}}
		</select>
	</label>
</fieldset>
