{{#if editable}}
	<prose-mirror name="system.description.value" data-document-u-u-i-d="{{ item.uuid }}"
								value="{{ source.description.value }}" class="description">
		{{{ enriched.description }}}
	</prose-mirror>
{{else}}
	<div class="description">
		{{{ enriched.description }}}
	</div>
{{/if}}
