<blackFlag-activities>
	<fieldset>
		<legend>{{ localize "BF.ACTIVITY.Label[other]" }}</legend>
		<ul class="items-list activity-list configuration-list">
			{{#each system.activities}}
				<li class="item activity-entry" data-activity-id="{{ id }}">
					<div class="item-name activity-name">
						<figure class="icon">
							<img src="{{ img }}">
						</figure>
						<h4>{{ name }}</h4>
					</div>
					<div class="item-controls activity-controls">
						{{#if @root.editable}}
							<button type="button" class="link-button" data-action="edit"
							        data-tooltip="BF.ACTIVITY.Core.Action.Edit"
											aria-label="{{ localize 'BF.ACTIVITY.Core.Action.Edit' }}">
								<i class="fa-solid fa-edit" inert></i>
							</button>
							<button type="button" class="link-button" data-action="delete"
							        data-tooltip="BF.ACTIVITY.Core.Action.Delete"
							        aria-label="{{ localize 'BF.ACTIVITY.Core.Action.Delete' }}">
								<i class="fa-solid fa-trash" inert></i>
							</button>
						{{else}}
							<button type="button" class="link-button interface-only" data-action="view"
							        data-tooltip="BF.ACTIVITY.Core.Action.View"
							        aria-label="{{ localize 'BF.ACTIVITY.Core.Action.View' }}">
								<i class="fa-solid fa-eye" inert></i>
							</button>
						{{/if}}
					</div>
				</li>
			{{else}}
				{{#unless editable}}
					<li class="add-control">
						{{ localize "None" }}
					</li>
				{{/unless}}
			{{/each}}
			{{#if editable}}
				<li class="add-control">
					<button type="button" class="link-button" data-action="add">
						<i class="fa-solid fa-plus" inert></i> {{ localize "BF.ACTIVITY.Core.Action.Create" }}
					</button>
				</li>
			{{/if}}
		</ul>
	</fieldset>
</blackFlag-activities>

{{> "blackFlag.uses-config" name="system.uses" source=source.uses derived=system.uses }}
