<fieldset class="formulas">
	<legend>{{ localize "BF.Roll.Formula.Label" }}</legend>
	<ul class="formulas unlist">
		{{#each rolls}}
			<li class="formula">
				<div class="formula-text">{{ roll.formula }}</div>
				<div class="formula-situational">
					<input type="text" name="roll.{{ @index }}.situational" value="{{ roll.data.situational }}"
					       placeholder="{{ localize 'BF.Roll.Configuration.Situational' }}">
				</div>
			</li>
		{{/each}}
	</ul>
</fieldset>
