{{#if notes.length}}
	<fieldset class="roll-notes">
		<legend>{{ localize "BF.Note.Label[other]" }}</legend>
		{{#each notes}}
			<label>
				<figure class="advantage-mode" data-advantage-mode="{{ note.rollMode }}">
					<blackFlag-icon class="die-icon" src="systems/black-flag/artwork/interface/dice/d20.svg"></blackFlag-icon>
					<figcaption>{{ localize advantageAbbreviation }}</figcaption>
				</figure>
				<p>{{ note.text }}</p>
			</label>
		{{/each}}
	</fieldset>
{{else}}
	<div></div>
{{/if}}
