<form class="dialog-content" autocomplete="off">
	<fieldset class="formulas">
		<legend>{{localize "BF.Roll.Formula.Label"}}</legend>
		<ul class="formulas">
			{{#each rolls}}
				<li class="formula">
					<span class="formula-text">{{this.formula}}</span>
					{{#with (lookup (lookup @root.CONFIG.damageTypes this.options.type) "label") as |type|}}
						<span class="damage-type">{{localize type}}</span>
					{{/with}}
				</li>
			{{/each}}
		</ul>
		{{#if damageTypes}}
			<label>
				<span>{{localize "BF.Damage.Type.Label[one]"}}</span>
				<select name="damageType">
					{{selectOptions damageTypes selected=selectedDamageType labelAttr="label"}}
				</select>
			</label>
		{{/if}}
		<label>
			<span>{{localize "BF.Roll.ExtraTerms.Label"}}</span>
			<input type="text" name="situational" value="{{situational}}" placeholder="">
		</label>
	</fieldset>

	<fieldset>
		<legend>{{localize "BF.Roll.Configuration.LabelGeneric"}}</legend>
		<label>
			<span>{{localize "BF.Roll.Mode.Label"}}</span>
			<select name="rollMode">
				{{selectOptions rollModes selected=default.rollMode localize=true}}
			</select>
		</label>
	</fieldset>

	{{> "blackFlag.roll-notes"}}

	<nav class="dialog-buttons">
		<ul>
			{{#each buttons as |button action|}}
				<li><button data-action="{{action}}">{{{button.icon}}} {{{button.label}}}</button></li>
			{{/each}}
		</ul>
	</nav>
</form>
