<form class="dialog-content" autocomplete="off">
	<fieldset class="formulas">
		<legend>{{ localize "BF.Roll.Formula.Label" }}</legend>
		<ul class="formulas">
			{{#each rolls}}
				<li class="formula">
					<span class="formula-text">{{ formula }}</span>
				</li>
			{{/each}}
		</ul>
		<label>
			<span>{{ localize "BF.Roll.ExtraTerms.Label" }}</span>
			<input type="text" name="situational" value="{{ situational }}" placeholder="">
		</label>
	</fieldset>

	<fieldset>
		<legend>{{ localize "BF.Roll.Configuration.LabelGeneric" }}</legend>
		{{#if options.chooseAbility}}
			<label>
				<span>{{ localize "BF.Ability.Label[one]" }}</span>
				<select name="ability">
					{{ selectOptions abilities selected=selectedAbility localize=true }}
				</select>
			</label>
		{{/if}}
		<label>
			<span>{{ localize "BF.Roll.Mode.Label" }}</span>
			<select name="rollMode">
				{{ selectOptions rollModes selected=rollMode localize=true }}
			</select>
		</label>
	</fieldset>
	
	{{> "blackFlag.roll-notes" }}
	
	<nav class="dialog-buttons">
		<ul>
			{{#each buttons}}
				<li><button data-action="{{ @key }}">{{{ icon }}} {{{ label }}}</button></li>
			{{/each}}
		</ul>
	</nav>
</form>

