<fieldset>
	<legend>{{ localize "BF.Roll.Configuration.LabelGeneric" }}</legend>
	{{#if chooseAbility}}
		<label>
			<span>{{ localize "BF.Ability.Label[one]" }}</span>
			<select name="ability">
				{{ selectOptions CONFIG.abilities.localized selected=ability }}
			</select>
		</label>
	{{/if}}
	<label>
		<span>{{ localize "BF.Roll.Mode.Label" }}</span>
		<select name="rollMode">
			{{ selectOptions rollModesOptions selected=rollMode localize=true }}
		</select>
	</label>
</fieldset>
