<form>

	<!-- For smaller values, display slider -->
	<!-- For larger values (> 20) or infinite, show input box -->

	{{#if show.spellCircleSelection}}
		<div class="form-group">
			<label>{{ localize "BF.Spell.Circle.Label" }}</label>
			<div class="form-fields">
				<select name="spell.circle" data-dtype="Number">
					{{ selectOptions spell.circles selected=spell.circle labelAttr="label"}}
				</select>
			</div>
		</div>
	{{/if}}
	
	{{#if show.spellConsumption}}
		<div class="form-group">
			<label class="checkbox">
				<input type="checkbox" name="consume.spellSlot" {{ checked consume.spellSlot }}>
				{{ localize "BF.Consumption.Type.SpellSlots.Prompt" }}
			</label>
		</div>
	{{/if}}

	{{#if show.actionConsumption}}
		<div class="form-group">
			<label class="checkbox">
				<input type="checkbox" name="consume.action" {{ checked consume.action }}>
				{{ localize "BF.Consumption.Type.PromptGeneric" type=activity.activation.label }}
			</label>
		</div>
	{{/if}}

	{{#if show.resourceConsumption}}
		<multi-checkbox name="consume.resources">
			{{#each resources}}
				<option value="{{ @key }}" {{ifThen selected "selected" ""}}>{{ label }}</option>
			{{/each}}
		</multi-checkbox>
	{{/if}}

</form>
