<blackFlag-uses>
	<fieldset>
		<legend>{{localize "BF.Uses.Label"}}</legend>
		<div class="field-group">
			<span>{{localize "BF.Uses.Limits.Label"}}</span>
			<label>
				<span>{{localize "BF.Uses.Minimum.Label"}}</span>
				<input type="text" name="uses.min" value="{{uses.min}}" placeholder="0">
			</label>
			<label>
				<span>{{localize "BF.Uses.Maximum.Label"}}</span>
				<input type="text" name="uses.max" value="{{uses.max}}" placeholder="0">
			</label>
		</div>
		<label>
			<span>{{localize "BF.Uses.Spent.Label"}}</span>
			<input type="number" name="uses.spent" value="{{uses.spent}}">
		</label>
	</fieldset>
</blackFlag-uses>
