<blackFlag-damageList>
	<ul>
		{{#each source.damage.parts}}
			<li data-index="{{@index}}">
				<div class="damage field-group">
					<label class="die-count">
						<span>{{localize "BF.Die.Number.Label"}}</span>
						<input type="number" name="system.damage.parts.{{@index}}.number" step=1 min=1 value="{{number}}">
					</label>
					<label class="die-denomination">
						<span>{{localize "BF.Die.Denomination.Label"}}</span>
						<select name="system.damage.parts.{{@index}}.denomination">
							{{selectOptions @root.CONFIG.dieSteps.labeled selected=denomination blank=""}}
						</select>
					</label>
					<span class="plus">+</span>
					<label class="bonus">
						<span>{{localize "BF.Damage.Bonus.Label"}}</span>
						<input type="text" name="system.damage.parts.{{@index}}.bonus" value="{{bonus}}">
					</label>
					<label class="custom">
						<span>{{localize "BF.Formula.Custom.Label"}}</span>
						<input type="text" name="system.damage.parts.{{@index}}.custom" value="{{custom}}">
					</label>
					<label class="type">
						<span>{{localize "BF.Damage.Type.Label"}}</span>
						<select name="system.damage.parts.{{@index}}.type">
							{{selectOptions @root.CONFIG.damageTypes selected=type
								labelAttr="label" localize=true sort=true blank=""}}
						</select>
					</label>
				</div>
				<div class="controls">
					<a data-action="customize" data-tooltip="BF.Formula.Action.Customize">
						<i class="fa-solid fa-superscript"></i>
					</a>
					<a data-action="delete">
						<i class="fa-solid fa-trash"></i>
					</a>
				</div>
			</li>
		{{/each}}
		<li class="add-control">
			<a data-action="add">
		 	<i class="fa-solid fa-plus"></i> {{localize "BF.Activity.Damage.Action.Add"}}
			</a>
		</li>
	</ul>
<blackFlag-damageList>
