<form>

	{{#if show.spellRingSelection}}
		<div class="form-group">
			<label>{{ localize "BF.Spell.Ring.Label" }}</label>
			<div class="form-fields">
				<select name="spell.ring" data-dtype="Number">
					{{ selectOptions spell.rings selected=spell.ring labelAttr="label"}}
				</select>
			</div>
		</div>
	{{/if}}
	
	{{#if show.spellConsumption}}
		<div class="form-group">
			<label class="checkbox">
				<input type="checkbox" name="consume.spellSlot" {{ checked consume.spellSlot }}>
				{{ localize "BF.Consumption.Type.SpellSlots.Prompt" }}
			</label>
		</div>
	{{/if}}

	{{#if show.resourceConsumption}}
		<multi-checkbox name="consume.resources">
			{{#each resources}}
				<option value="{{ @key }}" {{ifThen selected "selected" ""}}>{{ label }}</option>
			{{/each}}
		</multi-checkbox>
	{{/if}}

</form>
