<form autocomplete="off">
	<header class="sheet-header">
		<figure class="icon">
			<img src="{{ activity.img }}" alt="{{ default.title }}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{ source.name }}" placeholder="{{ default.title }}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{ localize "BF.Sheet.Tab.Description" }}</a>
		<a data-tab="details">{{ localize "BF.Sheet.Tab.Details" }}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			{{> "blackFlag.activity-description" }}
		</div>

		<div class="tab" data-group="primary" data-tab="details">
			{{> "blackFlag.activity-activation" }}

			<fieldset>
				<legend>{{ localize "BF.Activity.Attack.Section.Details" }}</legend>
				<label>
					<span>{{ localize "BF.Ability.Label[one]" }}</span>
					<select name="system.ability">
						{{#select source.system.ability}}
							{{#if labels.defaultAbility}}
								<option value="">{{ labels.defaultAbility }}</option>
							{{/if}}
							<hr>
							<option value="none">{{ localize "None" }}</option>
							<optgroup label="{{ localize 'BF.Ability.Label[other]' }}">
								{{ selectOptions CONFIG.abilities.localized }}
							</optgroup>
						{{/select}}
					</select>
				</label>
				<div class="field-group">
					<span>{{ localize "BF.Activity.Attack.Bonus.Label" }}</span>
					<label>
						<span>{{ localize "BF.Formula.Label" }}</span>
						<input type="text" name="system.attack.bonus" value="{{ source.system.attack.bonus }}">
					</label>
					<label>
						<span>
							{{ localize "BF.Activity.Attack.Flat.Label" }}
							<i class="hintIcon" data-tooltip="BF.Activity.Attack.Flat.Hint"></i>
						</span>
						<input type="checkbox" name="system.attack.flat" {{ checked source.system.attack.flat }}>
					</label>
				</div>
				<div class="field-group">
					<label>
						<span>{{ localize "BF.Weapon.Type.Label" }}</span>
						<select name="system.type.value">
							{{ selectOptions CONFIG.weaponTypes selected=source.system.type.value blank=labels.defaultType
								               labelAttr="label" localize=true }}
						</select>
					</label>
					<label>
						<span>{{ localize "BF.Attack.Classification.Label" }}</span>
						<select name="system.type.classification">
							{{ selectOptions CONFIG.attackTypes selected=source.system.type.classification
							                 blank=labels.defaultClassification localize=true}}
						</select>
					</label>
				</div>
			</fieldset>
	
			<fieldset>
				<legend>{{ localize "BF.Damage.Label" }}</legend>
				{{#if showBaseDamage}}
					<label class="full-checkbox">
						<span>
							{{ localize "BF.Activity.Damage.IncludeBaseDamage.Label" }}
							<i class="hintIcon" data-tooltip="BF.Activity.Damage.IncludeBaseDamage.Hint"></i>
						</span>
						<input type="checkbox" name="system.damage.includeBaseDamage" {{ checked system.damage.includeBaseDamage }}>
					</label>
				{{/if}}
				{{> "blackFlag.activity-damage-parts" }}
			</fieldset>
	
			{{> "blackFlag.activity-uses" }}
	
			{{!-- TODO: Overrides & Bonuses --}}
		</div>
	</div>
</form>
