<form autocomplete="off">
	<section>
		<ol>
			{{#each types as |config name|}}
				<li>
					<label>
						<figure><img src="{{#if config.icon}}{{config.icon}}{{else}}{{config.img}}{{/if}}"></figure>
						<h3>{{config.label}}</h3>
						<input name="type" type="radio" value="{{name}}" {{disabled config.disabled}}>
						<p class="hint">{{config.hint}}</p>
					</label>
				</li>
			{{/each}}
		</ol>
	</section>

	<nav class="dialog-buttons">
		<button type="button" class="dialog-button" data-button="submit" disabled>
			<i class="far fa-save"></i> {{buttonLabel}}
		</button>
	</nav>
</form>
