<section>
	<ol>
		{{#each types}}
			<li>
				<label>
					<figure><img src="{{#if icon}}{{ icon }}{{else}}{{ img }}{{/if}}"></figure>
					<span class="name">{{ label }}</span>
					<input name="type" type="radio" value="{{ @key }}" {{ disabled disabled }}>
					<p class="hint">{{ hint }}</p>
				</label>
			</li>
		{{/each}}
	</ol>
</section>
