<blackFlag-currency tab="currency">
	<table>
		{{#each sections.currency as |section sectionId|}}
			<tbody data-section="{{sectionId}}">
				<tr>
					<td class="name">{{localize section.label}}</td>
					<th class="quantity" scope="col">{{localize "BF.Quantity.Label"}}</th>
					<th class="weight" scope="col">{{localize "BF.Weight.Label"}}</th>
					<td class="controls">
						<div class="layout">
							{{#if @root.editable}}
								<a data-action="add">
									<i class="fa-solid fa-plus"></i>
								</a>
							{{/if}}
						</div>
					</td>
				</tr>
				{{#each section.items}}
					<tr data-item-id="{{id}}">
						<th class="name" scope="row">
							<div class="layout">
								<figure>
									<img src="{{img}}">
								</figure>
								<span>{{name}}</span>
								{{blackFlag-notificationBadge @root.document document=this}}
							</div>
						</th>
						<td class="quantity">
							<div class="layout">
								{{#if @root.owner}}
									<a data-action="adjustment" data-direction="decrease" data-property="system.quantity">
										<i class="fas fa-minus"></i>
									</a>
								{{/if}}
								<input type="text" data-property="system.quantity" value="{{system.quantity}}" placeholder="0"
											 inputmode="numeric" min="0">
								{{#if @root.owner}}
									<a data-action="adjustment" data-direction="increase" data-property="system.quantity">
										<i class="fas fa-plus"></i>
									</a>
								{{/if}}
							</div>
						</td>
						<td class="weight">{{system.weight.label}}</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.editable}}
									<a data-action="edit">
										<i class="fa-solid fa-edit"></i>
									</a>
									<a data-action="delete">
										<i class="fa-solid fa-trash"></i>
									</a>
								{{else}}
									<a data-action="view">
										<i class="fa-regular fa-eye"></i>
									</a>
								{{/if}}
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/each}}
	</table>
</blackFlag-currency>
