<section>

	<fieldset>
		<legend>{{ localize "BF.Identity.Label" }}</legend>
		<div class="form-group">
			<label>{{ localize "BF.Identity.ID" }}</label>
			<div class="form-fields">
				<input type="text" value="{{ document.id }}" readonly>
				<blackFlag-copyable value="{{ document.id }}"></blackFlag-copyable>
			</div>
		</div>
		<div class="form-group">
			<label>{{ localize "BF.Identity.UUID" }}</label>
			<div class="form-fields">
				<input type="text" value="{{ document.uuid }}" readonly>
				<blackFlag-copyable value="{{ document.uuid }}"></blackFlag-copyable>
			</div>
		</div>
		{{#if identifier}}
			<div class="form-group">
				<label>{{ localize "BF.Identifier.Label" }}</label>
				<div class="form-fields">
					{{ formInput identifier.field value=identifier.value placeholder=identifier.placeholder }}
					<blackFlag-copyable value="{{ document.identifier }}"></blackFlag-copyable>
				</div>
				<p class="hint">
					{{ localize "BF.Identifier.Hint" }}
				</p>
			</div>
		{{/if}}
	</fieldset>

	{{#if (or compendiumLink source)}}
		<fieldset>
			<legend>{{ localize "BF.SOURCE.Label" }}</legend>
			{{#if source}}
				<div class="form-group">
					<label>{{ localize "BF.SOURCE.FIELDS.description.source.book.label" }}</label>
					<div class="form-fields">
						<input type="text" name="system.description.source.book" value="{{ source.data.book }}"
						       list="{{ partId }}-books" placeholder="{{ source.data.bookPlaceholder }}">
						<datalist id="{{ partId }}-books">
							{{ selectOptions CONFIG.sourceBooks }}
						</datalist>
					</div>
				</div>
				{{ formField source.fields.page value=source.source.page }}
				{{ formField source.fields.fallback value=source.source.fallback }}
			{{/if}}
			{{#if compendiumLink}}
				{{#if source}}<hr>{{/if}}
				<div class="form-group">
					<label>{{ localize "BF.SOURCE.Compendium" }}</label>
					<div class="source-uuid">
						{{{ compendiumLink }}}
					</div>
				</div>
			{{/if}}
		</fieldset>
	{{/if}}

</section>
