<blackFlag-inventory tab="inventory">
	<table>
		<thead>
			<tr class="filters">
				<th>
					<blackFlag-sorting>
						<label>{{ localize "BF.Sheet.Sorting.Mode.Alphabetic" }} <input type="radio" value="alpha"></label>
						<label>{{ localize "BF.Sheet.Sorting.Mode.Manual" }} <input type="radio" value=""></label>
					</blackFlag-sorting>
				</th>
			</tr>
		</thead>
		{{#each sections.inventory as |section sectionId|}}
			<tbody data-section="{{ sectionId }}">
				<tr class="table-header">
					<td class="name">{{ localize section.label }}</td>
					<th class="uses" scope="col">{{ localize "BF.Uses.Short" }}</th>
					<th class="weight" scope="col">{{ localize "BF.Weight.Label" }}</th>
					<th class="quantity" scope="col">{{ localize "BF.Quantity.Label" }}</th>
					<th class="cost" scope="col">{{ localize "BF.Price.Label" }}</th>
					<th class="traits" scope="col">{{ localize "BF.Trait.Label[other]" }}</th>
					<td class="controls"></td>
				</tr>
				{{#each section.items}}
				{{#blackFlag-itemContext this as |ctx|}}
					<tr data-item-id="{{ id }}" {{ blackFlag-dataset ctx.dataset }}>
						<th class="name item-tooltip" scope="row">
							<div class="layout">
								<img src="{{ img }}" alt="{{ name }}">
								<button type="button" class="link-button" data-action="expand">
									<span>{{ name }}</span>
									<i class="fa-solid fa-caret-down" inert></i>
								</button>
								{{ blackFlag-notificationBadge @root.document document=this }}
							</div>
						</th>
						<td class="uses">{{ system.uses.label }}</td>
						<td class="weight">{{ ctx.weight }}</td>
						<td class="quantity">
							<div class="layout">
								{{#if @root.owner}}
									<button type="button" class="link-button" data-action="adjustment" data-direction="decrease"
									        data-property="system.quantity" aria-label="{{ localize 'BF.Quantity.Action.Decrease' }}">
										<i class="fas fa-minus" inert></i>
									</button>
								{{/if}}
								<input type="text" data-property="system.quantity" value="{{ system.quantity }}" placeholder="0"
								       inputmode="numeric" min="0">
								{{#if @root.owner}}
									<button type="button" class="link-button" data-action="adjustment" data-direction="increase"
									        data-property="system.quantity" aria-label="{{ localize 'BF.Quantity.Action.Increase' }}">
										<i class="fas fa-plus" inert></i>
									</button>
								{{/if}}
							</div>
						</td>
						<td class="cost">{{ system.price.label }}</td>
						<td class="traits">{{ system.traits }}</td>
						<td class="controls">
							<div class="layout">
								{{#if @root.editable}}
									<button type="button" class="link-button" data-action="edit"
									        data-tooltip="BF.Item.Action.Edit"
									        aria-label="{{ localize 'BF.Item.Action.Edit' }}">
										<i class="fa-solid fa-edit" inert></i>
									</button>
									<button type="button" class="link-button" data-action="delete"
									        data-tooltip="BF.Item.Action.Delete"
									        aria-label="{{ localize 'BF.Item.Action.Delete' }}">
										<i class="fa-solid fa-trash" inert></i>
									</button>
								{{else}}
								{{> "blackFlag.inventory-controls" buttons=ctx.buttons }}
								{{/if}}
								<button type="button" class="link-button" data-context-menu
								        data-tooltip="BF.AdditionalControls"
								        aria-label="{{localize 'BF.AdditionalControls'}}">
									<i class="fa-solid fa-ellipsis-vertical" inert></i>
								</button>
							</div>
						</td>
					</tr>
					<tr class="collapsible {{#unless ctx.expanded}}collapsed{{/unless}}" data-expand-for="{{ id }}">
						<td colspan="7">
							{{> "blackFlag.inventory-collapsible" item=this ctx=ctx}}
						</td>
					</tr>
				{{/blackFlag-itemContext}}
				{{/each}}
			</tbody>
		{{/each}}
	</table>

	{{#if @root.editable}}
		<div class="main-add-button">
			<button type="button" class="light-button main-add-button" data-action="add">
				<i class="fa-solid fa-plus inert"></i>
				{{ localize 'BF.Item.Action.Add' }}
			</button>
		</div>
	{{/if}}
</blackFlag-inventory>
