<ol class="trait-list">
	{{#each choices}}
		<li>
			<label {{~#if wildcard}} class="wildcard"{{/if}}>
				<input type="checkbox" name="{{#if ../prefix}}{{ ../prefix }}.{{/if}}{{ @key }}"
					{{ checked chosen }} {{ disabled disabled }}>
				{{ label }}
			</label>
			{{#if children}}
				{{> "blackFlag.trait-list" choices=children prefix=../prefix }}
			{{/if}}
		</li>
	{{/each}}
</ol>
