<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{ document.img }}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{ document.name }}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{ localize "BF.Sheet.Tab.Description" }}</a>
		<a data-tab="details">{{ localize "BF.Sheet.Tab.Details" }}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				{{> "blackFlag.equipment-categories" }}
				{{> "blackFlag.equipment-description" }}
				{{> "blackFlag.document-source" }}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			<fieldset class="properties checkbox-list">
				<legend>{{ localize "BF.Property.Label[other]" }}</legend>
				{{#each properties}}
					<label>
						<input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}> {{ label }}
					</label>
				{{/each}}
			</fieldset>
			<fieldset>
				<legend>{{ localize "BF.AMMUNITION.Details" }}</legend>
				{{#if properties.magical.selected}}
					<label>
						<span class="hinted-label" data-tooltip="BF.AMMUNITION.FIELDS.magicalBonus.hint">
							{{ localize "BF.AMMUNITION.FIELDS.magicalBonus.label" }}
						</span>
						<input type="number" name="system.magicalBonus" value="{{ source.magicalBonus }}" step="1" min="0">
					</label>
				{{/if}}
				<label class="full-checkbox">
					<span class="hinted-label" data-tooltip="BF.AMMUNITION.FIELDS.damage.replace.hint">
						{{ localize "BF.AMMUNITION.FIELDS.damage.replace.label" }}
					</span>
					<input type="checkbox" name="system.damage.replace" {{ checked system.damage.replace }}>
				</label>
				<div class="damage field-group">
					<span>{{ localize "BF.DAMAGE.Label" }}</span>
					<label class="die-count">
						<span>{{ localize "BF.Die.Number.Label" }}</span>
						<input type="number" name="system.damage.base.number" value="{{ source.damage.base.number }}"
									 step=1 min=1>
					</label>
					<label class="die-denomination">
						<span>{{ localize "BF.Die.Denomination.Label" }}</span>
						<select name="system.damage.base.denomination">
							{{ selectOptions CONFIG.dieSteps.labeled selected=source.damage.base.denomination blank="" }}
						</select>
					</label>
					<label>
						<span>{{ localize "BF.DAMAGE.Type.Label" }}</span>
						<select name="system.damage.base.type">
							{{ selectOptions CONFIG.damageTypes selected=source.damage.base.type
															 labelAttr="label" localize=true sort=true blank="" }}
						</select>
					</label>
				</div>
			</fieldset>
		</div>
	</div>

</form>
