<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{document.img}}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{document.name}}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{localize "BF.Sheet.Tab.Description"}}</a>
		<a data-tab="details">{{localize "BF.Sheet.Tab.Details"}}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				{{> "blackFlag.equipment-categories"}}
				{{> "blackFlag.equipment-description"}}
				{{> "blackFlag.equipment-source"}}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			<section>
				<fieldset class="properties checkbox-list">
					<legend>{{localize "BF.Property.Label[other]"}}</legend>
					{{#each properties}}
						<label>
							<input type="checkbox" name="system.properties.{{@key}}" {{checked selected}}> {{label}}
						</label>
					{{/each}}
				</fieldset>
				<fieldset>
					<legend>Armor Details</legend>
					<label class="armor-value">
						{{#if (eq system.type.category "shield")}}
							<span>{{localize "BF.Shield.Bonus.Label"}}</span>
							<span>+</span>
							<input type="number" name="system.armor.value" step=1 min=0 value="{{source.armor.value}}" placeholder="2">
						{{else}}
							<span>{{localize "BF.Armor.Value.Label"}}</span>
							<input type="number" name="system.armor.value" step=1 min=0 value="{{source.armor.value}}">
							<span>{{modifierHint}}</span>
						{{/if}}
					</label>
					{{#if properties.cumbersome.selected}}
						<label class="strength-required">
							<span>{{localize "BF.Armor.RequiredStrength.Label"}}</span>
							<input type="number" name="system.armor.requiredStrength" step=1 min=0
								value="{{source.armor.requiredStrength}}">
						</label>
					{{/if}}
				</fieldset>
				<fieldset>
					<legend>{{localize "BF.Override.Label[other]"}}</legend>
					<div class="modifier-overrides field-group">
						<span>{{localize "BF.Armor.Modifier.Label"}}</span>
						<label class="minimum">
							<span>{{localize "BF.Number.Minimum"}}</span>
							<input type="number" name="system.modifier.min" step=1 value="{{source.modifier.min}}"
								placeholder="{{system.modifier.min}}">
						</label>
						<label class="maximum">
							<span>{{localize "BF.Number.Maximum"}}</span>
							<input type="number" name="system.modifier.max" step=1 value="{{source.modifier.max}}"
								placeholder="{{system.modifier.max}}">
						</label>
					</div>
					<label>
						<span>{{localize "BF.Proficiency.Label[one]"}}</span>
						<select name="system.overrides.proficiency">
							{{#select source.overrides.proficiency}}
								<option value="null">{{localize "BF.Proficiency.Override.Auto"}}</option>
								<option value="true">{{localize "BF.Proficiency.Override.Always"}}</option>
								<option value="false">{{localize "BF.Proficiency.Override.Never"}}</option>
							{{/select}}
						</select>
					</label>
				</fieldset>
			</section>
		</div>
	</div>
</form>
