<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{document.img}}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{document.name}}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs" data-group="primary">
		<a data-tab="description">{{localize "BF.Sheet.Tab.Description"}}</a>
		<a data-tab="details">{{localize "BF.Sheet.Tab.Details"}}</a>
	</nav>

	<main class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				<div class="category">
					<label>
						<span>{{localize "BF.Equipment.Category.Label"}}</span>
						<select name="system.type.category">
							{{selectOptions categories selected=system.type.category blank=""}}
						</select>
					</label>
					{{#if baseTypes}}
						<label>
							<span>{{localize "BF.Equipment.Base.Label"}}</span>
							<select name="system.type.base">
								{{selectOptions baseTypes selected=system.type.base blank=""}}
							</select>
						</label>
					{{/if}}
				</div>
				<div class="description-area">
					<div class="sidebar">
						<label class="quantity">
							<span>{{localize "BF.Quantity.Label"}}</span>
							<input type="number" name="system.quantity" min=0 step=1 value="{{source.quantity}}">
						</label>
						<label class="price">
							<span>{{localize "BF.Price.Label"}}</span>
							<input type="number" name="system.price.value" min=0 step=0.01 value="{{source.price.value}}">
							<select name="system.price.denomination">
								{{selectOptions CONFIG.currencies selected=source.price.denomination
									labelAttr="abbreviation" localize=true}}
							</select>
						</label>
						<label class="weight">
							<span>{{localize "BF.Weight.Label"}}</span>
							<input type="number" name="system.weight.value" min=0 step=0.01 value="{{source.weight.value}}">
							<select name="system.weight.units">
								{{selectOptions CONFIG.weightUnits selected=source.weight.units
									labelAttr="abbreviation" localize=true}}
							</select>
						</label>
					</div>
					{{editor enriched.description target="system.description.value" button=true
						editable=editable engine="prosemirror" collaborate=false}}
				</div>
				<label class="source">
					<span>
						{{localize "BF.Item.Source.Label"}}
						<i class="fa-solid fa-circle-question hintIcon" data-tooltip="BF.Item.Source.Hint"></i>
					</span>
					<input type="text" name="system.description.source" value="{{system.description.source}}">
				</label>
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			<section>
				<fieldset class="properties checkbox-list">
					<legend>{{localize "BF.Property.Label[other]"}}</legend>
					{{#each properties as |property key|}}
						<label>
							<input type="checkbox" name="system.properties.{{key}}" {{checked property.selected}}>
							{{property.label}}
						</label>
					{{/each}}
				</fieldset>
				<fieldset>
					<legend>Armor Details</legend>
					<label class="armor-value">
						{{#if (eq system.type.category "shield")}}
							<span>{{localize "BF.Shield.Bonus.Label"}}</span>
							<span>+</span>
							<input type="number" name="system.armor.value" step=1 min=0 value="{{source.armor.value}}">
						{{else}}
							<span>{{localize "BF.Armor.Value.Label"}}</span>
							<input type="number" name="system.armor.value" step=1 min=0 value="{{source.armor.value}}">
							<span>{{modifierHint}}</span>
						{{/if}}
					</label>
					{{#if properties.cumbersome.selected}}
						<label class="strength-required">
							<span>{{localize "BF.Armor.RequiredStrength.Label"}}</span>
							<input type="number" name="system.armor.requiredStrength" step=1 min=0
								value="{{source.armor.requiredStrength}}">
						</label>
					{{/if}}
				</fieldset>
				<fieldset>
					<legend>{{localize "BF.Override.Label[other]"}}</legend>
					<div class="modifier-overrides field-group">
						<span>{{localize "BF.Armor.Modifier.Label"}}</span>
						<label class="minimum">
							<span>{{localize "BF.Number.Minimum"}}</span>
							<input type="number" name="system.overrides.minModifier" step=1 value="{{source.overrides.minModifier}}">
						</label>
						<label class="maximum">
							<span>{{localize "BF.Number.Maximum"}}</span>
							<input type="number" name="system.overrides.maxModifier" step=1 value="{{source.overrides.maxModifier}}">
						</label>
					</div>
				</fieldset>
			</section>
		</div>
	</main>
</form>
