<figure class="poster">
	<img src="{{item.img}}"{{#if edit}} data-edit="img"{{/if}}>
	<h1 class="name">
		{{#if edit}}
			<input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'Name'}}">
		{{else}}
			{{item.name}}
		{{/if}}
	</h1>
	{{#if (and edit (eq item.type "class"))}}
		<div class="color">
			<input name="system.color" type="color" value="{{system.color}}"
				title="{{localize 'BF.AccentColor.Label'}}" aria-label="{{localize 'BF.AccentColor.Label'}}">
		</div>
	{{/if}}
	<div class="source">
		{{#if edit}}
			<input type="text" name="system.description.source" value="{{system.description.source}}"
				placeholder="{{localize 'BF.Item.Source.Label'}}" aria-label="{{localize 'BF.Item.Source.Label'}}">
		{{else}}
			{{system.description.source}}
		{{/if}}
	</div>
	<div class="banner-mask" inert></div>
</figure>
<div class="info">
	<div class="description">
		{{#if edit}}
			{{editor enriched.description target="system.description.value" button=false
				editable=editable engine="prosemirror" collaborate=false}}
		{{else}}
			{{{enriched.description}}}
		{{/if}}
		{{#if system.description.journal}}
			<a class="content-link" data-uuid="{{system.description.journal}}">
				More Information
			</a>
		{{else if edit}}
			<p class="drop-area">Drop journal entry here</p>
		{{/if}}
	</div>
	<ul class="traits">
		{{#each system.traits as |trait|}}
			<li class="trait">
				{{localize trait.label}}: {{trait.value}}
			</li>
		{{/each}}
		{{#if system.proficiencies}}
			<li>
				Proficiencies
			</li>
		{{/if}}
		{{#if system.spellcasting}}
			<li>
				Spellcasting if applicable
			</li>
		{{/if}}
	</ul>
</div>
