<form autocomplete="off"{{#if system.color}} style="--bf-item-color: {{ system.color }};"{{/if}}>

	<section class="summary">
		{{> "blackFlag.concept-summary" edit=editable }}
	</section>

	<section class="details">
		<nav data-group="primary">
			<a data-tab="advancement">{{ localize "BF.Sheet.Tab.Advancement" }}</a>
			<a data-tab="description">{{ localize "BF.Sheet.Tab.Description" }}</a>
		</nav>
		<div class="tab-area">
			<div class="tab" data-tab="advancement" data-group="primary">
				{{> "blackFlag.item-advancement" }}
			</div>
			<div class="tab" data-tab="description" data-group="primary">
				{{#if editable}}
					<prose-mirror name="system.description.value" data-document-u-u-i-d="{{ item.uuid }}"
					              value="{{ source.description.value }}" class="description" {{#unless editable}}disabled{{/unless}}>
						{{{ enriched.description }}}
					</prose-mirror>
				{{else}}
					<div class="description">{{{ enriched.description }}}</div>
				{{/if}}
			</div>
		</div>
	</section>

</form>
