<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{document.img}}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{document.name}}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{localize "BF.Sheet.Tab.Description"}}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				{{#unless item.isEmbedded}}
					<div class="category">
						<label>
							<span>
								{{localize "BF.Currency.Abbreviation.Label"}}
								<i class="hintIcon" data-tooltip="BF.Currency.Abbreviation.Hint"></i>
							</span>
							<input type="text" name="system.identifier.value" value="{{system.identifier.value}}"
								placeholder="{{item.identifier}}">
						</label>
						<label>
							<span>
								{{localize "BF.Currency.ConversionRatio.Label"}}
								<i class="hintIcon" data-tooltip="BF.Currency.ConversionRatio.Hint"></i>
							</span>
							<input type="number" name="system.conversion.value" value="{{system.conversion.value}}"
								min="0.01" step="0.01">
						</label>
					</div>
				{{/unless}}
				{{> "blackFlag.equipment-description" hidePrice=true}}
				{{> "blackFlag.equipment-source"}}
			</section>
		</div>
	</div>

</form>
