<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{ document.img }}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{ name }}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{ localize "BF.Sheet.Tab.Description" }}</a>
		<a data-tab="details">{{ localize "BF.Sheet.Tab.Details" }}</a>
		<a data-tab="effects">{{ localize "BF.Sheet.Tab.AdvancementEffects" }}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				<div class="category">
					<label>
						<span>{{ localize "BF.Feature.Category.Label" }}</span>
						<select name="system.type.category">
							{{ selectOptions type.categories selected=system.type.category blank="" }}
						</select>
					</label>
					{{#if type.types}}
						<label>
							<span>{{ localize "BF.Feature.Type.Label" }}</span>
							<select name="system.type.value">
								<option value=""></option>
								{{#if type.categorySources}}
								  {{ blackFlag-groupedSelectOptions type.categorySources }}
								{{/if}}
								{{#if type.types.options}}
									<optgroup label="{{ type.types.label }}">
										{{ selectOptions type.types.options selected=system.type.value }}
									</optgroup>
								{{/if}}
							</select>
						</label>
					{{/if}}
					{{#if type.typeSources}}
						<label>
							<span>{{ localize "BF.Feature.Source" }}</span>
							<select name="system.identifier.associated">
								{{ blackFlag-groupedSelectOptions type.typeSources blank="" }}
							</select>
						</label>
					{{/if}}
					{{#if type.displayLevel}}
						<label>
							<span>{{ localize "BF.Level.Label[one]" }}</span>
							<input type="number" name="system.level.value" {{#if type.fixedLevel}}value="
							       {{~ type.fixedLevel }}" disabled {{~else~}} value="{{ system.level.value }}"{{/if}}>
						</label>
					{{/if}}
				</div>
				{{#if (or editable system.restriction.label)}}
					<div class="prerequisite">
						<span>
							{{ localize "BF.Prerequisite.Label" }}: {{#if system.restriction.label}}
							{{~{ system.restriction.label }}}{{else}}{{ localize "None" }}{{/if}}
						</span>
						{{#if editable}}
							<button type="button" class="link-button" data-action="config" data-type="prerequisite"
							        data-tooltip="BF.Prerequisite.Action.Config"
											aria-label="{{ localize 'BF.Prerequisite.Action.Config' }}">
								<i class="fa-solid fa-cog" inert></i>
							</button>
						{{/if}}
					</div>
				{{/if}}
				<div class="description-area">
					<prose-mirror name="system.description.value" data-document-u-u-i-d="{{ item.uuid }}"
					              value="{{ source.description.value }}" toggled="true" class="description">
						{{{ enriched.description }}}
					</prose-mirror>
				</div>
				{{> "blackFlag.document-source" }}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			<fieldset>
				<legend>{{ localize "BF.Feature.Details" }}</legend>
				<label class="full-checkbox">
					<span class="hinted-label" data-tooltip="BF.Prerequisite.AllowMultipleTimes.Hint">
						{{ localize "BF.Prerequisite.AllowMultipleTimes.Label" }}
					</span>
					<input type="checkbox" name="system.restriction.allowMultipleTimes"
								 {{ checked system.restriction.allowMultipleTimes }}>
				</label>
			</fieldset>
			{{> "blackFlag.item-activities" }}
		</div>
		<div class="tab" data-group="primary" data-tab="effects">
			{{> "blackFlag.item-active-effects" }}
			{{> "blackFlag.item-advancement" }}
		</div>
	</div>

</form>
