<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{document.img}}">
		</figure>
		<h1>
			<input type="text" name="name" value="{{document.name}}">
		</h1>
	</header>

	<main class="sheet-body">
		<div class="category">
			<label>
				<span>{{localize "BF.Item.Feature.Category.Label"}}</span>
				<select name="system.type.category">
					{{selectOptions featureCategories selected=system.type.category blank=""}}
				</select>
			</label>
			{{#if featureTypes}}
				<label>
					<span>{{localize "BF.Item.Feature.Type.Label"}}</span>
					<select name="system.type.value">
						{{selectOptions featureTypes selected=system.type.value blank=""}}
					</select>
				</label>
			{{/if}}
			{{#if (eq system.type.category "class")}}
				<label>
					<span>{{localize "BF.Level.Label[one]"}}</span>
					<input type="number" name="system.level.value" value="{{system.level.value}}">
				</label>
			{{/if}}
		</div>
		{{editor enriched.description target="system.description.value" button=true
			editable=editable engine="prosemirror" collaborate=false}}
		<label class="source">
			<span>
				{{localize "BF.Item.Source.Label"}}
				<i class="fa-solid fa-circle-question hintIcon" data-tooltip="BF.Item.Source.Hint"></i>
			</span>
			<input type="text" name="system.description.source" value="{{system.description.source}}">
		</label>
	</main>

</form>
