<blackFlag-activities>
	<fieldset>
		<legend>
			{{localize "BF.Activity.Label[other]"}}
			<a data-action="add">
				<i class="fa-solid fa-plus"></i>
			</a>
		</legend>
		<ul class="items-list activity-list">
			{{#each system.activities}}
				<li class="item activity-entry" data-activity-id="{{this.id}}">
					<div class="item-name activity-name">
						<figure class="icon">
							<img src="{{this.img}}">
						</figure>
						<h4>{{this.name}}</h4>
					</div>
					<div class="item-controls activity-controls">
						{{#if @root.editable}}
							<a data-action="edit">
								<i class="fa-solid fa-edit"></i>
							</a>
							<a data-action="delete">
								<i class="fa-solid fa-trash"></i>
							</a>
						{{else}}
							<a data-action="view">
								<i class="fa-solid fa-eye"></i>
							</a>
						{{/if}}
					</div>
				</li>
			{{/each}}
		</ul>
	</fieldset>
</blackFlag-activities>

<blackFlag-uses>
	<fieldset>
		<legend>{{localize "BF.Uses.Label"}}</legend>
		<div class="field-group">
			<span>{{localize "BF.Uses.Limits.Label"}}</span>
			<label>
				<span>{{localize "BF.Uses.Minimum.Label"}}</span>
				<input type="text" name="system.uses.min" value="{{source.uses.min}}" placeholder="0">
			</label>
			<label>
				<span>{{localize "BF.Uses.Maximum.Label"}}</span>
				<input type="text" name="system.uses.max" value="{{source.uses.max}}" placeholder="0">
			</label>
		</div>
		<label>
			<span>{{localize "BF.Uses.Spent.Label"}}</span>
			<input type="number" name="system.uses.spent" value="{{system.uses.spent}}">
		</label>
	</fieldset>
</blackFlag-uses>
