<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{ document.img }}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{ document.name }}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{ localize "BF.Sheet.Tab.Description" }}</a>
		<a data-tab="details">{{ localize "BF.Sheet.Tab.Details" }}</a>
		<a data-tab="effects">{{ localize "BF.Sheet.Tab.Effects" }}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				<div class="category">
					<label>
						<span>{{ localize "BF.Spell.Circle.Label" }}</span>
						<select name="system.circle.base">
							{{ selectOptions spellCircles selected=source.circle.base }}
						</select>
					</label>
					<label>
						<span>{{ localize "BF.Spell.Source.Label" }}</span>
						<blackFlag-multiSelect name="system.source" label="{{ system.source.label }}">
							<datalist>
								{{#blackFlag-multiSelect system.source}}
									{{ selectOptions CONFIG.spellSources.localized }}
								{{/blackFlag-multiSelect}}
							</datalist>
						</blackFlag-multiSelect>
					</label>
					<label>
						<span>{{ localize "BF.Spell.School.Label" }}</span>
						<select name="system.school">
							{{ selectOptions CONFIG.spellSchools selected=system.school labelAttr="label" blank="" localize=true }}
						</select>
					</label>
				</div>
				<div class="description-area">
					<prose-mirror name="system.description.value" data-document-u-u-i-d="{{ item.uuid }}"
					              value="{{ source.description.value }}" toggled="true" class="description">
						{{{ enriched.description }}}
					</prose-mirror>
				</div>
				{{> "blackFlag.document-source" }}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			<section>
				{{#if item.isEmbedded}}
					<fieldset>
						<legend>{{ localize "BF.Spell.Configuration" }}</legend>
						<label>
							<span>{{ localize "BF.Spell.Preparation.Label" }}</span>
							<select name="flags.black-flag.relationship.mode">
								{{ selectOptions CONFIG.spellPreparationModes.localized selected=flags.black-flag.relationship.mode }}
							</select>
						</label>
						{{#if item.system.alwaysPreparable}}
							<label class="full-checkbox">
								<span>{{ localize "BF.Spell.Preparation.AlwaysPrepared" }}</span>
								<input type="checkbox" name="flags.black-flag.relationship.alwaysPrepared"
							         {{ checked flags.black-flag.relationship.alwaysPrepared }}>
							</label>
						{{/if}}
						<label>
							<span>{{ localize "BF.Spellcasting.Ability.Label" }}</span>
							<select name="flags.black-flag.relationship.origin.ability">
								{{ selectOptions CONFIG.abilities.localized selected=flags.black-flag.relationship.origin.ability
						  	                 blank=(localize "BF.Default.Specific" default=system.defaultAbility) }}
							</select>
						</label>
					</fieldset>
				{{/if}}
				<fieldset>
					<legend>{{ localize "BF.Item.Description.FullLabel" }}</legend>
					<label>
						<span>{{ localize "BF.Item.Description.ShortLabel" }}</span>
						<input type="text" name="system.description.short" value="{{ system.description.short }}">
					</label>
				</fieldset>
				<fieldset class="casting">
					<legend>{{ localize "BF.Spell.Casting.Label" }}</legend>
					<div class="field-group">
						<span>{{ localize "BF.Spell.CastingTime.Label" }}</span>
						{{#if system.casting.scalar}}
							<label>
								<span>{{ localize "BF.ACTIVATION.FIELDS.activation.value.label" }}</span>
								<input type="number" name="system.casting.value" value="{{ source.casting.value }}" min="0" step="1">
							</label>
						{{/if}}
						<label>
							<span>{{ localize "BF.ACTIVATION.FIELDS.activation.type.label" }}</span>
							<select name="system.casting.type">
								{{ blackFlag-groupedSelectOptions activationOptions }}
							</select>
						</label>
					</div>
					<label>
						<span>{{ localize "BF.ACTIVATION.FIELDS.activation.condition.label" }}</span>
						<input type="text" name="system.casting.condition" value="{{ system.casting.condition }}">
					</label>
					<div class="field-group">
						<span>{{ localize "BF.DURATION.Label" }}</span>
						{{#if system.duration.scalar}}
							<label>
								<span>{{ localize "BF.DURATION.FIELDS.duration.value.label" }}</span>
								<input type="text" name="system.duration.value" value="{{ source.duration.value }}">
							</label>
							{{!-- TODO: If formula is used, add tooltip to display value at various levels --}}
						{{/if}}
						<label>
							<span>{{ localize "BF.DURATION.FIELDS.duration.units.label" }}</span>
							<select name="system.duration.units">
								{{ blackFlag-groupedSelectOptions durationOptions }}
							</select>
						</label>
					</div>
					{{#if (eq system.duration.units "special")}}
						<label>
							<span>{{ localize "BF.Duration.Special" }}</span>
							<input type="text" name="system.duration.special" value="{{ system.duration.special }}">
						</label>
					{{/if}}
					<div class="field-group">
						<span>{{ localize "BF.Spell.Tag.Label" }}</span>
						<div class="tags checkbox-list">
							{{#each tags}}
								<label>
									<input type="checkbox" name="system.tags.{{ @key }}" {{ checked selected }}>
									{{ label }}
								</label>
							{{/each}}
						</div>
					</div>
				</fieldset>
				{{> "blackFlag.activity-range" range=system.range prefix="system." }}
				{{> "blackFlag.activity-affects" target=system.target prefix="system." }}
				{{> "blackFlag.activity-template" target=system.target prefix="system." }}
				<fieldset class="components">
					<legend>{{ localize "BF.Spell.Component.Label" }}</legend>
					<div class="checkbox-list">
						{{#each components}}
							<label>
								<input type="checkbox" name="system.components.required.{{ @key }}" {{ checked selected }}>
								{{ label }}
							</label>
						{{/each}}
					</div>
					{{#if components.material.selected}}
						<label>
							<span>{{ localize "BF.Spell.Component.Material.Description.Label" }}</span>
							<input type="text" name="system.components.material.description"
							       value="{{ system.components.material.description }}">
						</label>
						<div class="field-group">
							<span>{{ localize "BF.Spell.Component.Material.Cost.Label" }}</span>
							<label>
								<span>{{ localize "BF.Spell.Component.Material.Cost.Label" }}</span>
								<input type="number" name="system.components.material.cost"
								       value="{{ system.components.material.cost }}">
							</label>
							<label>
								<span>{{ localize "BF.Currency.Denomination.Label" }}</span>
								<select name="system.components.material.denomination">
									{{ selectOptions CONFIG.currencies selected=system.components.material.denomination
									                 labelAttr="abbreviation" localize=true }}
								</select>
							</label>
							<label>
								<span>{{ localize "BF.Spell.Component.Material.Consumed.Label" }}</span>
								<input type="checkbox" name="system.components.material.consumed"
								       {{ checked system.components.material.consumed }}
								       {{ disabled (not system.components.material.cost) }}>
							</label>
						</div>
					{{/if}}
				</fieldset>
				{{> "blackFlag.item-activities" }}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="effects">
			{{> "blackFlag.item-active-effects" }}
		</div>
	</div>

</form>
