<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{ document.img }}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{ document.name }}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{ localize "BF.Sheet.Tab.Description" }}</a>
		<a data-tab="details">{{ localize "BF.Sheet.Tab.Details" }}</a>
		<a data-tab="effects">{{ localize "BF.Sheet.Tab.Effects" }}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				<div class="category">
					<label>
						<span>{{ localize "BF.Spell.Circle.Label" }}</span>
						<select name="system.circle.base">
							{{ selectOptions spellCircles selected=source.circle.base }}
						</select>
					</label>
					<label>
						<span>{{ localize "BF.Spell.Source.Label" }}</span>
						<blackFlag-multiSelect name="system.source" label="{{ system.source.label }}">
							<datalist>
								{{#blackFlag-multiSelect system.source}}
									{{ selectOptions CONFIG.spellSources.localized }}
								{{/blackFlag-multiSelect}}
							</datalist>
						</blackFlag-multiSelect>
					</label>
					<label>
						<span>{{ localize "BF.Spell.School.Label" }}</span>
						<select name="system.school">
							{{ selectOptions CONFIG.spellSchools selected=system.school labelAttr="label" blank="" localize=true }}
						</select>
					</label>
				</div>
				<div class="description-area">
					{{ editor enriched.description target="system.description.value" button=true
					          editable=editable engine="prosemirror" collaborate=false }}
				</div>
				{{> "blackFlag.item-source" }}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			<section>
				{{#if item.isEmbedded}}
					<fieldset>
						<legend>{{ localize "BF.Spell.Configuration" }}</legend>
						<label>
							<span>{{ localize "BF.Spell.Preparation.Label" }}</span>
							<select name="flags.black-flag.relationship.mode">
								{{ selectOptions CONFIG.spellPreparationModes selected=flags.black-flag.relationship.mode
																 labelAttr="label" localize=true }}
							</select>
						</label>
						{{#if item.system.alwaysPreparable}}
							<label class="full-checkbox">
								<span>{{ localize "BF.Spell.Preparation.AlwaysPrepared" }}</span>
								<input type="checkbox" name="flags.black-flag.relationship.alwaysPrepared"
							         {{ checked flags.black-flag.relationship.alwaysPrepared }}>
							</label>
						{{/if}}
					</fieldset>
				{{/if}}
				<fieldset>
					<legend>{{ localize "BF.Item.Description.FullLabel" }}</legend>
					<label>
						<span>{{ localize "BF.Item.Description.ShortLabel" }}</span>
						<input type="text" name="system.description.short" value="{{ system.description.short }}">
					</label>
				</fieldset>
				<fieldset class="casting">
					<legend>{{ localize "BF.Spell.Casting.Label" }}</legend>
					<div class="field-group">
						<span>{{ localize "BF.Spell.CastingTime.Label" }}</span>
						{{#if system.casting.scalar}}
							<label>
								<span>{{localize "BF.Activation.Cost.Label"}}</span>
								<input type="number" name="system.casting.value" value="{{source.casting.value}}" min="0" step="1">
							</label>
						{{/if}}
						<label>
							<span>{{localize "BF.Activation.Type.Label"}}</span>
							<select name="system.casting.type">
								{{blackFlag-groupedSelectOptions activationOptions}}
							</select>
						</label>
					</div>
					<label>
						<span>{{localize "BF.Activation.Condition.Label"}}</span>
						<input type="text" name="system.casting.condition" value="{{system.casting.condition}}">
					</label>
					<div class="field-group">
						<span>{{localize "BF.Duration.Label"}}</span>
						{{#if system.duration.scalar}}
							<label>
								<span>{{localize "BF.Duration.Value.Label"}}</span>
								<input type="text" name="system.duration.value" value="{{source.duration.value}}">
							</label>
							{{!-- TODO: If formula is used, add tooltip to display value at various levels --}}
						{{/if}}
						<label>
							<span>{{localize "BF.Duration.Type.Label"}}</span>
							<select name="system.duration.units">
								{{blackFlag-groupedSelectOptions durationOptions}}
							</select>
						</label>
					</div>
					{{#if (eq system.duration.units "special")}}
						<label>
							<span>{{localize "BF.Duration.Special"}}</span>
							<input type="text" name="system.duration.special" value="{{system.duration.special}}">
						</label>
					{{/if}}
					<div class="field-group">
						<span>{{localize "BF.Spell.Tag.Label"}}</span>
						<div class="tags checkbox-list">
							{{#each tags as |tag key|}}
								<label>
									<input type="checkbox" name="system.tags.{{key}}" {{checked tag.selected}}>
									{{tag.label}}
								</label>
							{{/each}}
						</div>
					</div>
				</fieldset>
				<fieldset class="targeting">
					<legend>{{ localize "BF.Targeting.Label" }}</legend>
					<div class="field-group">
						<span>{{ localize "BF.Target.Label[one]" }}</span>
						{{#if system.target.affects.scalar}}
							<label>
								<span>{{ localize "BF.Target.Count.Label" }}</span>
								<input type="text" name="system.target.affects.count" value="{{ source.target.affects.count }}"
								       placeholder="{{ system.target.affects.placeholder }}">
							</label>
						{{/if}}
						<label>
							<span>{{ localize "BF.Target.Type.Label" }}</span>
							<select name="system.target.affects.type">
								{{ selectOptions CONFIG.targetTypes.localized selected=system.target.affects.type blank="" }}
							</select>
						</label>
					</div>
					{{#if (eq system.target.affects.type "special")}}
						<label>
							<span>{{ localize "BF.Target.Special.Label" }}</span>
							<input type="text" name="system.target.affects.special" value="{{ system.target.affects.special }}">
						</label>
					{{/if}}
					<!-- TODO: If area of effect, does it only affect targets of your choice -->
					<div class="range field-group">
						<span>{{localize "BF.Range.Label"}}</span>
						{{#if system.range.scalar}}
							<label>
								<span>{{localize "BF.Range.Value.Label"}}</span>
								<input type="text" name="system.range.value" value="{{source.range.value}}">
							</label>
						{{/if}}
						<label>
							<span>{{localize "BF.Range.Unit.Label"}}</span>
							<select name="system.range.units">
								{{#select system.range.units}}
									<option></option>
									{{selectOptions CONFIG.rangeTypes labelAttr="label" localize=true}}
									<optgroup label="{{localize 'BF.Distance.Label'}}">
										{{selectOptions CONFIG.distanceUnits.localized}}
									</optgroup>
								{{/select}}
							</select>
						</label>
						{{#if (eq system.range.units "special")}}
							<label>
								<span>{{localize "BF.Range.Special.Label"}}</span>
								<input type="text" name="system.range.special" value="{{system.range.special}}">
							</label>
						{{/if}}
					</div>
					<label>
						<span>{{localize "BF.AreaOfEffect.Type.Label"}}</span>
						<select name="system.target.template.type">
							{{#select system.target.template.type}}
								<option value=""></option>
								{{selectOptions CONFIG.areaOfEffectTypes.localized}}
							{{/select}}
						</select>
						<!-- TODO: Add template count -->
					</label>
					{{#if aoeSizes}}
						<div class="field-group">
							<span>{{localize "BF.AreaOfEffect.Size.Label"}}</span>
							<label>
								<span>{{localize aoeSizes.size}}</span>
								<input type="text" name="system.target.template.size" value="{{source.target.template.size}}">
							</label>
							{{#if aoeSizes.width}}
								<label>
									<span>{{localize "BF.AreaOfEffect.Size.Width.Label"}}</span>
									<input type="text" name="system.target.template.width" value="{{source.target.template.width}}">
								</label>
							{{/if}}
							{{#if aoeSizes.height}}
								<label>
									<span>{{localize "BF.AreaOfEffect.Size.Height.Label"}}</span>
									<input type="text" name="system.target.template.height" value="{{source.target.template.height}}">
								</label>
							{{/if}}
							<label>
								<span>{{localize "BF.AreaOfEffect.Units.Label"}}</span>
								<select name="system.target.template.units">
									{{selectOptions CONFIG.distanceUnits.localized selected=system.target.template.units}}
								</select>
							</label>
						</div>
					{{/if}}
				</fieldset>
				<fieldset class="components">
					<legend>{{localize "BF.Spell.Component.Label"}}</legend>
					<div class="checkbox-list">
						{{#each components as |component key|}}
							<label>
								<input type="checkbox" name="system.components.required.{{key}}" {{checked component.selected}}>
								{{component.label}}
							</label>
						{{/each}}
					</div>
					{{#if components.material.selected}}
						<label>
							<span>{{localize "BF.Spell.Component.Material.Description.Label"}}</span>
							<input type="text" name="system.components.material.description"
								value="{{system.components.material.description}}">
						</label>
						<div class="field-group">
							<span>{{localize "BF.Spell.Component.Material.Cost.Label"}}</span>
							<label>
								<span>{{localize "BF.Spell.Component.Material.Cost.Label"}}</span>
								<input type="number" name="system.components.material.cost" value="{{system.components.material.cost}}">
							</label>
							<label>
								<span>{{localize "BF.Currency.Denomination.Label"}}</span>
								<select name="system.components.material.denomination">
									{{selectOptions CONFIG.currencies selected=system.components.material.denomination
										labelAttr="abbreviation" localize=true}}
								</select>
							</label>
							<label>
								<span>{{localize "BF.Spell.Component.Material.Consumed.Label"}}</span>
								<input type="checkbox" name="system.components.material.consumed"
									{{checked system.components.material.consumed}} {{disabled (not system.components.material.cost)}}>
							</label>
						</div>
					{{/if}}
				</fieldset>
				{{> "blackFlag.item-activities"}}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="effects">
			{{> "blackFlag.active-effects" }}
		</div>
	</div>

</form>
