<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{document.img}}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{document.name}}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{localize "BF.Sheet.Tab.Description"}}</a>
		<a data-tab="details">{{localize "BF.Sheet.Tab.Details"}}</a>
		<a data-tab="effects">{{localize "BF.Sheet.Tab.AdvancementEffects"}}</a>
	</nav>
	
	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				<div class="category">
					<label>
						<span>{{localize "BF.Feature.Talent.Category.Label"}}</span>
						<select name="system.type.category">
							{{selectOptions talentCategories selected=system.type.category blank=""}}
						</select>
					</label>
				</div>
				{{#if (or editable system.restriction.label)}}
					<div class="prerequisite">
						<span>
							{{localize "BF.Prerequisite.Label"}}: {{#if system.restriction.label}}
								{{~system.restriction.label}}{{else}}{{localize "None"}}{{/if}}
						</span>
						{{#if editable}}
							<a data-action="config" data-type="prerequisite">
								<i class="fa-solid fa-cog"></i>
							</a>
						{{/if}}
					</div>
				{{/if}}
				<div class="description-area">
					{{editor enriched.description target="system.description.value" button=true
						editable=editable engine="prosemirror" collaborate=false}}
				</div>
				<label class="source">
					<span>
						{{localize "BF.Item.Source.Label"}}
						<i class="fa-solid fa-circle-question hintIcon" data-tooltip="BF.Item.Source.Hint"></i>
					</span>
					<input type="text" name="system.description.source" value="{{system.description.source}}">
				</label>
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			{{> "blackFlag.item-activities"}}
		</div>
		<div class="tab" data-group="primary" data-tab="effects">
			{{> "blackFlag.active-effects"}}
			{{> "blackFlag.item-advancement"}}
		</div>
	</div>

</form>
