<form autocomplete="off">

	<header class="sheet-header">
		<figure class="icon">
			<img src="{{ document.img }}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{ name }}">
		</h1>
	</header>

	<nav class="sheet-navigation tabs tabs_separate" data-group="primary">
		<a data-tab="description">{{ localize "BF.Sheet.Tab.Description" }}</a>
		<a data-tab="details">{{ localize "BF.Sheet.Tab.Details" }}</a>
		<a data-tab="effects">{{ localize "BF.Sheet.Tab.Effects" }}</a>
	</nav>

	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="description">
			<section>
				{{> "blackFlag.equipment-categories" }}
				{{> "blackFlag.equipment-description" }}
				{{> "blackFlag.document-source" }}
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			<section>
				{{> "blackFlag.equipment-attunement" }}
				<fieldset class="properties checkbox-list">
					<legend>{{ localize "BF.Property.Label[other]" }}</legend>
					{{#each properties}}
						<label>
							<input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}> {{ label }}
						</label>
					{{/each}}
				</fieldset>
				<fieldset>
					<legend>{{ localize "BF.Weapon.Details" }}</legend>
					{{#if properties.magical.selected}}
						<label>
							<span class="hinted-label" data-tooltip="BF.Weapon.MagicalBonus.Hint">
								{{ localize "BF.Weapon.MagicalBonus.Label" }}
							</span>
							<input type="number" name="system.magicalBonus" value="{{ source.magicalBonus }}" step="1" min="0">
						</label>
					{{/if}}
					<div class="damage field-group">
						<span>{{ localize "BF.DAMAGE.Label" }}</span>
						<label class="die-count">
							<span>{{ localize "BF.Die.Number.Label" }}</span>
							<input type="number" name="system.damage.base.number" value="{{ source.damage.base.number }}"
							       step=1 min=1>
						</label>
						<label class="die-denomination">
							<span>{{ localize "BF.Die.Denomination.Label" }}</span>
							<select name="system.damage.base.denomination">
								{{ selectOptions CONFIG.dieSteps.labeled selected=source.damage.base.denomination blank="" }}
							</select>
						</label>
						<label>
							<span>{{ localize "BF.DAMAGE.Type.Label" }}</span>
							<select name="system.damage.base.type">
								{{ selectOptions CONFIG.damageTypes selected=source.damage.base.type
								                 labelAttr="label" localize=true sort=true blank="" }}
							</select>
						</label>
					</div>
					{{#if properties.ammunition.selected}}
						<label class="ammunition-type">
							<span>{{ localize "BF.AMMUNITION.Type.Label" }}</span>
							<select name="system.ammunition.type">
								{{ selectOptions CONFIG.ammunition.localized selected=source.ammunition.type blank="" }}
							</select>
						</label>
					{{/if}}
					{{#if (or (eq source.type.value "ranged") properties.thrown.selected)}}
						<div class="range field-group">
							<span>{{ localize "BF.RANGE.Label" }}</span>
							<label>
								<span>{{ localize "BF.RANGE.FIELDS.range.short.label" }}</span>
								<input type="number" name="system.range.short" step=0.1 min=0 value="{{ source.range.short }}">
							</label>
							<label>
								<span>{{ localize "BF.RANGE.FIELDS.range.long.label" }}</span>
								<input type="number" name="system.range.long" step=0.1 min=0 value="{{ source.range.long }}">
							</label>
							{{!-- TODO: Range units, only if reach isn't also displayed --}}
						</div>
					{{/if}}
					{{#if properties.reach.selected}}
						<label class="reach">
							<span>{{ localize "BF.Reach.Label" }}</span>
							<input type="number" name="system.range.reach" step="0.1" min="0" value="{{ source.range.reach }}"
							       placeholder="+5">
							{{!-- TODO: Reach units --}}
						</label>
					{{/if}}
				</fieldset>
				<fieldset class="options checkbox-list">
					<legend>{{ localize "BF.Weapon.Option.Label[other]" }}</legend>
					{{#each options}}
						<label>
							<input type="checkbox" name="system.options.{{ @key }}" {{ checked selected }}>
							{{ label }}
						</label>
					{{/each}}
				</fieldset>
				{{> "blackFlag.item-activities" }}
				<fieldset>
					<legend>{{ localize "BF.Override.Label[other]" }}</legend>
					<label>
						<span>{{ localize "BF.Proficiency.Label[one]" }}</span>
						<select name="system.overrides.proficiency">
							{{ selectOptions proficiencyOptions selected=source.overrides.proficiency }}
						</select>
					</label>
				</fieldset>
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="effects">
			{{> "blackFlag.item-active-effects" }}
		</div>
	</div>

</form>
